<h4>
  <%= t 'commontator.email.comment_created.body',
        creator_name: @creator_name, commontable_name: @commontable_name %>
</h4>

<%= render partial: 'commontator/comments/body', locals: { comment: @comment } %>

<p>
  <%= t 'commontator.email.thread_link_html',
         comment_url: @comment_url, commontable_name: @commontable_name %>
</p>
