<div class="card home-feature-card">
  <%= image_tag asset_path(@image_path), alt: @image_alt, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= t(@title_key) %></h5>
    <p class="card-text"><%= t(@text_key) %></p>
  </div>
</div>
