<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card circuit-card">
    <%= image_tag image_path, alt: circuit_name, class: "card-img-top circuit-card-image", height: 180, width: 288 %>
    <div class="card-footer circuit-card-footer">
      <div class="circuit-card-name">
        <p><%= circuit_name %></p>
        <span class="tooltiptext"><%= circuit_name %></span>
      </div>
      <%= link_to t("view"), circuit_url, class: "btn primary-button circuit-card-primary-button", target: "_blank" %>
    </div>
  </div>
</div>
