<div class="col-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card home-feature-card">
    <%= image_tag @image, alt: @alt, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= @title %></h5>
      <p class="card-text"><%= @text %></p>
    </div>
  </div>
</div> 
