<div class="col-12 home-tertiary-button-container">
  <a class="btn tertiary-button" href="/teachers"><%= t("circuitverse.index.for_teachers") %></a>
  <a class="btn tertiary-button" href="/contribute"><%= t("circuitverse.index.for_contributors") %></a>
</div> 

