<div class="home-main-content">
  <h1><%= t("circuitverse.index.main_heading") %></h1><br>
  <p><%= t("circuitverse.index.main_description") %></p>
  <div class="home-buttons-container justify-content-center">
    <a class="btn primary-button home-simulator-button" href='/simulator'><%= t("launch_simulator") %></a>
    <a href="https://learn.circuitverse.org/" target="blank" class="btn anchor-text-button anchor-text">
      <%= t("circuitverse.index.learn_logic_design") %>
    </a>
  </div>
</div> 

