<div class="<%= @column_classes %>">
  <div class="card contribute-card">
    <%= image_tag @image_src, alt: @alt_text, class: "card-img-top contribute-card-image mx-auto d-block" %>
    <div class="card-body contribute-card-body">
      <h3 class="card-title"><%= t(@title_key) %></h3>
      <ul class="card-text">
        <% @items.each do |item| %>
          <li class="my-2"><%= t(item) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
