<% if current_announcement %>
  <% if current_announcement.start_date <= Date.current && current_announcement.end_date >= Date.current %>
    <div class=" alert alert-success  container text-center">
      <p><%== current_announcement.body %></p>
      <% if current_announcement.link? %>
        <a href="<%= current_announcement.link %>">read more!!</a>
      <% end %>
    </div>
  <% end %>
<% end %>
