  <% if announcement_exists?(current_announcement) %>
    <% if current_announcement.start_time <= Date.current && current_announcement.end_time >= Date.current %>
      <div class=" alert alert-success  container text-center">
        <p><%== current_announcement.body %></p>
      </div>
    <%end%>
  <%end%>
  