<% if current_announcement %>
  <% if current_announcement.start_date <= Date.current && current_announcement.end_date >= Date.current %>
    <div class="container announcements-content-wrapper">
      <span><%== current_announcement.body %></span>
      <% if current_announcement.link? %>
        <%= link_to t("announcements.learn_more"), current_announcement.link, target: :_blank, class: "btn primary-delete-button" %>
      <% end %>
    </div>
  <% end %>
<% end %>
