<div class="container">
  <div class="row center-row">
    <div class="col-xs col-sm-12 col-md-12 col-lg-12">
      <h1 class="submain-heading"><%= t("announcements.new_announcement") %></h1> <br>
      <div class="form-container">
        <%= render 'form',announcement: Announcement.new %>
      </div>
    </div>
  </div>
</div>
