FACEBOOK_CLIENT_ID=<facebook-client-id>
FACEBOOK_CLIENT_SECRET=<facebook-client-secret>
GOOGLE_CLIENT_ID=<google-client-id>
GOOGLE_CLIENT_SECRET=<google-client-secret>
GITHUB_CLIENT_ID=<github-client-id>
GITHUB_CLIENT_SECRET=<github-client-secret>
GITLAB_CLIENT_ID=<gitlab-client-id>
GITLAB_CLIENT_SECRET=<gitlab-client-secret>
SLACK_ISSUE_HOOK_URL=<Slack-hook-url>
BUGSNAG_API_KEY=''
RECAPTCHA_SITE_KEY=<google-recaptcha-site-key>
RECAPTCHA_SECRET_KEY=<google-recaptcha-secret-key>
IDP_SSO_URL=<sso-idp-url>
IDP_FINGERPRINT=<sso-idp-fingerprint-certificate>
CALLBACK_ADDRESS=<sso-callback-address>
AWS_S3_ACCESS_KEY_ID=''
AWS_S3_SECRET_ACCESS_KEY=''
ENABLE_OTEL=''
NEW_RELIC_API_KEY=<new-relic-license-key-here>
SENTRY_DSN=''
SMTP_ADDRESS=<smtp-address>
SMTP_PORT=<smtp-port>
