<div class="foot">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col" style="text-align: center">
        <p style="text-align: center">Brought to you by</p>
        <a href="https://www.iiitb.ac.in/"><img src="/img/iiitb.jpg" id="footer-logo-iiitb" alt="iiitb-logo"></a>
      </div>
      <div class="col" style="text-align: center">
        <p style="text-align: center">Hosting Sponsor</p>
        <a href="http://digitalocean.com/" ><img src="/img/DO.png" id="footer-logo-DO" alt="digital-ocean-logo"></a>
      </div>

      <!-- For breaking the line into two lines when the screen size is not big enough -->
      <div class="d-block d-sm-none w-100"><br/></div>

      <div class="col align-bottom" style="text-align: center">
        <p style="text-align: center">Marketed by</p>
        <a href="http://www.iiitb.org/"><img src="/img/istudio.png" id="footer-logo-istudio" alt="iiitb-logo"></a>
      </div>
      <div class="col" style="text-align: center">
        <p style="text-align: center">Developed by</p>
        <a href="http://zense.co.in/"><img src="/img/zense.png" id="footer-logo-zense" alt="zense-logo"></a>
      </div>
    </div>
  </div>
</div>
