version: '1.0.{build}'
image: 'Visual Studio 2022'

cache:
  - vendor/bundle

environment:
  RAILS_ENV: test
  COVERALLS_SERVICE_NAME: appveyor
  nodejs_version: "14"

services:
  - postgresql13
  
  # Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  - choco install imagemagick.app -y
  - ridk exec sh -c "pacman -S ${MINGW_PACKAGE_PREFIX}-postgresql --noconfirm"
  # - ridk exec sh -c "pacman -S libxml2 --noconfirm"
  - refreshenv
  - set PATH=C:\Ruby30-x64\bin;%PATH%
  - ruby -v
  # - bundle config build.nokogiri --use-system-libraries
  - bundle config --local path vendor/bundle
  - bundle install
  - npm install

build: off

before_test:
  - ruby -v
  - gem install bundler
  - gem -v
  - bundle -v
  - copy config\database.appveyor.yml config\database.yml
  - ruby bin\rake db:create
  - ruby bin\rails db:schema:load
  - npm run build
  - openssl genrsa  -out config/private.pem 2048
  - openssl rsa -in config/private.pem -outform PEM -pubout -out config/public.pem
  - magick identify -version

test_script:
  - bundle exec rspec --format RspecJunitFormatter --out test_results/rspec.xml --format progress --tag ~@skip_windows
