version: "3.1"
services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: circuitverse_development
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
  sidekiq:
    depends_on:
      - db
      - redis
    build: .
    command: bundle exec sidekiq -q default -q mailers
    volumes:
      - /circuitverse/.bundle
      - /circuitverse/node_modules
      - .:/circuitverse
      - ./config/database.docker.yml:/circuitverse/config/database.yml
    environment:
      REDIS_URL: "redis://redis:6379/0"
  web:
    build: .
    entrypoint: /circuitverse/bin/docker_run
    volumes:
      - /circuitverse/.bundle
      - /circuitverse/node_modules
      - .:/circuitverse
      - ./config/database.docker.yml:/circuitverse/config/database.yml
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
      - sidekiq
    environment:
      REDIS_URL: "redis://redis:6379/0"
      CIRCUITVERSE_USE_SOLR: "false"
      WEBPACKER_DEV_SERVER_HOST: "webpacker"
  redis:
    image: redis
  webpacker:
    build: .
    environment:
      - NODE_ENV=development
      - RAILS_ENV=development
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
    entrypoint: /circuitverse/bin/docker_webpacker_run
    volumes:
      - .:/circuitverse
      - /circuitverse/.bundle
      - /circuitverse/node_modules
    ports:
      - '127.0.0.1:3035:3035'

# volumes:
# app:
# public:
