version: '3'
services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: circuitverse_development
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
  web:
    build: .
    entrypoint: /circuitverse/bin/docker_run
    volumes:
      - ./app:/circuitverse/app
      - ./public:/circuitverse/public
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      REDIS_URL: "redis://redis:6379/0"
  redis:
    image: redis
volumes:
  app:
  public:
