version: "3.1"
services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: circuitverse_development
      POSTGRES_PASSWORD: postgres
  sidekiq:
    depends_on:
      - db
      - redis
      - mailcatcher
    build: .
    command: bundle exec sidekiq -q default -q mailers
    volumes:
      - /circuitverse/.bundle
      - /circuitverse/node_modules
      - .:/circuitverse:rw
      - ./config/database.docker.yml:/circuitverse/config/database.yml:rw
    environment:
      REDIS_URL: "redis://redis:6379/0"
  web:
    build: .
    entrypoint: /circuitverse/bin/docker_run
    volumes:
      - /circuitverse/.bundle
      - /circuitverse/node_modules
      - .:/circuitverse:rw
      - ./config/database.docker.yml:/circuitverse/config/database.yml:rw
    ports:
      - "3000:3000"
      - "3001:3001"
    depends_on:
      - db
      - redis
      - sidekiq
    environment:
      REDIS_URL: "redis://redis:6379/0"
      CIRCUITVERSE_USE_SOLR: "false"
      DOCKER_ENVIRONMENT: 'true'
      HOST_CURRENT_DIRECTORY: $PWD
  redis:
    image: redis:7.0-alpine
  asset_build:
    build: .
    environment:
      - NODE_ENV=development
      - RAILS_ENV=development
    command: yarn build --watch
    volumes:
      - .:/circuitverse:rw
      - /circuitverse/.bundle
      - /circuitverse/node_modules
    ports:
      - '127.0.0.1:3035:3035'
  solargraph:
    build: .
    command: solargraph socket --host=0.0.0.0 --port=3002
    volumes:
      - /circuitverse/.bundle
      - /circuitverse/node_modules
      - .:/circuitverse:rw
    ports:
      - '3002:3002'
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - '127.0.0.1:1080:1080'
      - '127.0.0.1:1025:1025'

volumes:
  app:
  public:
