
<% content_for :title,  "Edit Assignment" %>

<div class="container projects-new-container">
  <div class="row center-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="submain-heading">Edit Assignment</h1>
      <h2 class="submain-heading assignments-submain-heading">Group: <%= @group.name %></h2> <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-container">
        <%= render 'form', assignment: @assignment , group:@group %>
      </div>
    </div>
  </div>
</div>
