
<% content_for :title,  "Edit Assignment" %>

<div class="container newproject-container">
  <div class="row row-text">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="heading-submain">Edit Assignment</h1>
      <h2 class="heading-submain newassignment-heading-submain">Group: <%= @group.name %></h2> <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="newproject-form-container">
        <%= render 'form', assignment: @assignment , group:@group %>
      </div>
    </div>
  </div>
</div>
