<div class="container">
  <div class="row feature">

    <div class="col">

      <h1>Editing Assignment</h1>


      <%= render 'form', assignment: @assignment , group:@group %>

      <%= link_to 'Back', group_path(@group) %>

    </div>


  </div>
  <br />

  <br />



</div>

