<link rel="stylesheet" type="text/css" href="/css/tooltip.css">
<div class="container">
  <div class="row feature">
    <div class="col">
      <h1 style="margin-bottom: 15px;">New Assignment <small><%= @group.name %></small></h1>

      <%= render 'form', assignment: @assignment , group:@group %>

      <%= link_to 'Back', group_path(@group) %>
    </div>
  </div>
</div>
