<div class="container">
  <div class="row feature">

    <div class="col">
      <h1>New Assignment</h1>

      <%= render 'form', assignment: @assignment , group:@group%>

      <%= link_to 'Back', user_group_path(@group.mentor, @group) %>

    </div>


  </div>
  <br />

  <br />



</div>
