<div>
  <h2>Welcome to CircuitVerse, <%= @user.name %></h2>
  <%= inline_svg_tag "SVGs/featuredProject.svg", alt: "New Project", class: "mailer-assignment-image" %>
  <p class="mailer-text">Yay! You project, <span class="mailer-highlighted-text"><%= @project.name %></span> has been featured on the platform.</p>
  <a href="<%= user_project_url(@user, @project) %>" class="mailer-button">View Project</a>
  <p class="mailer-text">Keep building!</p>
</div>
<script>
if(localStorage.getItem('dark-mode')) {
  document.documentElement.classList.add('dark-mode');
}
</script>