<div class="mailer-hero-image">
  <%= inline_svg_tag "homepage/new_homepage_sketch.png", alt: "Welcome", class: "mailer-group-image" %>
</div>

<p>
  Welcome to CircuitVerse, <%= @user.name %>!
</p>

<p>
  Thanks for signing up. Click the link below to get started:
</p>

<p>
  <a href="https://circuitverse.org/simulator">Launch Simulator</a>
</p>
