<link rel="stylesheet" type="text/css" href="/css/error.css">

<div class="no-query-search">
  <% if params[:q].blank? %>
    <div class="search-empty-message">
      <%= image_tag "empty_project/no_query.png", alt: "No search query" %>
      <%= t("search.empty_query_message") %>
    </div>
  <% elsif @results.empty? %>
    <div class="search-empty-message">
      <%= t("search.no_results_found", query: h(params[:q])) %>
    </div>
  <% end %>
  
  <div class="row row-errorpage">
    <div class="col col-sm col-md col-lg">
      <%= link_to root_path, class: "return text-decoration-none pb-5" do %>
        <i class="fa fa-chevron-left pe-2"></i>Return To Homepage
      <% end %>
    </div>
  </div>
</div>