<% content_for :title, t("circuitverse.examples.title") %>
<div class="container">
  <div class="row center-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="main-heading"><%= t("circuitverse.examples.main_heading") %></h1>
      <p class="main-description"><%= t("circuitverse.examples.main_description") %></p>
    </div>
  </div>
  <div class="row center-row examples-container">
    <% @examples.each do |example| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <%= render(HomepageComponents::FeaturedExampleCardComponent.new(
        image_path: example[:img],
        image_alt: example[:name],
        title: example[:name],
        link_url: "https://circuitverse.org/#{example[:id]}"
        )) %>
      </div>
    <% end %>
  </div>
</div>
