.navbar, .foot {
    display: none;
}

.mail-preview-header {
    padding: 10px 20px;
    background: #F3F3F3
}

.send-link {
    margin-left: 15px;
}

.mail-status {
    color: #7E7E7E;
    margin-left: 10px;
}
