.navbar,
.foot {
    display: none;
}

.mail-preview-header {
    padding: 10px 20px;
    background: #f3f3f3;
}

.send-link {
    margin-left: 15px;
}

.mail-status {
    color: #7e7e7e;
    margin-left: 10px;
}
