.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 17px;
    margin-bottom: 0px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 2;
    left: 0;
    right: 0;
    bottom: -2;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#clockProperty{
    padding: 10px;
    border-radius: 2px;
    background-color: gainsboro;
}
#clockPropertyHeader{

}
#clockProperty{
    font-size: 12px;
    padding: 5px;
    border-radius: 2px;
    background-color: gainsboro;
    opacity: 0.1;
    border: 1px solid #0D3349;
    -webkit-transition: .4s;
    transition: .4s;

}
#clockProperty:hover{
    opacity: 1;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#tabsBar .circuits {
    color: #000;
    text-align: center;
    background-color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #111;
    /*border-radius: 0.1em;*/
    display: inline-block;


}
button:focus {outline:0;}
#tabsBar .circuits:hover {
    background-color: lightgray;
    /*border: 1px solid #0099ff;*/
    transition-duration: 100ms

}
#tabsBar .current {
    /*background-color: #0086b3;*/
    color:white;
    background-color: grey;
    transition-duration: 100ms
    /*border: 1px solid #0099ff;*/


}
.noSelect {
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
.pointerCursor {
    cursor: pointer;
}
.defaultCursor {
    cursor: default;
}
.simulation{
    position: relative;
    width:auto;
    height:100%;
    overflow:hidden;
    background-color: "white";
}

#elementName {
    position:absolute;
    left: 6px; bottom: 6px;
    background-color: white;
    z-index:101;
    color: black;
    padding: 1px;
    border: 0.5px solid black;
    display: none;
}


/* LOADING ICON CSS STARTS*/
.loader-container {
    position: absolute;
    display: none; 
    width: 320px;
    height: 320px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.outer-box {
    position: absolute;
    background: transparent;
    width: inherit;
    height: inherit;
}
.inner-box {
    position: absolute;
    width: 100%;
    stroke-width: 100%;
    height: 100%;
    background: #000;
    border-radius: 5%;
    overflow: hidden;

}
.rect {
    position: absolute;
    top: 82.69%;
    left: 65%;
    width: 44.23%;
    height: 7.69%;
    background: none;
    transform: rotateZ(45deg);
}
.rect1 {
    stroke: #fff;
    position: absolute;
    max-width: inherit;
    max-height: inherit;
    top: 47%;
    left: 24%;
    width: 48.07%;
    height: 7.69%;
    background: none;
    color: #fff;
    transform: rotateZ(135deg);
}
.rect2 {
    position: absolute;
    top: 5%;
    left: 28%;
    width: 32.67%;
    height: 7.69%;
    max-width: inherit;
    max-height: inherit;
    background: none;
    color: #fff;
    transform: rotateZ(135deg);
}
.circles {
    border-radius: 50%;
    position: absolute;
    width: 23.07%;
    height: 23.07%;
    top: 60%;
    left: 60%;
    background: none;
    color: #fff;
}
.circles:nth-of-type(2){
    top: 15%;
    left: 15%; 
}
.circles:nth-of-type(3){
    top: 60%;
    left: 15%;
}
.circles:nth-of-type(4){
    top: 15%;
    left: 60%;   
}
.circ
{
    border-radius: 50%;
    position: absolute;
    width: 7.69%;
    height: 7.69%;
    top: 68%;
    left: 68%;
    background: #000;
    color: #fff;
}  
.circ:nth-of-type(2)
{
    top: 23%;
    left: 23%;

}
.circ:nth-of-type(3)
{
    top: 68%;
    left: 23%;
}
.circ:nth-of-type(4)
{
    top: 23%;
    left: 68%;
}
.first-arm {
    animation: first-anim 3s infinite ease-out;
    -webkit-animation: first-anim 3s infinite ease-out;
    animation-delay: 80ms;
    -webkit-animation-delay: 80ms;
}
.third-arm {
    animation: first-anim 3s infinite ease-out;
    -webkit-animation: first-anim 3s infinite ease-out;
    animation-delay: 100ms;
    -webkit-animation-delay: 100ms;
}
.second-arm {
    animation: first-anim 3s infinite ease-out;
    -webkit-animation: first-anim 3s infinite ease-out;
    animation-delay: 120ms;
    -webkit-animation-delay: 120ms;
}
@keyframes first-anim {
    0% { background: white; }
    20% {background: lightblue; transform: perspective(320px) rotateX(30deg);}
    30% {background: lightblue; transform: perspective(320px) rotateX(30deg);}
    40% { background: #0f45aa; transform: perspective(640px) rotateX(90deg); }
    60% {background: lightblue; transform: perspective(320px) rotateX(30deg);}   
    70% { background: white; }
    80% { background: white; }    
    100% { background: white; }
}
/* LOADING ICON CSS ENDS*/


#restrictedElementsDiv {
    position: absolute;
    bottom: 10;
    right: 2;
    z-index: 100;
    width: 215px;
    font-size: 14px;
    background-color: gainsboro;
    border: 1px solid #0D3349;
    opacity: .1;
    padding: 3px 5px;
}

#restrictedElementsDiv:hover {
    opacity: 1;
    transition: .4s;
}
