.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 17px;
    margin-bottom: 0px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 2;
    left: 0;
    right: 0;
    bottom: -2;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#clockProperty{
    padding: 10px;
    border-radius: 2px;
    background-color: gainsboro;
}
#clockPropertyHeader{

}
#clockProperty{
    font-size: 12px;
    padding: 5px;
    border-radius: 2px;
    background-color: gainsboro;
    opacity: 0.1;
    border: 1px solid #0D3349;
    -webkit-transition: .4s;
    transition: .4s;

}
#clockProperty:hover{
    opacity: 1;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#tabsBar .circuits {
    color: #000;
    text-align: center;
    background-color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #111;
    /*border-radius: 0.1em;*/
    display: inline-block;


}
button:focus {outline:0;}
#tabsBar .circuits:hover {
    background-color: lightgray;
    /*border: 1px solid #0099ff;*/
    transition-duration: 100ms

}
#tabsBar .current {
    /*background-color: #0086b3;*/
    color:white;
    background-color: grey;
    transition-duration: 100ms
    /*border: 1px solid #0099ff;*/


}
.noSelect {
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
.pointerCursor {
    cursor: pointer;
}
.defaultCursor {
    cursor: default;
}
.simulation{
    position: relative;
    width:auto;
    height:100%;
    overflow:hidden;
    background-color: "white";
}

#elementName {
    position:absolute;
    left: 6px; bottom: 6px;
    background-color: white;
    z-index:101;
    color: black;
    padding: 1px;
    border: 0.5px solid black;
    display: none;
}


/* LOADING ICON CSS STARTS*/

.loading-icon-hole {
    stroke: white;
    animation: loading_icon_hole_color_fade 3s infinite;
    -webkit-animation: loading_icon_hole_color_fade 3s infinite;
}

.loading-icon-arm {
    fill: white;
    animation: loading_icon_arm_color_fade 3s infinite;
    -webkit-animation: loading_icon_arm_color_fade 3s infinite;
}

#loading-icon circle:nth-of-type(3) {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

#loading-icon circle:nth-of-type(4) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#loading-icon path:nth-of-type(1) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#loading-icon path:nth-of-type(2) {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

@keyframes loading_icon_hole_color_fade {
    0% { stroke: white; }
    50% { stroke: #007bff; }
    100% { stroke: white; }
}

@keyframes loading_icon_arm_color_fade {
    0% { fill: white; }
    50% { fill: #007bff; }
    100% { fill: white; }
}

#loading-icon {
    width: inherit;
    height: inherit;
}

#loading-icon {
    width: inherit;
    height: inherit;
}

.loading-icon-container {
    width: 64px;
    height: 64;
    left: 50%;
    top: 50%;
    margin-left: -64px;
    margin-top: -64px;
    position: absolute;
    z-index: 100;
    display: none;
}
/* LOADING ICON CSS ENDS*/


#restrictedElementsDiv {
    position: absolute;
    bottom: 10;
    right: 2;
    z-index: 100;
    width: 215px;
    font-size: 14px;
    background-color: gainsboro;
    border: 1px solid #0D3349;
    opacity: .1;
    padding: 3px 5px;
}

#restrictedElementsDiv:hover {
    opacity: 1;
    transition: .4s;
}
