p{
    text-align: justify;
}

.feature{
    border:1px solid rgba(0,0,0,.125);
    padding:  1.25rem;
    border-radius: 0.25em;
}

.gif-box{
	position:absolute;
	text-align: center;
	top: 50%;
}

body {
    padding-top: 100px;
    min-height: 100vh;
    position:relative;
}
@media (max-width: 979px) {
    body {
        padding-top: 100px;
    }
}

.jumbotron{
    margin-top:-50px;
}

img{
    max-width: 100%
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /*background-color: #efefef;*/
    text-align: center;
}

.noSelect {
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
.pointerCursor {
    cursor: pointer;
}
.defaultCursor {
    cursor: default;
}

@media only screen and (max-width: 700px){
    body {
        padding-bottom: 250px;
    }
    .foot{
        background-color: "transparent"
    }
}

#assignment-grade-form {
    display: inline-block;
    width: 100%;
}

#assignment-grade-grade {
    flex: 1;
}

#assignment-grade-remarks {
    flex: 1;
}

.error {
    color: red;
}

.grade-container {
    margin-top: 10px;
}

.bold {
    font-weight: 600;
}

.grade-show-container {
    margin-top: 17px;
}

.grade-form-help {
    margin-top: 5px;
    font-size: 12px;
}

.assignment-grade-inputs {
    display: flex;
    width: 100%;
}

/* css for about.html */
* {
  box-sizing: border-box;
}

.row {
  text-align: center;
}

#about {
  text-align: justify;
  margin: 30px 0 30px 0;
}

.heading {
  color: #026E57;
  font-family: 'Open Sans';
  margin-top: 40px;
  margin-bottom: 10px;
}

.about-btn{
  background-color: #42B983;
  color: white;
  transition: all 0.3s ease 0s;
  margin: 5px;
}

.about-btn:hover{
  color:white;
  background-color: #026E57;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-7px);
}

.contact{
  display: inline-block;
  background-color: #F9FFFC;
  box-shadow: 0px 2px 7px #00000029;
  opacity: 0.89;
  height: 89px;
  width: 300px;
  margin-top: 50px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 40px;
  padding: 15px;
}

.contact img {
  float: left;
}

#tab {
  text-decoration: none;
  text-align: center;
  color: black;
}

.team-heading h2 {
  margin-top: 30px;
  justify-content: center;
}

.team-card{
  display: inline-block;
  width: 250px;
  background-color: #FAFAFA;
  opacity: 1;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.team-cardheader{
  background-color: #42B983;
  opacity: 1;
  color: white;
}

.team-cardbody p{
  text-align: center;
}
/* end css for about.html */
