p{
    text-align: justify;
}

.feature{
    border:1px solid rgba(0,0,0,.125);
    padding:  1.25rem;
    border-radius: 0.25em;
}

.gif-box{
	position:absolute;
	text-align: center;
	top: 50%;
}

body {
    padding-top: 100px;
    min-height: 100vh;
    position:relative;
}
@media (max-width: 979px) {
    body {
        padding-top: 100px;
    }
}

.jumbotron{
    margin-top:-50px;
}

img{
    max-width: 100%
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /*background-color: #efefef;*/
    text-align: center;
}

.noSelect {
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
.pointerCursor {
    cursor: pointer;
}
.defaultCursor {
    cursor: default;
}

@media only screen and (max-width: 700px){
    body {
        padding-bottom: 250px;
    }
    .foot{
        background-color: "transparent"
    }
}

#assignment-grade-form {
    display: inline-block;
    width: 100%;
}

#assignment-grade-grade {
    flex: 1;
}

#assignment-grade-remarks {
    flex: 1;
}

.error {
    color: red;
}

.grade-container {
    margin-top: 10px;
}

.bold {
    font-weight: 600;
}

.grade-show-container {
    margin-top: 17px;
}

.grade-form-help {
    margin-top: 5px;
    font-size: 12px;
}

.assignment-grade-inputs {
    display: flex;
    width: 100%;
}
body{
  overflow-x: hidden;
}
.intro{
  padding-bottom: 50px;
  margin-bottom: 20px;
}
h1{
  text-align: center;
  color: #026E59;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 50px;
  padding-bottom: 10px;
}
.introl{
  font-weight: 600;
  text-align: center;
  line-height: 0.2;
  text-align-last: center;
}
@media only screen and  (max-width: 767px){
 .introl{
line-height: 1;
}
.box{
  position: relative;
  margin-left: 20%;
  }
}
.intro{
  margin-top: 80px;
}
.alternate{
  background-color: #F5FFFA;

}
.benefits{
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.change{
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 20%;
  margin-right: 10%;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}
.new{
  padding-top: 50px;
}
h6{
  margin-left: 20%;
  margin-right: 10%;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 1.3;
}
.edit{
  margin-top: 30px;
padding-top: 50px;
}
