.nav-text{
    color:white;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    position: relative;
   z-index: 100;
   transition: all 1s ease-out;
}
.nav-text:hover{
    color:#343a40;
    text-decoration: none;
}
.nav-text:hover::after{
   transform: scaleY(1);
    transition: all .3s ease-in-out;
   
}
.brand{
    font-family: 'Baloo Chettan 2', cursive;;
}
#moduleProperty{
    background: #343a40;
    border: none !important;
    outline: none !important;
    font-family: 'Baloo Chettan 2', cursive;
}
#moduleProperty-inner{
    background: #343a40;
    border: none !important;
    outline: none !important;
}
.objectPropertyAttribute{
    background: #343a40 !important;
    transition: all .1s ease-in;

}
.objectPropertyAttribute:focus{
    border-top: none !important;
    border-right: none;
    border-left: none;
}
.objectPropertyAttribute:focus{
    outline: none;
}
.btn{
    width: 100% !important;
    margin-top: 10px;
    text-transform: uppercase;
}
nav-text::after{
    transform: scaleY(0);
    content: "";
    background: white;
    width: 100%;
    height: 58px;
    display: block;
    position: absolute;
    top:-13px;
    margin-left: 6px;
   z-index: -1;
   transform-origin: bottom;
}
#projectName{
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
#sign{
    color:whitesmoke;
    text-transform: uppercase;
    display: block;
    
}
#sign:hover::after{
    transform: translateY(3px);
}
#sign:hover::before{
    transform: translateY(-3px);
}
#sign::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: wheat;
    transition: all .1s ease-in-out;
}
#sign::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: wheat;
    transition: all .1s ease-in-out;
}
.modal-brand{
    text-align: center;
    display: block;
}
.nav-brand{
    font-size: 30px;
}
#sideBar{
    background: #343a40 !important;
}
#modules-header{
    font-family: 'Cabin', sans-serif !important;
    text-transform: capitalize !important;
    text-align: left !important;
    margin-left: 7px;
    color:wheat !important;
}
.ui-accordion-header{
    background: rgb(55, 49, 59) !important;
    
    border: none !important;
    color: wheat !important;
    font-family: 'Baloo Chettan 2', cursive !important;
}
.ui-accordion-header.ui-accordion-header-active.ui-state-active{
    border-bottom: 4px solid white !important;
    outline: 1px solid red;
}
.ui-accordion .ui-accordion-content{
    background: #000;
    margin: 0px;
   
}