.ui-dialog[aria-describedby="customShortcutDialog"] {
  min-width: 680px;
}

#edit {
  display: none;
  position: absolute;
  width: 490px;
  height: 150px;
  background: #2d302e;
  border-radius: 5px;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* justify-content: center; */
  /* align-items: center; */
}

#edit > span {
  margin-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#pressedKeys {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
}

#customShortcutDialog {
  display: none;
  align-items: center;
  color: white;
  flex-direction: column;
}

#closeDialog {
  font-size: 25px;
  color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 0%;
  right: 2%;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

#dialogTitle {
  position: absolute;
  top: 2%;
  left: 3%;
  user-select: none;
  -moz-user-select: none;
}

#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 35px;
  user-select: none;
}

#heading > span {
  padding: 0 20px;
}

#preference {
  width: 100%;
  overflow-y: auto;
}

/* #preference >div:nth-of-type(even) {
    background-color: #747474;
} */

#preference div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  /* background-color: #747474; */
}

#preference div > span {
  padding: 0 30px;
  /* text-align: left; */
}

/* #submitbtn {
  text-decoration: none;
  height: 28px;
  width: 70px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffffff;
  position: absolute;
  bottom: 2.5%;
  right: 3%;
  border-radius: 3px;
  padding-bottom: 5px;
  color: #fff;
}
#resetDefault {
  text-decoration: none;
  height: 28px;
  width: 140px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffffff;
  position: absolute;
  bottom: 2.5%;
  right: 20%;
  border-radius: 3px;
  padding-bottom: 5px;
  color: #fff;
} */

#preference > div:hover {
  background-color: #7474743f;
}

#preference > div:hover::before {
  content: "";
  background-image: url(../img/edit_icon.png);
  position: absolute;
  margin-left: 5px;
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
}
