.deleteOff {
    color: red;
    float: right;
    cursor: pointer;
    padding: 2px;
}

#contextMenu {
    width: 150px;
    visibility: hidden;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 100;
    background: #fff;
    opacity: 0;
    top: 100;
    left: 100;
    cursor: pointer;
    color: #000;
    padding-bottom: 4px;
    padding-top: 4px;
    transition: opacity 0.2s ease-in-out;
    user-select: none;
}

#contextMenu ul {
    margin: 0;
    padding: 0;
    font: 16px sans-serif;
}

#contextMenu ul li {
    list-style: none;
    padding: 8px;
    padding-left: 20px;
}

#contextMenu ul li a {
    text-decoration: none;
    color: #000 !important;
}

#contextMenu ul li:hover {
    background: rgba(0, 0, 0, 0.1);
}

button:focus {
    outline: 0;
}

.side {
    width: 270px;
    height: 100%;
    background-color: #333;
    padding: 3px;
    color: #fff;
    border-side: 1px solid #0099ff;
    border-bottom: 40px solid #0099ff;
    padding: 0.5em;
}

.option {
    display: block;
    background-color: black;
    border: 1px solid #005cb3;
    color: #0099ff;
    padding: 5px;
    width: 200px;
    margin: 3px;
    word-wrap:break-word;
    overflow-x:hidden;
}

.pannel-heading {
    background-color: #f5f5f5;
}

#layoutDialog {
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: 101;
    width: 200px;
    height: 230px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: white;
    overflow-x: hidden;
}

.projectName {
    /*margin:3px;*/
    color: #0099ff;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    position: static;
    left: 50%;
    display: block;
    width: 500px;
    text-align: center;
    margin-left: -250px;
}

.inline {
    width: auto;
    padding-right: 20px;
    display: inline-block;
}

.option:hover {
    border-color: #0099ff;
}

input[type="radio"]:checked ~ label {
    color: #0dff92;
}

.option input[type="radio"] {
    margin-right: 5px;
    /*position: absolute;*/
    visibility: hidden;
}

.option input[type="radio"]:checked {
    /*position: absolute;*/
    visibility: visible;
}

.zoomButton:focus {
    outline: 0;
}

.zoomButton {
    padding: 5px;
    opacity: 0.3;
}

.zoomButton:hover {
    /*height:20px;
    width:20px;*/
    opacity: 0.8;
    transition: opacity 0.2s;
}

.ui-accordion-header-icon.ui-icon {
    /*background-image: url("./ui-icons_white_256x240.png");*/
}

.noSelect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.pointerCursor {
    cursor: pointer;
}

.defaultCursor {
    cursor: default;
}

#container {
    display: table;
    width: 100%;
    height: 100%;
}

#container > div {
    display: table-row;
    height: 0;
}

#container > div.fill {
    height: auto;
}

#modules-header {
    margin-bottom: 0.5em;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #0099ff;
    text-align: center;
    padding-top: 0.3em;
}

.panel {
    padding: 0em;
    background-color: #333;
    margin: 0;
    border-radius: 0;
    margin-bottom: 0em;
    border: 1px solid #0099ff;
}

.ui-accordion-header {
    background-color: #333;
    color: #fff;
    border: 1px solid #0099ff;
    border-radius: 0;
    margin: 0em;
    padding: 0em;
    outline: none;
}

.ui-accordion-header.ui-accordion-header-active.ui-state-active {
    background-color: #0099ff;
    outline: none;
    margin-bottom: 0;
}

.ui-accordion-header.ui-state-hover {
    background-color: #0066cc;
    outline: none;
    /*margin-bottom: 0;*/
}

/* MODULES */

.moduleProperty {
    display: none;
    background-color: #333;
    color: #fff;
    /*padding-bottom: 2em;*/
    margin-top: 1em;
}

#moduleProperty-inner {
    border: 1px solid #0099ff;
    padding: 1em;
    /*margin-bottom: 1em;*/
}

#moduleProperty-toolTip {
    padding: 10px;
    /*font-size: 1.1em;*/
    color: #0099ff;
}

#moduleProperty-title {
    text-transform: uppercase;
    font-size: 1.3em;
    color: #0099ff;
    margin-bottom: 0.55em;
    text-align: center;
}

#moduleProperty-header {
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

#moduleProperty-inner > p {
    margin: 0;
    margin-top: 0.2em;
}

input,
select {
    padding: 0.25rem;
}

.moduleProperty input,
.moduleProperty select {
    background-color: #333;
    border: none;
    border-bottom: 2px solid #ccc;
}

.moduleProperty input:active,
.moduleProperty input:focus,
.moduleProperty select:active,
.moduleProperty select:focus {
    border-bottom: 2px solid #0099ff;
}

.navbar.navbar-default {
    margin: 0px;
    border-radius: 0px;
    border: 0;
    padding: 0px;
    min-height: 0px;
    border-bottom: 1px solid #0099ff;
}

.navbar-brand {
    padding: 7px 15px;
    height: auto;
}

/* END OF MODULES  */

#tabsBar {
    width: 100%;
    /*height: 3em;*/
    margin-left: 20px;
    background-color: #000;
}

#tabsBar div {
    display: inline-block;
    /*padding-left: 0.5em;*/
    margin: 0.1em;
    color: #fff;
}

#tabsBar .circuits {
    color: #fff;
    text-align: center;
    background-color: #00284d;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #005cb3;
    border-radius: 0.1em;
}

#tabsBar .circuits:hover {
    background-color: #00ace6;
    /*border: 1px solid #0099ff;*/
    transition-duration: 100ms;
}

#tabsBar .current {
    /*background-color: #0086b3;*/
    background-color: #004280;
    border: 1px solid #0099ff;
}

th,
td {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    border: 1px solid #0099ff;
    color: white;
}

#booleanTable {
    width: 200px;
}

table {
    border-collapse: collapse;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#restrictedDiv {
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 560px;
    z-index: 100;
}

#restrictedElementsDiv {
    position: absolute;
    top: 90px;
    right: 10px;
    z-index: 100;
    width: 200px;
}

#MessageDiv {
    position: absolute;
    margin-left: 30px;
    bottom: 100px;
    /*height:auto;*/
    /*width:60%;*/
    /*padding: 2px;*/
    /*border: 3px solid red;*/
    /*border-radius: 6px;*/
    /*background-color: #fcc;*/
    z-index: 10;
}

.errorMessage {
    /*position: absolute;*/
    /*margin-left: 30%;*/
    /*bottom: 1px;*/
    height: auto;
    width: 100%;
    /*margin-bottom: 10px;*/
    padding: 2px;
    margin: 2px;
    border: 1px solid red;
    border-radius: 3px;
    background-color: #fee;
    font-size: 15px;
    /*z-index: 10;*/
}

.normalMessage {
    /*position: absolute;*/
    /*margin-left: 30%;*/
    /*bottom: 150px;*/
    height: auto;
    width: 100%;
    /*margin-bottom: 10px;*/
    padding: 2px;
    margin: 2px;
    border: 1px solid green;
    border-radius: 3px;
    background-color: #99ff33;
    font-size: 15px;
    /*z-index: 10;*/
}

#canvasArea {
    display: block;
    position: relative;
    /*height: 100%;*/
    width: 100%;
    background-color: red;
}

.simulation {
    position: relative;
    width: auto;
    height: 100%;
    overflow: hidden;
    background-color: "white";
}

.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 17px;
    margin-bottom: 0px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 2;
    left: 0;
    right: 0;
    bottom: -2;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Slider for white background */
.slider2 {
    position: absolute;
    cursor: pointer;
    top: 2;
    left: 0;
    right: 0;
    bottom: -2;
    /* border: 1px solid black; */
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider2:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0px;
    bottom: 0px;
    background-color: #aaa;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider2 {
    background-color: #2196f3;
}

input:focus + .slider2 {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider2.round {
    border-radius: 34px;
}

.slider2.round:before {
    border-radius: 50%;
}

#miniMap {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 40px;
    /*height:150px;
  width: 25%;*/
    overflow-y: scroll;
    background-color: black;
    /*border:1px solid #aaa;*/
    opacity: 0.97;
    box-shadow: 0px 0px 15px #888888;
    overflow: hidden;
    /*transition: opacity .25s ease-in-out;*/
}

#plot {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    /*display: block;*/
    /*height: 0px;*/
    /*width: 100%;*/
    overflow-y: scroll;
    background-color: #eee;
    /*background-blend-mode: color;*/
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon {
    position: relative;
    height: 60px;
    width: 60px;
    /*margin: 1px;*/
    margin-bottom: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    /*border-color: #0099ff;*/
    border: 2px solid #0099ff;
    text-align: center;
    font-size: 8px;
    padding: 3px;
}

img {
    display: none;
}

div.icon img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    /*margin: auto;*/
    width: 100%;
    /*height:100%;*/
    display: inline-block;
}

.img__description {
    position: absolute;
    /*top: 0;*/
    bottom: -10;
    left: 0;
    right: 0;
    background-color: #0099ff;
    color: white;
    font-size: 8px;
    /*background: rgba(29, 106, 154, 0.72);
  color: #fff;*/
    visibility: hidden;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity 0.2s, visibility 0.2s;
}

.icon:hover .img__description {
    visibility: visible;
    opacity: 1;
}

.icon:hover {
    /*background-color: #cce5ff;*/
    /*border-color: blue;*/
    margin-bottom: 1px;
    height: 64px;
    background-color: #f5f5f5;
    transition: height 0.2s margin 0.2s;
}

/* For loading screen - pace.js */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.pace-inactive {
    display: none;
}

#Help {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 50px;
    /* Center the snackbar */
    bottom: 50px;
    /* 30px from the bottom */
    opacity: 0;
}

#Help.show {
    visibility: visible;
    /* Show the snackbar */
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    /* Safari */
    transition-delay: 0.5s;
    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-duration: 0.3s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 0px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 50%;
    height: 5px;
}

/* dropdown-menu styles */

.dropdown-menu {
    background-color: black;
    border: 1px solid #09f;
    border-top: none;
}

.navbar-nav > li > a {
    padding: 7px 15px;
}

.dropdown-menu > li > a {
    color: #939393 !important;
    padding: 3px 14px;
}

.dropdown-menu > li > a:hover {
    color: #4db8ff !important;
    background-color: black;
}

.ui-dialog {
    background: #222;
}

.ui-dialog p {
    color: #9d9d9d;
}

.ui-widget-header {
    border: 1px solid #0099ff;
    color: #0099ff;
}

.ui-dialog-buttonpane {
    background-color: black;
}

.ui-dialog-titlebar {
    background-color: black;
}

.ui-dialog-titlebar-close {
    background-image: url("../img/cross.png");
    position: absolute;
    right: 0.3em;
    top: 50%;
    width: 21px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.ui-icon-close {
    background-position: -80px -128px;
}

.ui-dialog .ui-dialog-buttonpane button {
    background-color: #004280;
    border: 1px solid #09f;
    color: white;
}

.navbar .nav.pull-right {
    float: right;
    margin-right: 10px;
    /*set margin this way in your custom stylesheet*/
}

/* LOADING ICON CSS STARTS*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #09f;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/* LOADING ICON CSS ENDS*/
