<div id="close-contest-confirmation-modal"
     class="modal fade"
     role="dialog"
     aria-labelledby="closeContestConfirmationModalLabel"
     aria-modal="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="closeContestConfirmationModalLabel" class="modal-title">
          <%= t("contest.close_contest_modal.heading") %>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= t("contest.close_contest_modal.description") %></p>
      </div>
      <div class="modal-footer">
        <%= link_to close_contest_path(contest.id), id: "close-contest-button", class: "btn primary-delete-button", method: :put do %>
          <span><%= t("contest.close_contest_modal.confirm_button") %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
