  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header primary-modal-header">
        <h4 class="modal-title">Host a new Contest</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to start a new contest?</p>
        <p>
        Hosting new contest can:
        <ul>
          <li>End the ongoing contest(if any)</li>
          <li>Make announcement to all the users to participate</li>
        </ul>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to "Confirm", new_contest_path , class: "btn primary-button groups-primary-button", method: :post %>
      </div>
    </div>
  </div>
</div>