<div id="host-new-contest-modal" class="modal fade" role="dialog" aria-labelledby="modal-title">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title"><%= t("contest.host_new_contest_modal.heading") %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= t("contest.host_new_contest_modal.description") %></p>
        <%= t("contest.host_new_contest_modal.description_html") %>
      </div>
      <div class="modal-footer">
        <%= link_to t("contest.close_contest_modal.confirm_button"), new_contest_path, class: "btn primary-button groups-primary-button", method: :post %>
      </div>
    </div>
  </div>
</div>
