<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 users-circuits-column circuit-card-js">
    <div class="card text-center users-card">
        <div class="card-header submission-card-header">
            <div class="users-card-name">
            <p>AND GATE</p>
            <span class="tooltiptext">AND GATE</span>
            </div>
        </div>
        <div class="card-body users-card-body">
            <img class="users-card-image" src="/uploads/project/image_preview/5/preview_1663047671939863.jpeg" alt="#">
        </div>
        <div class="card-footer users-card-footer d-flex justify-content-between align-items-center">
            <span class="font-weight-bold">Votes: 12</span>
            <div>
                <%= link_to t("view"), '#', class: "previewButton btn primary-button", data: {toggle: "modal", target: "#projectModal"} %>
                <%= link_to "Vote", '#', class: "previewButton btn primary-button" %>
            </div>
        </div>
    </div>
</div>