<div id="projectModal"
     class="modal fade"
     role="dialog"
     aria-labelledby="projectModalLabel"
     aria-modal="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="projectModalLabel" class="modal-title">
          <%= t("users.circuitverse.preview_project") %>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-4x3 feature feature-preview users-iframe-container">
          <iframe src="" id="project-ifram-preview" webkitAllowFullScreen mozAllowFullScreen allowFullScreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to t("more"), '#', class: "btn primary-button", id: "project-more-button", target: "_blank" %>
      </div>
    </div>
  </div>
</div>
