<!-- Withdraw submission confirmation modal -->
<div class="modal fade" id="withdraw-submission-confirmation-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="withdrawModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"><%= t("contest.withdraw_submission_modal.heading") %></h5>
        <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <p><%= t("contest.withdraw_submission_modal.description") %></p>
      </div>

      <div class="modal-footer">
        <%# ----------------------------------------------------------- %>
        <%# Safely build the withdraw link: use "#" when no submission %>
        <% current_user_submission = @contest&.submissions&.find_by(user_id: current_user&.id) %>
        <% withdraw_href   = current_user_submission ? withdraw_contest_submission_path(@contest.id,
                                                                               current_user_submission.id)
                                                    : "#" %>
        <% withdraw_opts   = { class: "btn primary-button danger-primary-button",
                               id:    "withdraw-submission-button" } %>
        <% withdraw_opts[:method] = :delete if current_user_submission %>

        <%= link_to t("contest.withdraw"), withdraw_href, withdraw_opts %>
        <%# ----------------------------------------------------------- %>
      </div>

    </div>
  </div>
</div>
