<div class="field form-group users-shared">
  <div class="input-group">
    <div class="row center-row users-shared-row">
      <h6 class="users-shared-row">or</h6>
    </div>
    <div class="row center-row auth-btns-container">
      <a href="/users/auth/google_oauth2">
        <div class="google-btn auth-btn">
          <div class="google-icon-wrapper auth-icon-wrapper">
            <img class="google-icon auth-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
          </div>
          <p class="btn-text"><b>Sign in with Google</b></p>
        </div>
      </a>
      <a href="/users/auth/facebook">
        <div class="facebook-btn auth-btn">
          <div class="facebook-icon-wrapper auth-icon-wrapper">
            <img class="facebook-icon auth-icon" src="https://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg"/>
          </div>
          <p class="btn-text"><b>Sign in with Facebook</b></p>
        </div>
      </a>
      <a href="/users/auth/github">
        <div class="github-btn auth-btn">
          <div class="github-icon-wrapper auth-icon-wrapper">
            <img class="github-icon auth-icon" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"/>
          </div>
          <p class="btn-text"><b>Sign in with GitHub</b></p>
        </div>
      </a>
    </div>
  </div>
</div>
