<div class="field form-group users-shared">
  <div class="input-group">
    <div class="row center-row users-shared-row">
      <h6 class="users-shared-row"><%= t("users.shared.login_with") %></h6>
    </div>
    <div class="row center-row">
      <a href="/users/auth/google_oauth2">
        <%= image_tag "SVGs/google-plus.svg", alt: "Google Icon", :class => "users-social-links" %>
      </a>
      <a href="/users/auth/facebook">
        <%= image_tag "SVGs/facebook.svg",alt: "Facebook Icon", :class => "users-social-links" %>
      </a>
      <a href="/users/auth/github">
        <%= image_tag "SVGs/github.svg",alt: "Github Icon", :class => "users-social-links" %>
      </a>
    </div>
  </div>
</div>
