<% content_for :title, @group.name %>
<div class="open_invc_container">
    <h4>Please wait while we open this assignment in CircuitVerse...</h4>
    <h6>If it doesn't work, please click the button below</h6>
    <a class="btn rounded-0 navbar-simulator-text" href="<%= group_path(@group) %>" target="_blank">Open assignment</a> 
</div>
<script>
    jQuery(document).ready(function() {
            $.get("#{group_path(@group)}", function(data) {
                window.location.replace("<%= group_path(@group) %>")
            });
        });
</script>