<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% User.all.find_each do |user| %>
      <tr>
        <td><%= link_to user.name, user_profile_index_path(user) %></td>
        <td><%= user.age %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
