<% content_for :title, "CircuitVerse - Support the platform" %>
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h1 class="display-3 ">Support CircuitVerse</h1>

                    <p>CircuitVerse aims to be free for ever and we promise that we will not run ads! The project is open source and to ensure
                      its continued development and maintenance we need your support. You can show us your support the following ways.
                    </p>

                      <p>
                        Contact us @
                        <a href="mailto:support@circuitverse.org" target="_top">support@circuitverse.org</a>
                      </p>
                </div>
                <div class="col">
                    <img src="img/logixBanner.png" class="img-fluid img-thumbnail" alt="Responsive image">
                </div>


            </div>
        </div>


    </div>
    <div class="container">
        <div class="row feature">

            <div class="col-6">
              <h3 class="card-title">If you are a fan you can</h3>
                 <ul>
                     <li> Create amazing circuits and share on the platform</li>
                     <li> Find and report bugs. Become a bug hunter</li>
                     <li> Introduce the platform to your buddies</li>

                 </ul>
                 <h4>If you are a developer you can</h4>
                 <ul>
                     <li>Contribute to the open source project</li>
                     <li>Add new features and fix bugs</li>
                 </ul>
            </div>
           <div class="col-6">

             <h4>If you are a teacher you can</h4>
               <ul>
                 <li> Introduce the platform to your students</li>
                 <li> Promote the platform within your circles</li>
                 <li> Create exciting educational content using CircuitVerse </li>
               </ul>
             <h4>If you have money to spare you can</h4>
               <ul>
                 <li> Become a patreon (recurring pledge)</li>
                 <li> Donate via PayPal (one time)</li>
               </ul>
               <!--<img src="img/logix.png" class="img-fluid img-thumbnail" alt="Responsive image">-->
           </div>
        </div>
      <br />
        <div class="row center feature">
          <div class="col-4 text-center">
            <a href="https://www.patreon.com/CircuitVerse" target="_blank"><img class="img-fluid " src="/img/patreon-logo.jpg" />Become a Patreon</a>
          </div>

          <div class="col-4 text-center">
            <a href="https://www.paypal.me/satviksr" target="_blank"><img class="img-fluid " src="/img/paypal-logo.png" />Donate through PayPal</a>
          </div>
          <div class="col-4 text-center">
            <a href="https://github.com/CircuitVerse" target="_blank"><img class="img-fluid " src="/img/github-logo.png" />Contribute to open source</a>
          </div>

        </div>
        <br />
        <br />



    </div>
