<% content_for :title, "CircuitVerse - Support the platform" %>
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h1 class="display-4 ">Support CircuitVerse</h1>

                    <p>CircuitVerse aims to be free for ever and we promise that we will not run ads! The project is open source and to ensure
                      its continued development and maintenance we need your support. You can show us your support the following ways.
                    </p>

                      <p>
                        Contact us @
                        <a href="mailto:support@circuitverse.org" target="_top">support@circuitverse.org</a>
                      </p>
                      <p>
                        Join our chat room @
                        <a href="<%= Rails.configuration.slack_url %>" target="_blank"> Slack </a>
                      </p>
                </div>
                <div class="col">
                    <img src="img/logixBanner.png" class="img-fluid img-thumbnail" alt="Responsive image">
                </div>


            </div>
        </div>


    </div>
   <div class="container" style="border:solid 1px #cecece">
<div class="card-deck" >

<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-0 col-xl-4 " style="margin-top:20px;">
<div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
        <h5 class="card-title" ><center>If you are a fan you can</center></h5>
    </div>
    <div class="card-body" style="background-color:#DCE3E3; >
            <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
                    <li class="list-group-item" >Create amazing circuits and share on the platform</li>
                    <li class="list-group-item" >Find and report bugs. Become a bug hunter</li>
                    <li class="list-group-item" >Introduce the platform to your buddie</li>
            </ul>
    </div>
</div>
</div>

<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-0 col-xl-4" style="margin-top:20px;">
<div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
            <h5 class="card-title" ><center>If you are a developer you can</center></h5>
        </div>
        <div class="card-body" style="background-color:#DCE3E3;">
                <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
                        <li class="list-group-item" >Contribute to the open source project</li>
                        <li class="list-group-item" >Add new features to the CircuitVerse project</li>
                        <li class="list-group-item" >Find and fix bugs to the CircuitVerse project</li>


                </ul>
        </div>
    </div>
</div>

<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-0 col-xl-4" style="margin-top:20px;">
<div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
                <h5 class="card-title" ><center>If you are a teacher you can</center></h5>
            </div>
            <div class="card-body" style="background-color:#DCE3E3;">
                    <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
                            <li class="list-group-item" >Introduce the platform to your students
                                </li>
                            <li class="list-group-item" >Promote the platform within your circles</li>
                            <li class="list-group-item" ">Create exciting educational content using CircuitVerse</li>
                    </ul>
            </div>
        </div>
 </div>


 <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-0 offset-lg-2 col-xl-4" style="margin-top:20px;margin-bottom:20px;" >
 <div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
            <h5 class="card-title" ><center>If you are a company or organisation, you can</center></h5>
        </div>
        <div class="card-body" style="background-color:#DCE3E3;">
                <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
                        <li class="list-group-item" >Become a CircuitVerse Partner (see Patreon)</li>
                        <li class="list-group-item" >Contact support for more details</li>

                </ul>
        </div>
    </div>
 </div>

 <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-4 col-lg-4 offset-lg-0   col-xl-4" style="margin-top:20px; margin-bottom:20px;">
 <div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
            <h5 class="card-title" ><center>If you have enough money to spare</center></h5>
        </div>
        <div class="card-body" style="background-color:#DCE3E3;">
                <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
                        <li class="list-group-item" >Become a patreon (recurring pledge)</li>
                        <li class="list-group-item" >Donate via PayPal <br>(one time)</li>

                </ul>
        </div>
    </div>


</div>
  </div>


      <br />
        <div class="row center feature">
          <div class="col-4 text-center">
            <a href="https://www.patreon.com/CircuitVerse" target="_blank"><img class="img-fluid " src="/img/patreon-logo.jpg" />Become a Patreon</a>
          </div>

          <div class="col-4 text-center">
            <a href="https://www.paypal.me/satviksr" target="_blank"><img class="img-fluid " src="/img/paypal-logo.png" />Donate through PayPal</a>
          </div>
          <div class="col-4 text-center">
            <a href="https://github.com/CircuitVerse" target="_blank"><img class="img-fluid " src="/img/github-logo.png" />Contribute to open source</a>
          </div>

        </div>
        <br />
        <br />



    </div>
