<% content_for :title, "CircuitVerse - Support the platform" %>
    <!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h1 class="display-4 ">Support CircuitVerse</h1>

        <p>CircuitVerse aims to be free for ever and we promise that we will not run ads! The project is open source and to ensure
          its continued development and maintenance we need your support. You can show us your support the following ways.
        </p>

        <p>
          Contact us @
          <a href="mailto:support@circuitverse.org" target="_top">support@circuitverse.org</a>
        </p>
        <p>
          Join our chat room @
          <a href="<%= Rails.configuration.slack_url %>" target="_blank"> Slack </a>
        </p>
      </div>
      <div class="col">
          <img src="img/logixBanner.png" class="img-fluid img-thumbnail" alt="Responsive image">
      </div>
    </div>
  </div>
</div>

<div class="container" style="border:solid 1px #cecece">
  <div class="card-deck" >
    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-0 col-xl-4 " style="margin-top:20px;">
      <div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
            <h5 class="card-title" ><center>If you are a fan you can</center></h5>
        </div>
        <div class="card-body" style="background-color:#DCE3E3; ">
          <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
            <li class="list-group-item" >
              <div style="display: grid; grid-template-columns: 1fr 3rem;">
                <div>Create amazing circuits and share on the platform</div>
                <div style="display: flex; align-items: center; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="/simulator" target="_blank"><img src="/img/favicon.ico" alt="CircutVerse logo"/></a></div>
              </div>
            </li>
            <li class="list-group-item" >
              <div style="display: grid; grid-template-columns: 1fr 3rem;">
                <div>Find and report bugs. Become a bug hunter</div>
                <div style="display: flex; align-items: center; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="https://github.com/CircuitVerse/CircuitVerse/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank"><img src="/img/github-logo-square.jpg" alt="GitHub logo"/></a></div>
              </div>
            </li>
            <li class="list-group-item" >Introduce the platform to your buddie</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-0 col-xl-4" style="margin-top:20px;">
      <div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
            <h5 class="card-title" ><center>If you are a developer you can</center></h5>
        </div>
        <div class="card-body" style="background-color:#DCE3E3;">
          <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
            <li class="list-group-item" >
              <div style="display: grid; grid-template-columns: 1fr 3rem;">
                <div>Contribute to the open source project</div>
                <div style="display: flex; align-items: center; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="https://github.com/CircuitVerse/CircuitVerse" target="_blank"><img src="/img/github-logo-square.jpg" alt="GitHub logo"/></a></div>
              </div>
            </li>
            <li class="list-group-item" >
              <div style="display: grid; grid-template-columns: 1fr 3rem;">
                <div>Add new features to the CircuitVerse project</div>
                <div style="display: flex; align-items: center; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="https://github.com/CircuitVerse/CircuitVerse" target="_blank"><img src="/img/github-logo-square.jpg" alt="GitHub logo"/></a></div>
              </div>
            </li>
            <li class="list-group-item" >
              <div style="display: grid; grid-template-columns: 1fr 3rem;">
                <div>Find and fix bugs to the CircuitVerse project</div>
                <div style="display: flex; align-items: center; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="https://github.com/CircuitVerse/CircuitVerse/issues" target="_blank"><img src="/img/github-logo-square.jpg" alt="GitHub logo"/></a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-0 col-xl-4" style="margin-top:20px;">
      <div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
            <h5 class="card-title" ><center>If you are a teacher you can</center></h5>
        </div>
        <div class="card-body" style="background-color:#DCE3E3;">
          <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
            <li class="list-group-item" >Introduce the platform to your students</li>
            <li class="list-group-item" >Promote the platform within your circles</li>
            <li class="list-group-item" >
              <div style="display: grid; grid-template-columns: 1fr 3rem;">
                <div>Create exciting educational content using CircuitVerse</div>
                <div style="display: flex; align-items: center; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="/simulator" target="_blank"><img src="/img/favicon.ico" alt="CircutVerse logo"/></a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-0 offset-lg-2 col-xl-4" style="margin-top:20px;margin-bottom:20px;" >
      <div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
            <h5 class="card-title" ><center>If you are a company or organisation, you can</center></h5>
        </div>
          <div class="card-body" style="background-color:#DCE3E3;">
            <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
              <li class="list-group-item" >
                <div style="display: grid; grid-template-columns: 1fr 3rem;">
                  <div>Become a CircuitVerse Partner</div>
                  <div style="display: flex; align-items: center; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="https://www.patreon.com/CircuitVerse" target="_blank"><img src="/img/patreon-logo-square.jpg" alt="Patreon logo"/></a></div>
                </div>
              </li>
              <li class="list-group-item" >
                <div style="display: grid; grid-template-columns: 1fr 3rem;">
                  <div>Contact support for more details</div>
                  <div style="display: flex; align-items: center; margin-left: 0.2rem; margin-right: 0.1rem; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="mailto:support@circuitverse.org" target="_blank"><img src="/img/help-icon.png" alt="Help icon"/></a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>

    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-4 col-lg-4 offset-lg-0   col-xl-4" style="margin-top:20px; margin-bottom:20px;">
      <div class="card " style="max-width: 19rem ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header" style="background-color:#C6CCCD; border-bottom-style:none">
            <h5 class="card-title" ><center>If you have enough money to spare</center></h5>
        </div>
        <div class="card-body" style="background-color:#DCE3E3;">
          <ul class="list-group" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
            <li class="list-group-item" >
              <div style="display: grid; grid-template-columns: 1fr 3rem;">
                <div>Become a patreon<br>(recurring pledge)</div>
                <div style="display: flex; align-items: center; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="https://www.patreon.com/CircuitVerse" target="_blank"><img src="/img/patreon-logo-square.jpg" alt="Patreon logo"/></a></div>
              </div>
            </li>
            <li class="list-group-item" >
              <div style="display: grid; grid-template-columns: 1fr 3rem;">
                <div>Donate via PayPal<br>(one time)</div>
                <div style="display: flex; align-items: center; justify-content: center; margin-left: 0.2rem; margin-right: 0.1rem;"><a href="https://www.paypal.me/satviksr" target="_blank"><img src="/img/paypal-logo-square.jpg" alt="Paypal logo"/></a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row center feature">
    <div class="col-4 text-center">
      <a href="https://www.patreon.com/CircuitVerse" target="_blank"><img class="img-fluid " src="/img/patreon-logo.jpg" alt="Patreon logo"/>Become a Patreon</a>
    </div>

    <div class="col-4 text-center">
      <a href="https://www.paypal.me/satviksr" target="_blank"><img class="img-fluid " src="/img/paypal-logo.png" alt="Paypal logo"/>Donate through PayPal</a>
    </div>
    <div class="col-4 text-center">
      <a href="https://github.com/CircuitVerse/CircuitVerse" target="_blank"><img class="img-fluid " src="/img/github-logo.png" alt="GitHub logo"/>Contribute to open source</a>
    </div>
  </div>
  <br />
  <br />
</div>