<% content_for :title, "CircuitVerse - Support the platform" %>
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
      <div class="row row-about">
        <div class="col-xs col-sm col-md col-lg">
          <h1 class="heading">CONTRIBUTE</h1>
            <h5>Learn about the awesome people behind CircuitVerse</h5>
            <p id="about">CircuitVerse aims to be free for ever and we promise that we will not run ads! The project is open source and to ensure its continued development and maintenance we need your support.</p>
          </div>
        </div>

        <div class="row row-about">
          <div class="col-xs col-sm col-md col-lg">
            <div class="contact">
              <img src="/assets/SVGs/email.svg" alt="" height="60px" width="60px">
              <h6>Email us at</h6>
              <p id="tab"><a href="mailto:support@circuitverse.org">support@circuitverse.org</a> </p>
            </div>
            <div class="contact">
              <img src="/assets/SVGs/slack.svg" alt="" height="60px" width="60px">
              <h6>Join and chat with us at</h6>
              <p id="tab"><a href="<%= Rails.configuration.slack_url %>">Slack Channel</a> </p>
            </div>
            <div class="contact">
              <img src="/assets/SVGs/github.svg" alt="" height="60px" width="60px">
              <h6>Contribute to Open Source</h6>
              <p id="tab"><a href="https://github.com/CircuitVerse">Github</a> </p>
            </div>
          </div>
        </div>
        <hr/>

      <div class="row row-about">
        <div class="col-xs col-sm col-md col-lg">
          <div class="team-heading">
            <h2>How to Support?</h2>
          </div>
        </div>
      </div>
          <div class="row row-about">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
              <div class="card card-contribute">
                <img class="card-img-top cardimage-contribute" src="/assets/SVGs/student.svg" alt="">
                <div class="card-body cardbody-contribute">
                  <h3 class="card-title" >I am a Student</h3>
                  <ul class="card-text">
                    <li>Create amazing circuits and share on the platform</li> <br>
                    <li>Find and report bugs. Become a bug hunter</li> <br>
                    <li>Introduce the platform to your buddie</li>
                  </ul>
                </div>
              </div>
            </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card card-contribute">
                  <img class="card-img-top cardimage-contribute" src="/assets/SVGs/professor.svg" alt="">
                  <div class="card-body cardbody-contribute">
                    <h3 class="card-title" >I am a Teacher</h3>
                    <ul class="card-text">
                      <li>Introduce the platform to your students</li> <br>
                      <li>Promote the platform within your circles</li> <br>
                      <li>Create exciting educational content using CircuitVerse</li>
                    </ul>
                  </div>
                </div>
              </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                  <div class="card card-contribute">
                    <img class="card-img-top cardimage-contribute" src="/assets/SVGs/coder.svg" alt="">
                    <div class="card-body cardbody-contribute">
                      <h3 class="card-title" >I am a Developer</h3>
                      <ul class="card-text">
                        <li>Create amazing circuits and share on the platform</li> <br>
                        <li>Find and report bugs. Become a bug hunter</li> <br>
                        <li>Introduce the platform to your buddie</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
                <div class="row row-about">
                  <div class="col-xs col-sm col-md col-lg">
                    <div class="contribute-pay">
                      <p>Become a Patreon</p>
                        <a href="https://www.patreon.com/CircuitVerse">
                          <div class="patreon">
                            <img class="contact-contribute" src="/assets/logos/patreon-logo.png" alt="">
                          </div>
                        </a>
                    </div>
                    <div class="contribute-pay">
                      <p>Donate through PayPal</p>
                        <a href="https://www.paypal.me/satviksr">
                          <div class="patreon">
                            <img class="contact-contribute" src="/assets/logos/paypal-logo.jpg" alt="">
                          </div>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
