<% content_for :title, "CircuitVerse - Examples" %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container-fluid">
  <div class="row row-examplepage mx-auto text-center">
    <div class="col-xs col-sm col-md col-lg">
      <h1 class="heading-examplepage my-4">Examples</h1>
      <h5>Learn and get inspired from the best examples and users</h5>
    </div>
  </div>
  <div class="row row-examplepage justify-content-around mx-auto text-center mb-3">
    <div class="col-xs col-sm col-md col-lg my-5">
      <a type="button" class="btn btn-examplepage my-3" href="#">Example Projects</a>
      <a type="button" class="btn btn-examplepage-light mx-4" data-toggle="modal" data-target="#popup">Top Users</a>
      <div class="modal fade" id="popup" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-examplepage mx-auto">Coming Soon!</h4>
            </div>
            <div class="modal-body">
              <p>We are coming up with Top Users section very soon</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-examplepage-close float-right p-1" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-examplepage justify-content-around mx-auto text-center">
    <div class="col-xs col-sm col-md col-lg container-examplepage pt-5 pb-5">
      <div class="form-inline mx-auto position-relative mb-4">
        <form id="search-box" class="nav-search-form-examplepage d-flex mx-auto position-relative" action="/search" accept-charset="UTF-8" method="get">
          <label for="search-bar"></label>
          <select name="resource" id="search-bar" class="form-control nav-bar-search-select search-type-examplepage pr-4">
            <option type="submit" selected="selected" value="Projects">
            </option>
          </select>
          <div class="search-logo-examplepage position-absolute">
            <i class="fa fa-search fa-search-examples position-relative text-center"></i>
          </div>
          <label for="q"></label>
          <input type="text" name="q" id="q" class="nav-bar-search-input-examplepage pl-1" placeholder="Search examples" autocomplete="off">
        </form>
      </div>
      <div class="row row-examplepage-middle mx-auto mt-2 text-center">
        <% @examples.each do |example| %>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card card-examplepage-example d-inline-block my-4 rounded-0">
              <%= image_tag example[:img], alt: example[:name], class: "card-img-top card-img-examplepage-example" %>
              <div class="card-footer card-footer-examplepage-example">
                <p class="examplepage-example-p d-inline-block float-left mt-2 overflow-hidden text-left text-truncate"><%= example[:name] %></p>
                <a href="https://circuitverse.org/<%= example[:id] %>"><button type="button" class="btn btn-about examplepage-example-button float-right mb-3">View</button></a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
