<% content_for :title, "CircuitVerse - Examples" %>
<div class="container">
  <div class="row row-text">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="heading-main">EXAMPLES</h1>
      <p class="heading-main-description">Learn and get inspired from the best examples and users</p>
    </div>
  </div>
  <div class="row row-text examples-container">
    <% @examples.each do |example| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card circuit-card">
          <%= image_tag example[:img], alt: example[:name], :class => "card-img-top circuit-card-image examples-circuit-card-image" %>
          <div class="card-footer circuit-card-footer">
            <div class="circuit-card-name">
              <p><%= example[:name] %></p>
            </div>
            <a class="btn button-primary circuit-card-button-primary" target="_blank" href="https://circuitverse.org/<%= example[:id] %>">View</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
