<% content_for :title, "CircuitVerse - Examples" %>
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1 class="display-3 ">Example Projects</h1>
                    <p>Check out these cool examples to learn how CircuitVerse works.</p>
                </div>

            </div>
        </div>


    </div>
    <div class="container">
        <div class="row feature">
                 <div class="col-12 col-md-8">
                     <h3 class="card-title">Full Adder from 2-Half Adders</h4>
                     <p class="card-text"></p>
                          <a class="btn btn-dark btn-lg" target="_blank" href="https://circuitverse.org/users/3/projects/247" role="button">View Example &raquo;</a>
                 </div>
                 <div class="col">
                     <img src="img/fullAdder.png" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />
        <div class="row feature">
                 <div class="col-12 col-md-8">
                     <h3 class="card-title">16 Bit ripple carry adder</h4>
                     <p class="card-text"></p>
                          <a class="btn btn-dark btn-lg" target="_blank" href="https://circuitverse.org/users/3/projects/248" role="button">View Example &raquo;</a>
                 </div>
                 <div class="col">
                     <img src="img/RippleCarry.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />
        <div class="row feature">
                 <div class="col-12 col-md-8">
                     <h3 class="card-title">Asynchronous Counter</h4>
                     <p class="card-text"></p>
                          <a class="btn btn-dark btn-lg" target="_blank" href="https://circuitverse.org/users/3/projects/249" role="button">View Example &raquo;</a>
                 </div>
                 <div class="col">
                     <img src="img/AsyncCounter.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />
        <div class="row feature">
                 <div class="col-12 col-md-8">
                     <h3 class="card-title">Keyboard</h4>
                     <p class="card-text"></p>
                          <a class="btn btn-dark btn-lg" target="_blank"  href="https://circuitverse.org/users/3/projects/250" role="button">View Example &raquo;</a>
                 </div>
                 <div class="col">
                     <img src="img/Keyboard.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />
        <div class="row feature">
                 <div class="col-12 col-md-8">
                     <h3 class="card-title">FlipFlop</h4>
                     <p class="card-text"></p>
                          <a class="btn btn-dark btn-lg" target="_blank"  href="https://circuitverse.org/users/3/projects/251" role="button">View Example &raquo;</a>
                 </div>
                 <div class="col">
                     <img src="img/FlipFlop.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />

        <div class="row feature">
                 <div class="col-12 col-md-8">
                     <h3 class="card-title">ALU 74LS181 by Ananth Shreekumar</h4>
                     <p class="card-text"></p>
                          <a class="btn btn-dark btn-lg" target="_blank" href="https://circuitverse.org/users/126/projects/252" role="button">View Example &raquo;</a>
                 </div>
                 <div class="col">
                     <img src="img/ALU.png" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />

        <div class="row feature">
                 <div class="col-12 col-md-8">
                     <h3 class="card-title">SAP-1</h4>
                     <p class="card-text">SAP-1 short for simple as possible computer is a 8 Bit computer. It can perform simple operations like Addition and Subtraction.</p>
                          <a class="btn btn-dark btn-lg" target="_blank"  href="https://circuitverse.org/users/3/projects/67" role="button">View Example &raquo;</a>
                 </div>
                 <div class="col">
                     <img src="img/SAP.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />

        <div class="row feature">
                 <div class="col-12 col-md-8">
                     <h3 class="card-title">Universal Shift Register</h4>
                     <p class="card-text">This is a universal bidirectional shift register which can shift the input to the right as well as left.</p>
                          <a class="btn btn-dark btn-lg" target="_blank"  href="https://circuitverse.org/users/13891/projects/45314" role="button">View Example &raquo;</a>
                 </div>
                 <div class="col">
                     <img src="img/shift_register.png" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />



      
    </div>
