<% content_for :title, "CircuitVerse - Examples" %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron1">
        <h1 class="display-3 head">Examples</h1>
        <p>Learn and get inspired from the best examples and users</p>
    </div>
    <div class="page_mid">
        <span>
            <a href="#" class="btn btn-lg styled_btn margin-right">Example Projects</a>
        </span>
        <span>
            <a href="#" class="btn styled_btn margin-right white">Top Users</a>
        </span>
    </div>
    <div class="contain col-lg-12 col-md-12">
        <div class="container">
            <div class="form-inline" id="ns">
                <form id="search-box" class="nav-search-form search_search" action="/search" accept-charset="UTF-8"method="get">
                        <select name="resource" id="search_type" class="form-control nav-bar-search-select ">
                            <option type="submit" selected="selected" value="Projects">
                            </option>
                        </select>
                        <div class="search_logo">
                            <i class="fa fa-search"></i>
                        </div>
                    <input type="text" name="q" id="q" class="nav-bar-search-input nav1" placeholder="Search a project" autocomplete="off">
                </form>
            </div>
        <section class="row">
            <div class="col-md-4 col-lg-4">
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/fullAdder.png" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-8 col-md-8 ">Full Adder from 2-Half&nbsp;Adders<pre></pre>
                        </div>
                        <div class="page_mid margin col-lg-2 col-md-2" id="pp">
                            <a class="btn btn-lg styled_btn1" target="_blank" href="https://circuitverse.org/users/3/projects/247" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/RippleCarry.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-8 col-md-8">16 Bit ripple carry adder<pre></pre></div>
                        <div class="page_mid margin col-lg-2 col-md-2" id="pp">
                            <a class="btn btn-lg styled_btn1" target="_blank" href="https://circuitverse.org/users/3/projects/248" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/AsyncCounter.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-8 col-md-8">Asynchronous Counter<pre></pre></div>
                        <div class="page_mid margin col-lg-2 col-md-2" id="pp">
                            <a class="btn btn-lg styled_btn1 " target="_blank" href="https://circuitverse.org/users/3/projects/249" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-md-4 col-lg-4">
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/FlipFlop.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-8 col-md-8">FlipFlop<pre></pre></div>
                        <div class="page_mid margin col-lg-2 col-md-2" id="pp">
                            <a class="btn btn-lg styled_btn1 " target="_blank" href="https://circuitverse.org/users/3/projects/251" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/Keyboard.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-8 col-md-8">Keyboard<pre></pre></div>
                        <div class="page_mid margin col-lg-2 col-md-2" id="pp">
                            <a class="btn btn-lg styled_btn1 " target="_blank" href="https://circuitverse.org/users/3/projects/250" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/ALU.png" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-8 col-md-8">ALU 74LS181 by Ananth Shreekumar</div>
                        <div class="page_mid margin col-lg-2 col-md-2" id="pp">
                            <a class="btn btn-lg styled_btn1 " target="_blank" href="https://circuitverse.org/users/126/projects/252" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
