<% content_for :title, "CircuitVerse - Features" %>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1 class="display-4 ">CircuitVerse Features</h1>
                    <br />
                    <p>Design circuits quickly and easily with a modern and intuitive user interface with drag-and-drop, copy/paste, zoom and more. The main features have been listed below.</p>
                    <!-- <p><a class="btn btn-dark btn-lg" href="#" role="button">Launch Simulator &raquo;</a></p> -->
                </div>
                <div class="col">
                    <img src="img/logixBanner.png" class="img-fluid img-thumbnail" alt="Responsive image">
                </div>
            </div>
        </div>


    </div>
    <div class="container">
        <div class="row feature">
                 <div class="col-12 col-md-9">
                     <h4 class="card-title">Multi Bit Buses and components</h4>
                     <p class="card-text">CircuitVerse supports multi bit wires, this means circuit design is easier,
                          faster and uncluttered. To change the bitWidth of the circuit elements, Just select the circuit element and change the bitwidth value in the property menu.</p>
                 </div>
                 <div class="col ">
                     <img src="img/bus.png" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />
        <div class="row feature">
                 <div class="col">
                     <h4 class="card-title">Sub circuits</h4>
                     <p class="card-text">Create subcircuits once and use them repeatedly. This allows easier and more structured design. Future versions will allow importing of subcircuits from external sources. To use a subcircuit, simply create and design the subcircuit as a normal circuit and Label inputs and outputs. Then after that create another circuit within the same project and click circuit -> insert subcircuit and select the subcircuit.</p>
                 </div>
                 <div class="col-12 col-md-2">
                     <img src="img/halfAdder.png" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
                 <div class="col-12 col-md-4">
                     <img src="img/fullAdder.png" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />
        <div class="row feature">
                 <div class="col">
                     <h4 class="card-title">Export High-Resolution Images</h4>
                     <p class="card-text">CircuitVerse can export high resolution images in multiple formats including SVG.</p>
                 </div>
                 <div class="col-12 col-md-8 col-lg-8">
                     <img src="img/Control Sequencer.png" class="img-fluid img-thumbnail" alt="Responsive image">
                 </div>
        </div>
        <br />
        <div class="row feature">
                 <div class="col">
                     <h4 class="card-title">Combinational Analysis</h4>
                     <p class="card-text">Automatically generate circuit based on truth table data. This is great to create complex logic circuits and can be easily be made into a subcircuit.</p>
                 </div>
        </div>
        <br />
        <!-- <div class="row feature">
                 <div class="col">
                     <h4 class="card-title">Plotting and Debugger</h4>
                     <p class="card-text">This feature is still under development. This will allow the user to set debug flags to see the Time Plot. The Debugger will allow the user to find logical mistakes in the design.</p>
                 </div>
        </div>
        <br /> -->
        <div class="row feature">
                 <div class="col">
                     <h4 class="card-title">Embed in Blogs</h4>
                     <p class="card-text">Since CircuitVerse is built in HTML5, an iFrame can be generated for each project allowing the user to embed it almost anywhere.</p>
                 </div>
        </div>
        <br />
        <div class="row feature">
                 <div class="col">
                     <h4 class="card-title">Create groups and give assignments</h4>
                     <p class="card-text">The Group feature is a feature which has been made for academic purposes. A mentor can create a group and invite various members to join it. Later the mentor can create various assignments that can used to evaluate the progress of the group members.  </p>
                     <b>Features of Assignments:</b>
                     <ol>
                       <li>The mentor sets a description or a problem statement for the assignment.</li>
                       <li>Then the mentor sets a deadline after which the assignments of the members get automatically submitted.</li>
                       <li>Members can continue their work with their respective assignments even after the deadline is over but those changes <b>Would Not</b> be reflected in the assignment that has been submitted to the mentor.</li>
                       <li>Mentor can reopen or edit the assignment at any particular time.</li>
                   </ol>
                 </div>
        </div>
        <br />
        <div class="row feature">
          <div class="col">
            <h3 class="card-title">Have a feature in mind? </h3>
              <p class="card-text">
                If you have a feature in mind, we would love to hear it!
              </p>
              <a class="btn btn-dark btn-sm" target="_blank" href="/about" role="button">Contact us &raquo;</a>
          </div>
        </div>
        <br />



    </div>
