<script>
    (function() {
        var cx = '003379284906889788669:grmtm3tl7se';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<div class="container">
  <gcse:searchresults-only></gcse:searchresults-only>
</div>
