<% content_for :title, "CircuitVerse - Education" %>

  <div class="container">
    <div class="row row-about">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="heading">TEACHERS</h1>
        <div id="teacher_heading">
          <h5>CircuitVerse has been designed to be very easy to use in class. The platform has features to assist teachers in class and assignments.</h5>
        </div>
          <h2 id="teacher_benefit">Benefits</h2>
      </div>
    </div>
    </div>
    <div class="container-fluid container-fluid_teachersbackground">
      <div class="container">
        <div class="row row-about">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 subheading_teachers">
            <h4>Create Groups and add your students</h4>
            <p>You can create groups and add your students to them! If students are already registered with CircuitVerse they will be added automatically. If they are not registered with CircuitVerse yet, an invitation will be sent to register. Once they register, they will be added automatically.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="image_teachers" src="img/groups.png" alt="Responsive image" height="150px">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fluid_teachers">
      <div class="container">
        <div class="row row-about">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 subheading_teachers">
            <h4>Post Assignments</h4>
            <p>To create an assignment, simply click an add new assignment button. Give the details of the assignment and the deadline. The assignment will automatically close at deadline. Students cannot continue their assignment unless the teacher reopens the assignment again.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="image_teachers" src="img/assignment.png" alt="Responsive image" height="150px">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fluid_teachersbackground">
      <div class="container">
        <div class="row row-about">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 subheading_teachers">
            <h4>Grading assignments</h4>
            <p>Grade assignments very easily with the in build preview. Simply select the student, to his/her assignment work.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="image_teachers" src="img/grading.png" alt="Responsive image" height="150px">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fluid_teachers">
      <div class="container">
        <div class="row row-about">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 subheading_teachers">
            <h4>Use Interactive Circuits in your Blogs, Study Materials or PowerPoint presentations</h4>
            <p>Make sure the project is public. Click on embed, to get the embed HTML5 code, then simply embed the circuit. You may need to use a PowerPoint plugin like Live Slides to embed the live Circuit.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="image_teachers" src="img/embed.png" alt="Responsive image" height="150px">
          </div>
        </div>
      </div>
    </div>
