<% content_for :title, "CircuitVerse - Education" %>
<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="intro">
  <h1>TEACHERS</h1>
<div class="introl">CircuitVerse has been designed to be very easy to use in class. The platform has</p>
features to assist teachers in class and assignments.</div>
</div>



<div class="Bodyp">
  <h5 class="benefits">Benefits</h5>
    <div class="row alternate new">
    <div class="col-md-6 col-sm-12">
      <h5 class="change">Create Groups and add your students</h5>
      <h6>You can create groups and add your students to them! If students are already registered with CircuitVerse they will be added automatically.
      If they are not registered with CircuitVerse yet, an invitation will be sent to register.Once they register, they will be automatically added.</h6>
    </div>
    <div class="col-md-6 col-sm-12 box">
      <svg width="700" height="200">
 <rect width="500" height="140" style="fill:white;stroke:grey" />
</svg>
 </div>
  </div>
  <div class="row edit">
    <div class="col-md-6 col-sm-12">
      <h5 class="change">Post Assignments</h5>
      <h6>To create an assignment, simply click an add new assignment button. Give the details of the assignment and the deadline. The assignment will automatically close at deadline. Students cannot continue their assignment unless the teacher reopens the assignment again.</h6>
    </div>
    <div class="col-md-6 col-sm-12 box">
      <svg width="700" height="200">
    <rect width="500" height="140" style="fill:white;stroke:grey" />
    </svg>
    </div>
  </div>
  <div class="row edit alternate">
    <div class="col-md-6 col-sm-12 ">
      <h5 class="change">Grading Assignments</h5>
      <h6>Grade assignments very easily with the in build preview. Simply select the student, to his/her assignmnet work.</div>
    <div class="col-md-6 col-sm-12 box">
      <svg width="700" height="200">
    <rect width="500" height="140" style="fill:white;stroke:grey" />
    </svg>
    </div>
  </div>
  <div class="row edit">
    <div class="col-md-6 col-sm-12">
      <h5 class="change">Use Interactive Circuits in your Blogs, Study Materials or PowerPoint presentations.</h5>
      <h6>Make sure the project is public. Click on embed, to get the embed HTML5 code, then simply embed the circuit. You may need to use a PowerPoint plugin like live slides to embed the live circuit.</div>
    <div class="col-md-6 col-sm-12 box">
      <svg width="700" height="200">
    <rect width="500" height="140" style="fill:white;stroke:grey" />
    </svg>
    </div>
  </div>
</div>

