<% content_for :title, "CircuitVerse - Education" %>
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1 class="display-4 ">CircuitVerse for Teachers</h1>
        <p>CircuitVerse has been designed to be very easy to use in class. The platform has features to assist teachers in class and assignments. </p>

      </div>

    </div>
  </div>


</div>
<div class="container">
  <div class="row feature">
    <div class="col-12 col-md-5">
      <h3 class="card-title">Create Groups</h4>
        <p class="card-text">
          Teachers can create groups and add their students to them! To create a group, simply click on your username and navigate to the groups page. Click on new groups to create a group.
        </p>
    </div>
    <div class="col">
      <img src="img/groups.png" class="img-fluid img-thumbnail" alt="Responsive image">
    </div>
  </div>
  <br />
  <div class="row feature">
    <div class="col-12 col-md-5">
      <h3 class="card-title">Add students to your group</h4>
        <p class="card-text">
           You can add students by clicking on the add member buttons. Simply enter the list of emails separated by commas. If students are already registered with CircuitVerse they will be added automatically. If they are not registered with CircuitVerse yet, an invitation will be sent to register. Once they register, they will be added automatically.
        </p>
        <!--<a class="btn btn-dark btn-lg" target="_blank" href="https://circuitverse.org/users/3/projects/248" role="button">View Example &raquo;</a>-->
    </div>
    <div class="col">
      <img src="img/students.png" class="img-fluid img-thumbnail" alt="Responsive image">
    </div>
  </div>
  <br />
  <div class="row feature">
    <div class="col-12 col-md-6">
      <h3 class="card-title">Post Assignments</h4>
        <p class="card-text">
          To create an assignment, simply click an add new assignment button. Give the details of the assignment and the deadline. The assignment will automatically close at deadline. Students cannot continue their assignment unless the teacher reopens the assignment again.
        </p>
        <!--<a class="btn btn-dark btn-lg" target="_blank" href="https://circuitverse.org/users/3/projects/249" role="button">View Example &raquo;</a>-->
    </div>
    <div class="col">
      <img src="img/assignment.png" class="img-fluid img-thumbnail" alt="Responsive image">
    </div>
  </div>
  <br />
  <div class="row feature">
    <div class="col-12 col-md-3">
      <h3 class="card-title">Grading assignments</h4>
        <p class="card-text">
          Grade assignments very easily with the in build preview. Simply select the student, to his/her assignment work.
        </p>
        <!--<a class="btn btn-dark btn-lg" target="_blank"  href="https://circuitverse.org/users/3/projects/250" role="button">View Example &raquo;</a>-->
    </div>
    <div class="col">
      <img src="img/grading.png" class="img-fluid img-thumbnail" alt="Responsive image">
    </div>
  </div>
  <br />
  <div class="row feature">
    <div class="col-12 col-md-8">
      <h3 class="card-title">Use interactive Circuits in Blogs/Study Materials</h4>
        <p class="card-text">
          Make sure the project is public. Click on embed, to get the embed HTML5 code, then simply embed the circuit in your blog.
        </p>
      <h3 class="card-title">Embed Interactive Circuits in PowerPoint</h4>
        <p class="card-text">
          Make sure the project is public. Click on embed, to get the embed HTML5 code, then simply embed the circuit in your PowerPoint. You may need to use a powerpoint plugin like <a href="https://www.liveslides.com/" > Live Slides</a> to embed the live Circuit. The team is currently developing a custom plugin to make this process easier.
        </p>
        <!--<a class="btn btn-dark btn-lg" target="_blank"  href="https://circuitverse.org/users/3/projects/251" role="button">View Example &raquo;</a>-->
    </div>
    <div class="col">
      <img src="img/embed.png" class="img-fluid img-thumbnail" alt="Responsive image">
    </div>
  </div>
  <br />

  <div class="row feature">
    <div class="col-12 col-md-8">
      <h3 class="card-title">Have a feature in mind? </h4>
        <p class="card-text">
          If you have a feature in mind, we would love to hear it!
        </p>
        <a class="btn btn-dark btn-sm" target="_blank" href="/about" role="button">Contact us &raquo;</a>
    </div>
    <!--<div class="col">-->
      <!--<img src="img/ALU.png" class="img-fluid img-thumbnail" alt="Responsive image">-->
    <!--</div>-->
  </div>
  <br />




</div>
