<div class="container navbar-search-container">
  <div class="row center-row">
  <%= form_tag("/search", method: "get", id: "search-box", class: "navbar-search-bar-form") do %>
    <%= select_tag :resource, options_for_select(%w[Users Projects], selected: params[:resource]), class: "navbar-search-bar-select", id: "search_type" %>
    <%= text_field_tag :q, params[:q], placeholder: "Search for projects or users", autocomplete: "off", class: "form-control form-input navbar-search-bar-input" %>
    <button class="btn primary-button navbar-search-bar-button" type="submit" name="button" value="Submit">Search</button>
  <% end %>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const searchType = document.querySelector("#search_type");
    const searchInput = document.querySelector("#q");
    searchType.addEventListener("change", function() {
      searchInput.focus();
    });
  });
</script>
