<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("pending_invitation_email.main_heading") %></h1>
    <p><%= t("pending_invitation_email.main_description_html", name: @group.name, user_name: User.find_by(id:@group.mentor_id).name) %></p>
    <br>
    <p><%= t("pending_invitation_email.link_to_circuitverse") %><p>

    <p><%= t("pending_invitation_email.greetings") %></p>
  </body>
</html>
