<div class="container navbar-search-container" data-controller="search-bar" data-search-bar-placeholders-value="<%= placeholders.to_json %>">
  <div class="row center-row">
  <%= form_tag(search_path, method: "get", id: "search-box", class: "navbar-search-bar-form") do %>
    <%= select_tag :resource, options_for_select(resource_options, selected: resource), class: "navbar-search-bar-select", id: "search_type", data: { search_bar_target: "select", action: "change->search-bar#changePlaceholder" } %>
    <%= text_field_tag :q, query, autocomplete: autocomplete, class: "form-control form-input navbar-search-bar-input", data: { search_bar_target: "input" } %>
    <button class="btn primary-button navbar-search-bar-button" type="submit" name="button" value="Submit">Search</button>
  <% end %>
  </div>
</div>
