<% group.users.each do |user| %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 groupdetails-card-member-container">
    <div class="groupdetails-card-member">
      <div class="row">
        <div class="col-7 groupdetails-card-member-details-1">
          <i class="fa fa-user"></i>
          <%= link_to user.name, user, class: "groupdetails-card-member-name" %>
          <p class="groupdetails-card-member-email"><%= user.email %></p>
        </div>
        <div class="col-5 groupdetails-card-member-details-2">
          <% if policy(group).admin_access? %>
            <%= link_to group_member_path(GroupMember.find_by(user_id:user.id,group_id:group.id)), method: :delete, data: { confirm: 'Are you sure?' }, class:"button-mini-edit groupdetails-button-mini-remove" do %>
              <%= image_tag("SVGs/deleteGroup.svg", alt: "Remove Member") %>
              <span>Remove</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
