<h1 class="edit-name text-center">EDIT GROUP NAME</h1>
<div class="container profile-background">
  <div class="row p-4 center-block">
    <div class="col col-xs-10 col-lg-6 col-md-8 col-s-10 col-centered">
      <%= render 'form', group: @group %>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
