<h1 class="edit-name text-center">EDIT GROUP NAME</h1>
<div class="container profile-background">
  <div class="row p-4 center-block">
    <div class="col col-xs-10 col-lg-6 col-md-8 col-s-10 col-centered">
      <%= render 'form', group: @group %>
      <%= link_to user_groups_path(current_user) do %>
        <%= button_tag 'Back', class: 'm-2 btn text-success float-left mt-4 ml-2 underline' %>
      <% end %>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
