
<% content_for :title, t("groups.edit.title", name: @group.name) %>
<div class="container">
  <div class="row center-row">
    <div class="col-xs col-sm col-md col-lg">
      <h2 class="submain-heading"><%= t("groups.edit.main_heading") %></h2>
    </div>
  </div>
  <div class="row center-row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
      <%= image_tag "PNGs/editGroupName.png", alt: "Group Sketch", :class => "groups-center-image center-image" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
      <div class="container">
        <div class="center-row groups-background-card">
          <%= render 'form', group: @group %>
        </div>
      </div>
    </div>
  </div>
</div>
