<div class="container">
  <div class="row feature">

    <div class="col">
      <h1>Editing Group</h1>

      <%= render 'form', group: @group, url: user_group_path(@user, @group) %>

      <%= link_to 'Show', user_group_path(@user, @group) %> |
      <%= link_to 'Back', user_groups_path(@user) %>

    </div>


  </div>
  <br />

  <br />



</div>

