<div class="container pb-5 text-center">
  <h1 class="edit_name">NEW GROUP</h1>
  <div class="row profile-background pb-5">
    <div class="p-4 center-block col col-xs-10 col-lg-6 col-md-8 col-s-10 col-centered">
      <p>Groups can be used by mentors to set projects for and give grades to students.
      More information can be found <a href="https://circuitverse.org/features">here</a>, and the documentation <a href="https://docs.circuitverse.org/#/groups">here</a>.
      </p>
      <%= render 'form', group: @group %>
      <u>
        <%= link_to 'Back', user_groups_path(current_user) %>
      </u>
    </div>
  </div>
  <br>
  <br>
</div>
