<div class="container">
  <div class="row feature">

    <div class="col">
      <h1>New Group</h1>

      <%= render 'form', group: @group, url: user_groups_path(@user) %>

      <%= link_to 'Back', user_groups_path(@user) %>

    </div>


  </div>
  <br />

  <br />



</div>
