<div class="container text-center">
  <h1 class="">NEW GROUP</h1>
  <div class="profile-background">
    <div>
      Groups can be used by mentors to set projects for and give grades to students.
      You can find the documentation <a href="https://docs.circuitverse.org/#/groups" target="_blank">here</a>.
    </div>
    <%= render 'form', group: @group %>
  </div>
  <br>
  <br>
</div>
