<div class="container">
  <div class="row feature">

    <div class="col col-xs-10 col-lg-6 col-md-8 col-s-10 col-centered">
      
    <h1>New Group</h1>

    <p>Groups are useful for mentors and teachers, allowing them to create assignments with deadlines to evaluate the progress of group members.
      More information can be found <a href="https://circuitverse.org/features">here</a>, and the documentation <a href="https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/groups.md">here</a>.
    </p>

      <%= render 'form', group: @group %>

      <%= link_to 'Back', user_groups_path(current_user) %>

    </div>


  </div>
  <br />

  <br />



</div>
