<div class="container text-center">
  <h1 class="edit_name">NEW GROUP</h1>
  <div class="profile-background row">
    <div class="center-block col-12 col-md-8 col-centered">
      <div>
        Groups can be used by mentors to set projects for and give grades to students.
        You can find the documentation <a href="https://docs.circuitverse.org/#/groups" target="_blank">here</a>.
      </div>
      <%= render 'form', group: @group %>
    </div>
  </div>
  <br>
  <br>
</div>
