<div class="container">
  <div class="row feature">

    <div class="col col-xs-10 col-lg-6 col-md-8 col-s-10 col-centered">
      
    <h1>New Group</h1>

    <p>Groups can be used by mentors to set projects for and give grades to students.
      More information can be found <a href="https://circuitverse.org/features">here</a>, and the documentation <a href="https://docs.circuitverse.org/#/groups">here</a>.
    </p>

      <%= render 'form', group: @group %>

      <%= link_to 'Back', user_groups_path(current_user) %>

    </div>


  </div>
  <br />

  <br />



</div>
