<div class="row" id="alertdiv">
  <div class="alert alert-success alert-dismissible container text-center">
    <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
    <h6><%= message %></h6>
  </div>
</div>
