<html>
  <head>
    <% content_for(:html_title) { "CircuitVerse - Digital Simulator" } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      // Project setup
      window.logixProjectId = "<%= @project&.id || 0 %>";
      window.isUserLoggedIn = <%= user_signed_in? %>;
      window.embed = true;
    </script>
    <script type="module" src="/simulator-v0/simulator-v0.js"></script>

  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
