<html>

<head>
<title> CircuitVerse - Digital Simulator </title>
 <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<link rel="stylesheet" type="text/css" href="/css/embed.css"/>
</head>

<body onload="setup()">
<script>
    
    <% if @project&.assignment_id.present? %>
     
    <% else %>
     
    <% end %>
</script>
<div>

    <div class="simulation" id="simulation" style="height:100%;width:100%">

        <div id="tabsBar" class="noSelect pointerCursor" style="position: absolute; left: 0; top: 0; z-index: 2">
          <!-- <div> Circuits: </div> -->
        </div>
        <% if @project&.assignment_id.present? && @project&.assignment.elements_restricted? %>
          <div id="restrictedElementsDiv" class="alert alert-danger">
            <div> <span style="font-style: italic"> Restricted elements used: </span> <span id="restrictedElementsDiv--list"> </span></div>
          </div>
        <% end %>
        <div id="MessageDiv" >

        </div>


        <div class="canvasArea" id="canvasArea"  style="height:100%;width:100%">
            <canvas id="backgroundArea" style="position: absolute; left: 0; top: 0; z-index: 0"></canvas>
            <canvas id="simulationArea" style="position: absolute; left: 0; top: 0; z-index: 1; width:100%;height:100%"></canvas>
        </div>
      <div id="elementName">
      </div>

      <div style="position:absolute; right:20px; top:25px; z-index:100" class="noSelect">
        <button type="button" class="btn zoomButton" style="font-size: 15px;border-radius: 5px;height:25px;width: 25px" onclick="changeScale(0.2,'zoomButton','zoomButton',2)">
          <span class="glyphicon glyphicon-plus" aria-hidden="true">+</span>
        </button>
      </div>
      <div style="position:absolute; right:20px; top:52px; z-index:100" class="noSelect">
        <button type="button" class="btn zoomButton" style="font-size: 15px;border-radius: 5px;height:25px;width: 25px" onclick="changeScale(-0.2,'zoomButton','zoomButton',2)">
          <span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>
        </button>
      </div>
      <div style="position:absolute; right:60px; top:25px; z-index:100" class="clockPropertyHeader noSelect">

        <div id ="clockProperty" >
        </div>
      </div>
      <div class="loading-icon-container">
        <svg width="512" height="512" viewBox="0 0 512 512" fill="none" id="loading-icon" xmlns="http://www.w3.org/2000/svg">
          <rect width="512" height="512" fill="white"/>
          <rect width="512" height="512" rx="48" fill="#1B1B1B"/>
          <rect class="loading-icon-arm" x="203.526" y="371.303" width="40" height="230" transform="rotate(-130 203.526 371.303)" fill="white"/>
          <path class="loading-icon-arm" d="M421.987 443.834L450.271 415.55L509.59 479.147L509.105 480.449L508.646 481.662L508.246 482.742L507.732 483.912L507.175 485.016L506.58 486.209L505.995 487.344L505.28 488.515L503.935 490.799L502.318 492.908L501.546 493.945L500.7 494.985L499.006 496.898L497.378 498.526L495.826 499.958L494.099 501.422L492.405 502.745L490.711 503.914L489.17 504.909L487.519 505.882L485.727 506.832L421.987 443.834Z" fill="white"/>
          <circle class="loading-icon-hole" cx="160" cy="383.858" r="40" stroke="white" stroke-width="30"/>
          <circle class="loading-icon-hole" cx="385" cy="188.141" r="40" stroke="white" stroke-width="30"/>
          <circle class="loading-icon-hole" cx="154.16" cy="129.8" r="40" stroke="white" stroke-width="30"/>
          <circle class="loading-icon-hole" cx="410" cy="400" r="40" stroke="white" stroke-width="30"/>
          <path class="loading-icon-arm" d="M172.811 88.0782L277.687 -0.00385471L340 8.64183e-05L198.523 118.72L172.811 88.0782Z" fill="white"/>       
        </svg>
      </div>

        <!-- <div id="plot" >
            <canvas id="plotArea" style="position: absolute; left: 0; top: 0; z-index: 1; width:100%"></canvas>
        </div> -->
      <% if @external_embed  == true %>
        <div id="bottom_right_watermark">

          <a style="text-decoration:none;
              position: fixed;
              bottom: 0px;
              right: 0px;
              padding: 8px;
              font-family: Verdana;
              font-size: 12px;
              color: grey;
              z-index: 2;"
             href= "/users/<%=@author%>/projects/<%=@logix_project_id%>"
             target="_blank">
            Made With CircuitVerse
          </a>

        </div>
      <% end %>


    </div>


</div>


<!-- <script src="/js/SAP_DATA.js"></script> -->
<script type="text/javascript">
    logix_project_id = <%= @logix_project_id%>
        embed=true;
        <% if @project&.assignment_id.present? %>
          restrictedElements = JSON.parse('<%= raw @project&.assignment.restrictions %>');
        <% else %>
          restrictedElements = [];
        <% end %>

 </script>
 <script src="/js/engine.js"></script>
 <script src="/js/logix.js"></script>
 <script src="/js/Node.js"></script>
 <script src="/js/wire.js"></script>
 <script src="/js/subcircuit.js"></script>
 <script src="/js/modules.js"></script>
 <script src="/js/RGBLedMatrix.js"></script>
 <script src="/js/sequential.js"></script>
 <script src="/js/ram.js"></script>
 <script src="/js/eeprom.js"></script>
 <script src="/js/Counter.js"></script>
 <script src="/js/canvasApi.js"></script>
 <script src="/js/data.js"></script>
 <script src="/js/embedListeners.js"></script>
 <script src="/js/embed.js"></script>
 <script src="/js/testBench.js"></script>
    <script src="/js/eventQueue.js"></script>
    <script src="/js/utils.js"> </script>
    <script type="text/javascript" src="/js/metadata.json"></script>



<!-- <script src="/js/canvas2svg.js"></script> -->


</body>

</html>
