<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 middle-block">
      <%= image_tag "SVGs/mobile-user.svg",alt: "mobile-user", :class => "signup-cover center-block" %>
      <div class="welcome-text">
        <label>Welecome Back, Mobile User</label>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 middle-block">
      <div class="form-container">
        <h1 class="pb-3">Simulator Disabled</h1>
        <p>
        Sorry, but the CircuitVerse simulator is currently disabled on mobile devices. Please use a computer with a larger screen to continue.
        </p>
        <button id='go-back-button' type="button" class="btn btn-primary btn-lg btn-block">Go back</button>
        <div class='text-center'><a id='continue-anyway' lass='font-weight-light' style='color:inherit;'>Continue anyway</a><div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type='text/javascript' src='/js/disableMobileSimulator.js'></script>
<script> loadSimulatorDisabledPage() </script>
