<% content_for :title, t("featured_circuits.title") %>

<div class="container">
  <div class="row center-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="main-heading"><%= t("featured_circuits.main_heading") %></h1>
      <p class="main-description"><%= t("featured_circuits.main_description") %></p>
    </div>
  </div>
  <div class="row center-row examples-container">
    <%= render(CircuitCardComponent.with_collection(@projects, current_user: current_user)) %>
  </div>
</div>
