<div
  class="container text-center d-flex flex-column justify-content-center align-items-center"
  style="min-height: 70vh;"
>
  <div class="display-1 fw-normal text-success mb-3">
    <h2 class="fw-normal fs-1">
      FORUM DISABLED
    </h2>
  </div>

  <div class="mb-4">
    <p class="fs-5 text-dark fw-normal letter-spacing-1">
      The CircuitVerse forum is currently disabled due to spam and moderation issues.<br>
      It will be re-enabled once the issues are resolved.
    </p>
  </div>

  <div>
    <a
      href="/"
      class="d-inline-block fw-bold text-success text-decoration-none"
    >
      <i class="fa fa-chevron-left me-2"></i>
      Return To Homepage
    </a>
  </div>
</div>
