<div class="container">
  <div class="row feature">
    <div class="container">
      <h1 style="margin-bottom: 15px;">Edit Project</h1> <!-- if needed add any subtitle by <small> inside h1 -->

      <%= render 'form', project: @project %>

      <%= link_to 'Show', user_project_path(current_user,@project) %> |
      <%= link_to 'Back', user_path(@author)%>
    </div>
  </div>
</div>
