<div class="container">
  <div class="row center-row">
    <div class="col-12">
      <br>
      <h1 class="search-tag-heading"><%= t("projects.get_projects.searched_projects_heading") %></h1>
      <h2 class="search-tag-heading"><%= t("projects.get_projects.searched_tags_heading") %> <span class="badge search-tag"><%= params[:tag] %></span> </h2>
    </div>
  </div>
</div>

<div class="container search-tag-search-container">
  <% @projects.each do |project| %>
    <%= render(ProjectComponents::ProjectCardComponent.new(project: project, current_user: current_user)) %>
    <hr class="search-horizontal-rule">
  <% end %>
</div>
