<div class="container">
  <div class="row center-row">
    <div class="col-12">
      <br>
      <h1 class="search-tag-heading"><%= t("projects.get_projects.searched_projects_heading") %></h1>
      <h2 class="search-tag-heading"><%= t("projects.get_projects.searched_tags_heading") %> <span class="badge search-tag"><%= params[:tag] %></span> </h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="project-cards-grid">
    <% @projects.each do |project| %>
      <%= render(Project::ProjectCardComponent.new(project: project)) %>
    <% end %>
  </div>
</div>
