
<% content_for :title,  "New Project" %>

<div class="container newproject-container">
  <div class="row row-text">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="heading-submain">New Project</h1> <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="newproject-form-container">
        <%= render 'form', project: @project %>
      </div>
    </div>
  </div>
</div>
