<script src="js/search.js"></script>
<% if @results.empty? %>
  <div class="container search-no-results-container">
    <div class="row center-row">
      <div class="col-12">
        <div class="search-no-results-image">
          <%= image_tag "SVGs/noResult.svg", alt: "No result image" %>
          <h6><%= t("projects.search.no_result_found") %></h6>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container search-container">
    <% @results.each do |project| %>
      <%= render(ProjectComponents::ProjectCardComponent.new(project: project)) %>
    <% end %>
    <% unless @results.empty? %>
      <%= will_paginate(@results, renderer: SearchPaginateRenderer, page_links: false) %>
    <% end %>
  </div>
<% end %>
