<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CircuitVerse, <%= @mentor.name %></h1>
    <p>
      You have successfully created a new group,
      your group name is: <%= @group.name %>.<br>
    </p>

    <p>Have a great day!</p>
  </body>
</html>
