//*****************
// Color Variables
//*****************

$charcoal: #454545;
$silver: #BBBBBB;
$gainsboro: #DDDDDD;
$white: #FFFFFF;
$grey : #7D7D7D;
$very-light-grey: #CACACA;
$suva-grey: #8B8B8B;
$medium-sea-green:#42B983;
$roman: #DC5656;
$grey-shadow: #4545457F;
$fire-brick: #AC3522;
$carousel-pink: #F8D7DA;

