//*****************
// Color Variables
//*****************

$charcoal: #454545;
$silver: #bbbbbb;
$gainsboro: #dddddd;
$white: #ffffff;
$grey : #7d7d7d;
$very-light-grey: #cacaca;
$suva-grey: #8b8b8b;
$medium-sea-green:#42b983;
$roman: #dc5656;
$grey-shadow: #4545457f;
$fire-brick: #ac3522;
$carousel-pink: #f8d7da;


