<link rel="stylesheet" type="text/css" href="/css/error.css">

<div class="container">
  <h1 class="oops"> Server Errored! </h1>
  <div class="help-text">
    <div class="help-text-main"> It's me not you, let's try again :) </div>
    <div class="error-code"> Error code: 500 <span class="help-text-sub"> (Feel free to contact us if the problem persists) </span> </div>
  </div>
</div>
