<link rel="stylesheet" type="text/css" href="/css/error.css">

<div class="container">
  <h1 class="oops"> Oops! </h1>
  <div class="help-text">
    <div class="help-text-main"> We can't seem to find the page you're looking for :(  </div>
    <div class="error-code"> Error code: 404 </div>
  </div>
</div>
