<link rel="stylesheet" type="text/css" href="/css/error.css">

<div class="container">
  <h1 class="oops"> Unprocessable Entity! </h1>
  <div class="help-text">
    <div class="help-text-main"> Request could not be processed :( </div>
    <div class="error-code"> Error code: 422 </span> </div>
  </div>
</div>
