<link rel="stylesheet" type="text/css" href="/css/error.css">

<div class="container text-center">
  <div class="row row-errorpage">
    <div class="col-xs col-sm col-md col-lg">
      <div class="error-code bold pt-5">422</div>
    </div>
  </div>
  <div class="row row-errorpage">
    <div class="col-xs col-sm col-md col-lg">
      <div class="help-text-main mb-4">UNPROCESSABLE ENTITY!, REQUEST COULD NOT BE PROCESSED :(</div>
    </div>
  </div>
  <div class="row row-errorpage">
    <div class="col-xs col-sm col-md col-lg">
      <a href="https://circuitverse.org/" class="return text-decoration-none pb-5"><i class="fa fa-chevron-left pr-2"></i>Return To Homepage</a>
    </div>
  </div>
</div>
