<div class="d-flex flex-row justify-content-center align-items-center mt-4">
    <h5 class="p-0 m-0"><%= t('want_to_join_the_discussion') %> ?</h5>
    <a href="/users/sign_up" class="btn green-btn mx-2"><%= t('create_account') %></a>
    <a href="/users/sign_in" class="btn green-outline-btn"><%= t('login') %></a>
</div>
