@import "css-vars";
$css-vars-use-native: true;

// $primary: $baseDefault;
// $text-primary: $textDefault;
// $text-secondary: $textDefault2;
// $br-primary: $borderDefault;
// $bg-primary-moz: $bg-moz;
// $bg-primary-chr: $bg-chr;
// $bg-tabs: $bg-tabs-grey;
// $bg-icons: $bg-icons-grey;
// $bg-text: $bg-text-grey;
// $bg-secondary: $bg-secondary-grey;
// $canvas-primary: $canvas-primary-grey;
// $canvas-secondary: $canvas-secondary-white;
// $bg-toogle: $bg-toogle-green;
// $bg-toogle-darken: $bg-toogle-green-darken;
// $btn-danger: $btn-danger-red;
// $btn-danger-darken: $btn-danger-red-dark;

// @include css-vars(
//   (
//     --primary: $primary,
//     --text-primary: $text-primary,
//     --text-secondary: $text-secondary,
//     --br-primary: $br-primary,
//     --bg-primary-moz: $bg-primary-moz,
//     --bg-primary-chr: $bg-primary-moz,
//     --bg-tabs: $bg-tabs,
//     --bg-icons: $bg-icons,
//     --bg-text: $bg-text,
//     --bg-secondary: $bg-secondary,
//     --canvas-stroke: $canvas-primary,
//     --canvas-fill: $canvas-secondary,
//     --bg-toogle: $bg-toogle,
//     --bg-toogle-darken: $bg-toogle-darken,
//     --btn-danger: $btn-danger,
//     --btn-danger-darken: $btn-danger-darken,
//   )
// );

$baseDefault: #454545;
$textDefault: #fff;
$textDefault2: #000;
$borderDefault: #fff;
$bg-moz: #454545e6;
$bg-chr: #454545b3;
$bg-tabs-grey: #8b8b8b;
$bg-icons-grey: #7d7d7d;
$bg-text-grey: #cacaca;
$bg-secondary-grey: #bbbbbb;
$canvas-primary-grey: #eee;
$canvas-secondary-white: white;
$bg-toogle-green: #42b983;
$bg-toogle-green-darken: #3ca877;
$btn-danger-red: #dc5656;
$btn-danger-red-dark: #b03662;
$disable: #6c8b93;
$qp-br-tl: #333333;
$qp-br-rd: #535353;
$qp-box-shadow-1: #3b3b3b;
$qp-box-shadow-2: #4f4f4f;
$btn-dg-hov: #ddd;
$btn-dg-hov-text: #000;

//elements
$node: green;
$node-norm: green;
$stroke: black;
$secondary-stroke: red;
$fill: white;
$input-text: green;
$hover-and-sel: rgba(255, 255, 32,0.8);
$wire-draw: black;
$wire-cnt: green;
$wire-pow: lightgreen;
$wire-sel: blue;
$wire-lose: red;
$wire-norm: black;
$mini-map: green;
$mini-map-stroke: darkgreen;
$text: black;
$splitter: black;
$output-rect: blue;

@include css-vars(
  (
    --primary: $baseDefault,
    --text-primary: $textDefault,
    --text-secondary: $textDefault2,
    --br-primary: $borderDefault,
    --bg-primary-moz: $bg-moz,
    --bg-primary-chr: $bg-chr,
    --bg-tabs: $bg-tabs-grey,
    --bg-icons: $bg-icons-grey,
    --bg-text: $bg-text-grey,
    --bg-secondary: $bg-secondary-grey,
    --canvas-stroke: $canvas-primary-grey,
    --canvas-fill: $canvas-secondary-white,
    --bg-toogle: $bg-toogle-green,
    --bg-toogle-darken: $bg-toogle-green-darken,
    --btn-danger: $btn-danger-red,
    --btn-danger-darken: $btn-danger-red-dark,
    --disable: $disable,
    --qp-br-tl: $qp-br-tl,
    --qp-br-rd: $qp-br-rd,
    --qp-box-shadow-1: $qp-box-shadow-1,
    --qp-box-shadow-2: $qp-box-shadow-2,
    --btn-dg-hov: $btn-dg-hov,
    --btn-dg-hov-text: $btn-dg-hov-text,
    --node: $node,
    --stroke: $stroke,
    --fill: $fill,
    --hover-and-sel: $hover-and-sel,
    --wire-draw: $wire-draw,
    --wire-cnt: $wire-cnt,
    --wire-pow: $wire-pow,
    --wire-sel: $wire-sel,
    --wire-lose: $wire-lose,
    --mini-map: $mini-map,
    --mini-map-stroke: $mini-map-stroke,
    --input-text: $input-text,
    --secondary-stroke: $secondary-stroke,
    --text: $text,
    --wire-norm: $wire-norm,
    --node-norm: $node-norm,
    --splitter: $splitter,
    --output-rect: $output-rect,
  )
);

::-moz-selection {
  /* Code for Firefox */
  color: var(--text-primary);
  background: var(--bg-icons);
}

::selection {
  color: var(--text-primary);
  background: var(--bg-icons);
}

.navbar-menu > li > a {
  color: var(--text-primary);
}

.projectName {
  color: var(--text-primary);
}

.header {
  background: var(--primary);
}

.quick-btn {
  //neumorph
  background: var(--primary);
  box-shadow: 4px 4px 5px var(--qp-box-shadow-2),
    -4px -4px 5px var(--qp-box-shadow-1);
  border-top: 1.5px solid var(--qp-br-tl);
  border-left: 1.5px solid var(--qp-br-tl);
  border-right: 1.5px solid var(--qp-br-rd);
  border-bottom: 1.5px solid var(--qp-br-rd);
}

.dropdown > ul {
  background-color: var(--bg-primary-moz);
  border: 0.5px solid var(--bg-tabs);
}

@supports (backdrop-filter: blur()) {
  .dropdown > ul {
    background-color: var(--bg-primary-chr);
  }
}

.dropdown > ul::before {
  border-top: 1px solid var(--bg-tabs);
  border-right: 1px solid var(--bg-tabs);
}

.dropdown > ul::after {
  border-top: 1.5px solid var(--primary);
}

.dropdown-menu > li > a {
  color: var(--text-primary) !important;
}

.dropdown-menu > li > a:hover {
  color: var(--text-secondary) !important; //text secondary
  background: var(--bg-text);
}

#contextMenu {
  border: 0.5px solid var(--bg-tabs);
  background-color: var(--bg-primary-moz);
  color: var(--text-primary);
}

#contextMenu ul li:hover {
  color: var(--text-secondary);
  background: var(--bg-text);
}

@supports (backdrop-filter: blur()) {
  #contextMenu {
    background-color: var(--bg-primary-chr);
  }
}

.ce-panel {
  background: var(--primary);
  border: 2px solid var(--br-primary);
  box-shadow: 0px 0px 10px #4545457f;
}

#modules-header {
  color: var(--text-primary);
}

.panel {
  // background-color: white;
}

.ui-accordion-header {
  color: var(--text-primary) !important;
}

.panelHeader:hover {
  background-color: var(--bg-icons);
}

.panelHeader:after,
.panelHeader:before {
  background-color: var(--br-primary);
  border: 1px solid var(--br-primary);
}

.ui-accordion .ui-accordion-content {
  background-color: white;
}

.icon {
  background-color: white;
}

.custom-tooltip-styling {
  background-color: var(--bg-icons) !important;
  color: var(--text-primary) !important;
  border: 1px solid var(--br-primary);
}

.icon:hover {
  background-color: var(--bg-icons);
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #585858;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

#tabsBar {
  background-color: var(--bg-tabs);
  border-top: 1px solid var(--br-primary);
}

#tabsBar div {
  color: var(--text-primary);
  border: 1px solid var(--primary);
}

#tabsBar .circuits {
  background-color: var(--bg-secondary);
}

#tabsBar .circuits > span {
  color: var(--text-secondary);
}
#tabsBar .current {
  color: var(--text-primary);
  background-color: var(--primary);
  border: 1px solid var(--br-primary);

}

#tabsBar .current > span {
  color: var(--text-primary);
}

#tabsBar button {
  color: var(--text-primary);
  background-color: var(--primary);
  border: 1px solid var(--br-primary);
}

#tabsBar button:hover {
  // color: var(--primary);
  background: var(--bg-secondary);
  border: 1px solid var(--primary);
}

.moduleProperty input {
  color: var(--text-primary);
}

.moduleProperty {
  background: var(--primary);
  border: 2px solid var(--br-primary);
  box-shadow: 0px 0px 10px #4545457f;
  color: var(--text-primary);
}

#moduleProperty-title {
  color: var(--text-primary);
}

.moduleProperty input,
.moduleProperty select {
  border-bottom: 0.5px solid var(--bg-secondary) !important;
  color: var(--text-primary);
}

.moduleProperty input:focus,
.moduleProperty select:focus {
  color: var(--text-primary);
  border-color: var(--br-primary) !important;
}

.input-group div button {
  color: var(--text-primary);
}

.input-group-prepend button:hover {
  background: rgba(202, 202, 202, 0.5);
}

.input-group-append button:hover {
  background: rgba(202, 202, 202, 0.5);
}

.slider {
  background-color: #ccc;
  box-shadow: inset 0px 0px 5px rgba(69, 69, 69, 0.255);
}

.slider:before {
  background-color: white;
  box-shadow: 0px 0px 7px rgba(69, 69, 69, 0.8);
}

input:checked + .slider {
  background-color: var(--bg-toogle);
}

.custom-btn--primary {
  background-color: var(--bg-toogle);
  color: var(--text-primary);
}
.custom-btn--primary:hover {
  background-color: var(--bg-toogle-darken);
  color: var(--text-primary);
}
.custom-btn--secondary {
  border: 1px solid white;
  color: var(--text-primary);
}
.custom-btn--secondary:hover {
  background-color: #ddd;
  color: var(--btn-dg-hov-text);
}

.custom-btn--secondary:active,
.custom-btn--secondary:focus {
  border: 1px solid white;
}

.custom-btn--tertiary {
  background-color: var(--btn-danger);
  color: var(--text-primary);
}

.custom-btn--tertiary:hover {
  background-color: var(--btn-danger-darken);
  color: var(--text-primary);
}

#HelpButton {
  border: 1px solid var(--br-primary);
}

select {
  background: var(--bg-secondary);
  background-color: var(--primary);
  color: var(--text-primary);
}

#layoutDialog {
  border: 2px solid var(--br-primary);
  box-shadow: 0px 0px 10px #4545457f;
  background-color: var(--primary);
  color: var(--text-primary);
}

#layoutDialog > div span:before {
  color: var(--text-primary);
}

.panel-heading {
  color: var(--text-primary);
}

.ui-dialog {
  background: var(--bg-primary-moz) !important;
}

@supports (backdrop-filter: blur()) {
  .ui-dialog {
    background-color: var(--bg-primary-chr) !important;
  }
}

.ui-widget-header {
  color: var(--text-primary) !important;
  border-bottom: 0.5px solid var(--br-primary);
}

.option {
  background-color: white;
  color: var(--primary);
}

.custom-radio span {
  border: 3px solid var(--primary);
}

.custom-radio span:after {
  background: var(--primary);
}

.pannel-heading {
  // background-color: #f5f5f5;
}

#saveImageDialog {
  border: 1px solid var(--bg-icons);
}
.download-dialog-section-2 {
  color: var(--text-primary);
}

.download-dialog-section-2 .active-btn {
  background: var(--bg-toogle);
  color: var(--text-primary);
}

.download-dialog-section-2 .inactive-btn {
  color: var(--text-primary);
}

.download-dialog-section-3 {
  border: 1px solid var(--bg-tabs);
}

.download-dialog-section-3 > span {
  color: var(--text-primary);
}

.ui-dialog-titlebar-close::before:hover {
  background-color: var(--primary);
}

.ui-dialog .ui-dialog-buttonpane button:hover {
  color: var(--btn-dg-hov-text) !important;
  background: var(--btn-dg-hov);
  border: 1px solid transparent;
}

.render-btn {
  // background: #42b983;
  color: var(--text-primary);
  border: 1px solid var(--br-primary);
}

.render-btn:active {
  border: 1px solid var(--br-primary);
}
.render-btn:hover {
  background: #3ba374;
  color: var(--text-primary);
  border: 1px solid transparent;
}

#combinationalAnalysis {
  border: 1px solid var(--bg-icons);
  color: var(--text-primary);
}

#combinationalAnalysis p input {
  border-bottom: 1px solid white !important;
  color: var(--text-primary);
}

.content-table tr th {
  background-color: var(--bg-toogle);
  color: var(--text-primary);
}

.content-table th,
.content-table td {
  background-color: #f3f3f3;
}

#openProjectDialog {
  color: var(--text-primary);
}

#openProjectDialog > label {
  border: 1px solid var(--br-primary);
  color: var(--text-primary);
}

#openProjectDialog > label > span {
  border: 3px solid white;
}

#openProjectDialog > label > span:after {
  background: var(--text-primary);
}

#insertSubcircuitDialog {
  color: var(--text-primary);
}

.disable::after {
  background: var(--disable);
}

#bitconverterprompt {
  color: var(--text-primary);
}

#bitconverterprompt input {
  border-bottom: 1px solid var(--br-primary);
  color: var(--text-primary);
}

#bitconverterprompt input:focus {
  border-bottom: 1px solid var(--br-primary);
}

#bitconverterprompt label {
  color: var(--text-primary) !important;
}

.radio-green {
  background: #42b983;
}

.btn-group-toggle {
  border: 1px solid var(--bg-tabs) !important;
}

.selected {
  background: var(--bg-secondary) !important;
  color: var(--text-secondary) !important;
}

.set {
  border: .5px solid var(--bg-tabs) !important;
  border-radius: 1.5px;
}

.input-group-prepend button:hover {
  background: var(--bg-secondary) !important;
}
.input-group-append button:hover {
  background:  var(--bg-secondary) !important;
}
