// ************

#NightSkySvg .svgText {
    fill: white;
}
  
#NightSkySvg .svgNav {
    fill: #727d8d;
    stroke: #665627;
}

#NightSkySvg .svgGrid {
    stroke: #6A7980;
}

#NightSkySvg .svgGridBG {
    fill: #1B2C33;
}

#NightSkySvg .SvgChev {
    stroke: #665627;
}

#NightSkySvg .svgPanel {
    fill: #0F111A;
    stroke: #665627;
}

#NightSkySvg .svgHeader {
    fill: #0F111A;
}

// ************

#Lite-bornSpringSvg .svgText {
    fill: #6B6B6B;
}
  
#Lite-bornSpringSvg .svgNav {
    fill: #D7D7D7;
    stroke: #BABABA;
}

#Lite-bornSpringSvg .svgGrid {
    stroke: #BABABA;
}

#Lite-bornSpringSvg .svgGridBG {
    fill: white;
}

#Lite-bornSpringSvg .SvgChev {
    stroke: #42B983;
}

#Lite-bornSpringSvg .svgPanel {
    fill: #EAEAEB;
    stroke: #42B983;
}

#Lite-bornSpringSvg .svgHeader { 
    stroke: #BABABA;
    fill: #6b6b6b;
}

// ************

#HighContrastSvg .svgText {
    fill: white;
}
  
#HighContrastSvg .svgNav {
    fill: #262626;
    stroke: #F38518;
}

#HighContrastSvg .svgGrid {
    stroke: #9ad5e9;
}

#HighContrastSvg .svgGridBG {
    fill: black;
}

#HighContrastSvg .SvgChev {
    stroke: #F38518;
}

#HighContrastSvg .svgPanel {
    fill: black;
    stroke: #F38518;
}

#HighContrastSvg .svgHeader {
    fill: black;
}

// ************

#ColorBlindSvg .svgText {
    fill: white;
}
  
#ColorBlindSvg .svgNav {
    fill: #2e2b21;
    stroke: #8d88ad;
}

#ColorBlindSvg .svgGrid {
    stroke: #8d88ad;
}

#ColorBlindSvg .svgGridBG {
    fill: #fff;
}

#ColorBlindSvg .SvgChev {
    stroke: #e2dad1;
}

#ColorBlindSvg .svgPanel {
    fill: #2e2b21;
    stroke: #e2dad1;
}

#ColorBlindSvg .svgHeader {
    fill: #2e2b21;
}

// ************

#GWSvg .svgText {
    fill: #656565;
}
  
#GWSvg .svgNav {
    fill: #D7D7D7;
    stroke: #BABABA;
}

#GWSvg .svgGrid {
    stroke: #BABABA;
}

#GWSvg .svgGridBG {
    fill: white;
}

#GWSvg .SvgChev {
    stroke: #6B6B6B;
}

#GWSvg .svgPanel {
    fill: #EAEAEB;
    stroke: #6B6B6B;
}

#GWSvg .svgHeader { 
    fill: #6b6b6b;
}