@import "../../../../node_modules/driver.js/dist/driver.min.css";

#driver-highlighted-element-stage {
  background-color: transparent !important;
}

.driver-disabled {
  border: 1.5px solid #ddd !important;
}

.driver-btn-group button {
  font-family: "Nunito", sans-serif !important;
  font-size: 14px !important;
  border: 1.5px solid #42b983 !important;
  text-shadow: none !important;
  border-radius: 0px !important;
}

.driver-btn-group button:hover {
  font-family: "Nunito", sans-serif !important;
  background: #42b983 !important;
  color: white !important;
}

.driver-close-btn {
  font-family: "Nunito", sans-serif !important;
  font-size: 14px !important;
  border: none !important;
  border-radius: 0px !important;
  text-shadow: none !important;
  background: #dc5656 !important;
  color: white !important;
  margin: auto 3px !important;
}

.driver-popover-description,
.driver-popover-title {
  font-family: "Nunito", sans-serif !important;
}

.bug-guide .right {
  top: 110px !important;
}

.tourHelpStep.driver-popover-title {
  display: none !important;
}

.driver-next-btn {
  color: white !important;
  background-color: #42b983 !important;
}
