@import "theme";
@import "bootstrap/scss/bootstrap";
@import 'autoComplete';

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

@import 'trumbowyg/dist/ui/trumbowyg.min';

@import "vendor/commontator/application";
@import "simple_discussion_overrides";
@import "vendor/simple_discussion/simple_discussion";

@import 'layout';
@import 'components';
@import 'navbar';
@import 'footer';
@import 'about';
@import 'contribute';
@import 'search';
@import 'custom_mail';
@import 'editor';
@import 'home';
@import 'assignments';
@import 'examples';
@import 'groups';
@import 'projects';
@import 'users';
@import 'commontator';
@import 'announcements';
@import 'select2/dist/css/select2.css';
@import 'select2_overrides';
@import 'contests';
@import 'rtl_layout';
