<div class="contianer message-container ">
    <% if obj.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">The following errors prevents User from being updated</h4>
            <ul>
                <% obj.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    <% end %>
</div>
