<% if @results.empty? %>
  <div class="container search-no-results-container">
    <div class="row center-row">
      <div class="col-12">
        <div class="search-no-results-image">
          <%= image_tag "SVGs/noResult.svg", alt: "No result image" %>
          <h6><%= t("users.circuitverse.search.no_results") %></h6>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container search-container">
    <% @results.map { |user| ProfileDecorator.new(user) }.each do |profile| %>
      <%= render SearchComponents::UserCardComponent.new(profile: profile) %>
    <% end %>
    <% unless @results.empty? %>
      <%= will_paginate(@results, renderer: SearchPaginateRenderer, page_links: false) %>
    <% end %>
  </div>
<% end %>
