<% content_for :title, "CircuitVerse - About us" %>
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h1 class="display-4 ">CircuitVerse - About</h1>

                    <p>CircuitVerse is a product developed by students at IIIT-Bangalore. It aims to provide a platform where circuits can be designed and simulated using a graphical user interface.
                      While users can design complete CPU implementations within the simulator, the software is designed primarily for educational use.
                      CircuitVerse is an opensource project with an active community. Checkout the contribute page for more detail.
                    </p>
                    <!--<p class="text-info">CircuitVerse.org is a non-profit organisation currently supported by IIIT-Bangalore</p>-->
                    <!-- <p><a class="btn btn-dark btn-lg" href="#" role="button">Launch Simulator &raquo;</a></p> -->
                     <p><a class="" href="/tos" role="button">Terms Of Service</a> |
                     <a class="" href="/privacy" role="button">Privacy Policy</a></p>
                      <p>
                        Contact us @
                        <a href="mailto:support@circuitverse.org" target="_top">support@circuitverse.org</a>
                      </p>
                      <p>
                        Join our chat room @
                        <a href="<%= Rails.configuration.slack_url %>" target="_blank">Slack</a>
                      </p>
                </div>
                <div class="col">
                    <img src="img/logixBanner.png" class="img-fluid img-thumbnail" alt="Responsive image">
                </div>


            </div>
        </div>


    </div>
    <div class="container">
        <div class="row feature">

            <div class="col-6">
              <h3 class="card-title">Developer Team</h3>
                 <h4>Core Team</h4>
                 <ul>
                     <li><a href="https://satu0king.github.io" target="_blank">Satvik Ramaprasad (Product Manager)</a> </li>
                     <li>Biswesh Mohapatra (Lead Developer) </li>
                     <li>Aditya Hegde (SEO and Infrastructure Manager) </li>

                 </ul>
                 <h4>Extended Team</h4>
                 <ul>
                     <li><a href="https://www.linkedin.com/in/vibhavagarwal5/" target="_blank">Vibhav Agarwal (Module Developer) </a></li>
                     <li>Abhishek Krishna (UI Designer and consultant) </li>
                     <li>Aniruddha Mysore (UI Designer and consultant) </li>
                     <li>Shreyas Gupta (Logo Designer) </li>
                 </ul>
            </div>
           <div class="col-10">

             <h4>Mentors</h4>

               <ul>
                 <li>Prof. Subhajit Sen (Domain Expert) </li>
                 <li>Ramesh Sundararaman (Brand Advisor)</li>
                 <li>Vikas Yadav (Technical Advisor) </li>
                 <li>Gaurav Koley (Technical Advisor)</li>
               </ul>

               <!--<img src="img/logix.png" class="img-fluid img-thumbnail" alt="Responsive image">-->
           </div>
        </div>
        <br />
        <br />



    </div>
