<% content_for :title, "CircuitVerse - About us" %>

    <div class="container">
      <div class="row row-about">
        <div class="col-xs col-sm col-md col-lg">
          <h1 class="heading">ABOUT</h1>
            <h5>Learn about the awesome people behind CircuitVerse</h5>
            <p id="about">CircuitVerse is a product developed by students at IIIT-Bangalore. It aims to provide a platform where circuits can be designed and simulated using a graphical user interface. While users can design complete CPU implementations within the simulator, the software is designed primarily for educational use. CircuitVerse is an opensource project with an active community. Checkout the contribute page for more detail.</p>
          </div>
        </div>
        <div class="col-xs col-sm col-md col-lg text-center">
          <button type="button" class="btn btn-about" onclick="window.location.href = '/tos';">Terms of Service</button>
          <button type="button" class="btn btn-about" onclick="window.location.href = '/privacy';">Privacy Policy</button>
        </div>
        <div class="row row-about">
          <div class="col-xs col-sm col-md col-lg">
            <div class="contact" onclick="window.open('mailto:support@circuitverse.org', '_blank');">
              <%= image_tag "SVGs/email.svg", height: '60', width: '60', alt: "", class: 'about-card-image' %>
              <h6>Email us at</h6>
              <p id="tab">support@circuitverse.org</p>
            </div>
            <div class="contact" onclick="window.open('<%= Rails.configuration.slack_url %>', '_blank');">
              <%= image_tag "SVGs/slack.svg", height: '60', width: '60', alt: "", class: 'about-card-image' %>
              <h6>Join and chat with us at</h6>
              <p id="tab">Slack Channel</p>
            </div>
          </div>
        </div>
        <hr/>
      <div class="row row-about">
        <div class="col-xs col-sm col-md col-lg">
          <div class="team-heading">
            <h2>CONTRIBUTORS</h2>
            <h5>Meet the awesome people of CircuitVerse community that've made this platform what it is now.</h5>
          </div></div></div>
          <div class="row row-about">
            <div class="flex-container-about">

            </div>
          </div>
          <script type="text/javascript">
            async function getContributors(url){
              let apiData = await fetch(url);
              let contributorsData = await apiData.json();
              for (let i=0; i<contributorsData.length; i++){
                let contributorElement = document.createElement('div');
                let contributorElementAnchor = document.createElement('a');
                let contributorElementImage = document.createElement('img');
                contributorElement.classList.add('contributor-about');
                contributorElementAnchor.href = await contributorsData[i]['html_url'];
                contributorElementImage.src = await contributorsData[i]['avatar_url'];
                contributorElementImage.classList.add('contributor-image-about');
                contributorElementAnchor.appendChild(contributorElementImage);
                contributorElement.appendChild(contributorElementAnchor);
                document.getElementsByClassName('flex-container-about')[0].appendChild(contributorElement);
              }
            }
            getContributors('https://api.github.com/repos/CircuitVerse/CircuitVerse/contributors');
          </script>
        </div>
