


html, html.dark-mode, 
body, body.dark-mode {
    &.dark-mode {
        background-color: #0d1117 !important;
        color: green;
    }
}

body.dark-mode {
    
    #main-navbar, .navbar, .navbar.bg-white {
        background-color: #161b22 !important;
        border-bottom: 1px solid #30363d !important;
    }
    .navbar-nav .nav-link, 
  .navbar-item, 
  .navbar-text {
    color: #c9d1d9 !important; 
    transition: color 0.2s ease-in-out;

    &:hover, &:focus {
      color: #58a6ff !important; 
    }
  }


    
    .hero-section, #home-features-section, section, .card {
        background-color: #0d1117 !important;
        color: green !important;

    }
}
