.announcements-content-wrapper {
  align-items: center;
  background: $primary-green;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  justify-content: center;
  min-height: 35px;
  min-width: 100vw;
  overflow-wrap: break-word;
  position: fixed;
  top: 0;
  z-index: 1;

  p {
    margin-bottom: 0;
  }

  a {
    border-bottom: 1px dotted $white;
    color: $white;
    font-weight: bold;
    margin-left: 10px;

    &:hover {
      text-decoration: none;
    }
  }
}

@media(max-width: 992px) {
  .announcements-content-wrapper {
    font-size: 9px;
  }
}
