.announcements-content-wrapper {
  align-items: center;
  background: $primary-green;
  border-radius: .3rem;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: .3rem;
  overflow-wrap: break-word;

  span {
    display: inline-block;
    flex: 50%;
    margin-right: 1rem;
    margin-top: 1rem;
    text-align: center;
  }

  a {
    background: $primary-red;
  }
}

.announcement-border {
  border: 1px solid $green;
  border-radius: 1rem;
  border-top: .45rem solid $green;
}

.announcement-anchor {
  color: $white;
  font-size: .85rem;
  font-weight: 500;
  text-decoration: none;
}

.announcement-text {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: .5rem;
}

.announcement-box {
  background-color: $white;
}

.announcement-green {
  background-color: $card-green;
}

@media(max-width: 992px) {
  .announcements-content-wrapper {
    font-size: 1rem;
    padding-bottom: .6rem;

    span {
      flex: 100%;
    }
  }
}
