.announcements-content-wrapper {
  align-items: center;
  background: $primary-green;
  border-radius: .3rem;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: .3rem;
  word-break: break-all;

  span {
    display: inline-block;
    flex: 50%;
    margin: 1.3rem;
    text-align: center;
  }

  a {
    background: $secondary-red;
  }
}

@media(max-width: 992px) {
  .announcements-content-wrapper span {
    flex: 100%;
  }
}
