@import "theme";
@import "bootstrap/scss/bootstrap.scss";
@import "commontator/application";
@import "bootstrap-typeahead-rails";
@import "font-awesome/css/font-awesome.min.css";
@import "signup";
@import "logixRelease";
@import "layout";
@import "about";
@import "editor";
@import "trumbowyg/dist/ui/trumbowyg.min.css";

// #FIXME move these styles
.alert {
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
