/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require commontator/application
 *= require bootstrap-typeahead-rails
*/
 .alert {
   width:100%;
 }
 .foot {
  position:absolute;
  bottom:10px;
  width:100%;
 }

.col-centered{
  float: none;
  margin: 0 auto;
}

/* CSS for the sponsor logos in the footer */
#footer-logo-iiitb{
  width: 85%;
}

#footer-logo-DO{
  width: 100%;
  padding-top: 8%;
}

#footer-logo-istudio{
  width: 75%;
}

#footer-logo-zense{
  width: 75%;
}
