@import "theme";
@import "bootstrap/scss/bootstrap";
@import "commontator/application";
@import 'bootstrap-typeahead-rails';
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'layout';
@import 'components';
@import 'signup';
@import 'logixRelease';
@import 'projects';
@import 'about';
@import 'editor';
@import 'groups';
@import 'group_members';
@import 'profile';
@import 'home';
@import 'contribute';
@import 'assignments';
@import 'trumbowyg/dist/ui/trumbowyg.min';
@import 'examples';

@import 'oldStyles';
// #FIXME move these styles
.alert {
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
