@import "theme";
@import "bootstrap/scss/bootstrap.scss";
@import "commontator/application.css";
@import 'bootstrap-typeahead-rails';
@import 'font-awesome/css/font-awesome.min.css';
@import 'signup';
@import 'logixRelease';
@import 'layout';
@import 'about';
@import 'editor';
@import 'groups';
@import 'group_members';
@import 'profile';
@import 'home';
@import 'assignments';
@import 'trumbowyg/dist/ui/trumbowyg.min.css';
@import 'commontator';
// #FIXME move these styles
.alert {
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
