@import "theme";
@import "bootstrap/scss/bootstrap.scss";
@import "commontator/application";
@import "bootstrap-typeahead-rails";
@import "footer";
@import "logixRelease";

// #FIXME move these styles
.alert {
  width: 100%;
}
.foot {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
