//new assignment
.newassignment-heading-submain {
  margin-top: 0;
}

.newassignment-grade-noedit {
  border: 1px solid $teal;
  height: 40px;
  margin-bottom: 35px;
  padding: 5px 5px 5px 10px;
}

.newassignment-checkpoint-primary-container {
  margin-bottom: 5px;
  margin-top: 5px;

  input:checked ~ .checkpoint-primary {

    &::after {
      left: 7px;
      top: 2px;
    }
  }
}

.newassignment-checkpoint-primary {
  height: 20px;
  width: 20px;
}
//new assignment ends

.submission-table {
  border: 1px solid $green;
  border-bottom: 0;
  border-right: 0;
  max-height: 600px;
  overflow: auto;
}

.list-submission {
  &:hover {
    background-color: $green;
    color: $white;
  }
}

.col-3-submission-list {
  margin-right: 0;
  padding-right: 0;
}

.col-9-submission-list {
  border: 1px solid $green;
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.grade-container {
  border: 1px solid $green;
  margin-top: 10px;
}

.grade-form-help {
  font-size: 14px;
  margin-top: 5px;
}

.assignment-grade-inputs {
  width: 100%;
}

.btn-assignment-show {
  padding-left: 0;
}

.div-no-submission {
  border: 1px solid $green;
  padding: 15px;
}
