//newassignment-editassignment
.assignments-submain-heading {
  margin-top: 0;
}

.assignments-noedit-grade-field {
  border: 1px solid $secondary-green;
  height: 40px;
  margin-bottom: 35px;
  padding: 5px 5px 5px 10px;
}
//newassignment-editassignment ends

.submission-table {
  border: 1px solid $green;
  border-bottom: 0;
  border-right: 0;
  max-height: 600px;
  overflow: auto;
}

.list-submission {
  &:hover {
    background-color: $green;
    color: $white;
  }
}

.col-3-submission-list {
  margin-right: 0;
  padding-right: 0;
}

.col-9-submission-list {
  border: 1px solid $green;
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.grade-container {
  border: 1px solid $green;
  margin-top: 10px;
}

.grade-form-help {
  font-size: 14px;
  margin-top: 5px;
}

.assignment-grade-inputs {
  width: 100%;
}

.btn-assignment-show {
  padding-left: 0;
}

.div-no-submission {
  border: 1px solid $green;
  padding: 15px;
}
