.thread {
  display: block;
}

.thread-header {
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 25px;
}

.thread-reply {
  font-size: 15px;
}

.comment {
  background-color: $comment-div-background;
  border-color: $white;
  clear: both;
  color: $black;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 15px;
}

.comment-div {
  padding-left: 15px;
  vertical-align: middle;
}

.comment-form-field {
  border: 1.5px solid $comment-form-field-border;
  box-shadow: $shadow-grey 0 1.3px;
  margin-left: 1px;
  margin-top: 25px;
  padding: 5px;
  padding-bottom: 10px;
}

.comment-form-field textarea {
  background-color: $comment-form-field-textarea-background;
  border: 0;
  font-size: 12px;
  height: 30px;
  padding: 5px;
}

::placeholder {
  color: $placeholder-color;
  opacity: 1;
}

.comment-body {
  padding-top: 3px;
}

.comment-body p {
  margin: 0;
  overflow: hidden;
}

.comment-votes {
  text-align: center;
}

.comment-vote-count {
  float: right;
}

.comment-votes form {
  margin: 0;
}

.comment-avatar img {
  float: left;
  height: 25px;
  width: 28px;
}

.comment-name {
  font-weight: bold;
}

.thread .mentions-input-box .mentions {
  left: -2px;
  top: -2px;
}

.mentions-input-box .mentions {
  bottom: 0;
  color: $white;
  left: 1px;
  overflow: hidden;
  padding: 9px;
  position: absolute;
  right: 0;
  top: 1px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.mentions-input-box textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  resize: none;
}

.comment_upvote {
  display: block;
  height: 12px;
  margin: 0;
  margin-bottom: 6px;
}

.comment-downvote {
  display: block;
  height: 12px;
  margin: 0;
}

.comment_upvote img {
  height: 13px;
}

.comment-downvote img {
  height: 13px;
}

.comment-commontator a {
  color: $black;
  font-weight: bold;
}

.comment-actions-link a {
  color: $black;
  text-decoration: underline;
}
