//buttons
.button-primary {
  background-color: $green;
  border-radius: 4px;
  color: $white;
  margin: 5px;
  transition: all .3s ease 0s;

  &:hover {
    background-color: $teal;
    box-shadow: 0 8px 15px $shadow-black;
    color: $white;
    transform: translateY(-7px);
  }
}

.button-secondary {
  background-color: $white;
  border: 1.5px solid $teal;
  border-radius: 4px;
  color: $black;
  height: 30px;
  margin: 5px;
  padding: 0 5px 6px;
  text-decoration: none;

  img {
    height: 20px;
    padding-bottom: 2px;
    padding-right: 2px;
    width: 20px;
  }
}

.button-mini-edit {
  border-radius: 4px;
  color: $white;
  height: 32px;
  margin: 5px;
  padding: 3px 5px;
  text-decoration: none;
  width: 85px;
}

//cards
.card-small-social {
  background-color: $card-green;
  box-shadow: 0 2px 7px $shadow-black;
  display: inline-block;
  height: 89px;
  margin: 50px 7px 40px;
  opacity: .89;
  padding: 15px;
  transition: box-shadow .2s ease-in;
  width: 300px;

  &:hover {
    box-shadow: 0 7px 7px $shadow-black;
  }
}

.card-small-social-image {
  float: left;
}

//tags
.search-tag {
  background-color: $teal;
  border-radius: 4px;
  color: $white;
  font-weight: 500;
  padding: 5px;

  &:hover {
    color: $white;
  }
}

.background-card {
  background-color: $card-grey;
  margin: 15px;
  min-width: 230px;
  padding: 15px;
}

//errors
.error-explanation {
  background: $error-red;
  border-radius: 4px;
  color: $error-red-font;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;

  li {
    text-align: left;
  }
}

//form elements
.form-input {
  background-color: $white;
  border: 1px solid $green;
  border-radius: 0;
  height: 40px;
}

//modals
.custom-modal-dialog {
  border-radius: 4px;
  box-shadow: none;
  padding-right: 0;
}

.custom-modal-header {
  background-color: $green;
  border: 1px solid $green;
  box-shadow: none;
  height: 65px;
  width: 499px;

  .modal-title {
    color: $white;
  }

  .close {
    color: $white;
    opacity: 1;
  }
}

//breakpoints
@media (max-width:$small-display) {
  .about-button-primary-container {
    text-align: center;
  }

  .card-small-social {
    width: 230px;
  }

  .card-small-social-image {
    display: none;
  }
}

@media (max-width: 768px) {
  .background-card {
    margin: auto;
  }
}

@media (max-width: 400px) {
  .button-mini-edit {
    margin: 2px;
  }
}


//final styles
//buttons
.primary-button {
  background-color: $primary-green;
  border-radius: 4px;
  color: $white;
  margin: 5px;
  transition: all .3s ease 0s;

  &:hover {
    background-color: $secondary-green;
    box-shadow: 0 8px 15px $shadow-black;
    color: $white;
    transform: translateY(-7px);
  }
}

//cards
.social-card {
  background-color: $card-green;
  box-shadow: 0 2px 7px $shadow-black;
  display: inline-block;
  height: 89px;
  margin: 50px 7px 40px;
  opacity: .89;
  padding: 15px;
  transition: box-shadow .2s ease-in;
  width: 300px;

  &:hover {
    box-shadow: 0 7px 7px $shadow-black;
  }
}

.social-card-image {
  float: left;
}
