.card-contribute {
  border: 0;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 300px;
}

.cardimage-contribute {
  height: 150px;
  width: 150px;
}

.cardbody-contribute > h3 {
  text-align: center;
}

.cardbody-contribute > ul {
  text-align: left;
}

.contribute-pay {
  display: inline-block;
  height: 100px;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  text-align: center;
  width: 200px;

  p {
    font-weight: 550;
  }
}

.patreon {
  border: 1.5px solid $black;
  border-radius: 8px;
  box-shadow: 3px 3px 6px $shadow-black;
  padding: 4px;
  transition: box-shadow .2s ease-in;

  &:hover {
    box-shadow: 0 9px 9px $shadow-black;
  }

  img {
    height: 70px;
    width: 160px;
  }
}

@media (max-width:350px) {
  .card-contribute {
    padding-left: 0;
    width: 250px;
  }
}
