.contribute-card {
  border: 0;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 300px;
}

.contribute-card-image {
  height: 150px;
  width: 150px;
}

.contribute-card-body {
  h3 {
    text-align: center;
  }

  ul {
    text-align: left;
  }
}

.contribute-pay-card-container {
  display: inline-block;
  height: 100px;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  text-align: center;
  width: 200px;

  p {
    font-weight: 550;
  }
}


.contribute-pay-card {
  border: 1.5px solid $black;
  border-radius: 8px;
  box-shadow: 3px 3px 6px $shadow-black;
  padding: 4px;
  transition: box-shadow .2s ease-in;

  &:hover {
    box-shadow: 0 9px 9px $shadow-black;
  }

  img {
    height: 70px;
    width: 160px;
  }
}

//breakpoints
@media (max-width: 400px) {
  .contribute-card {
    padding-left: 0;
    width: 250px;
  }
}

@media (max-width: 1199px) {
  .contribute-social-card {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
