.footer-empty-div {
  height: 250px;
}

.footer-container-fluid {
  background-color: $footer-dark-grey;
}

.footer-social-icon {
  width: 28px;

  @media (max-width: 576px) {
    width: 24px; // Adjust the size for small screens
  }
}


.footer-social-icons-row {
  column-gap: 2px;
  margin: inherit;
}

.bounce-out-on-hover {
  box-shadow: 0 0 0 $black;
  display: inline-block;
  padding: 2px;
  transform: perspective(1px) translateZ(0);
  transition-duration: .5s;
  vertical-align: middle;
}

.bounce-out-on-hover:hover,
.bounce-out-on-hover:focus,
.bounce-out-on-hover:active {
  transform: scale(.8);
  transition-timing-function: cubic-bezier(.47, 2.02, .31, -.36);
  z-index: 1;
}

.footer-links {
  a {
    color: $white;
    text-decoration: none;

    h6 {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}



.footer-copyright-text {
  padding-top: 12px;

  p {
    font-size: 12px;
  }

}

.bounce-out-on-hover::before,
.bounce-out-on-hover::after {
  --scale: 0;
  left: 55%;
  position: absolute;
  top: 230%;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  transform-origin: center;
  transition: 150ms transform;
}

.bounce-out-on-hover::before {
  background: $tooltip-grey;
  border-radius: .3rem;
  color: $white;
  content: attr(data-tooltip);
  padding: .5rem;
  text-align: center;
  width: fit-content;
}

.bounce-out-on-hover:hover::before,
.bounce-out-on-hover::after {
  --scale: 1;
}

.bounce-out-on-hover::after {
  content: '';
  width: 10px;
}