.footer-empty-div {
  height: 250px;
}

.footer-container-fluid {
  background-color: $footer-dark-grey;
}

.footer-container {
  color: $white;
  padding-top: 30px;
  text-align: center;
}

.footer-column {
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer-logo {
  max-height: 80px;
  max-width: 100%;
}

.footer-social-icon-text {
  margin-left: 15px;
}

.footer-social-icon {
  margin-left: 15px;
  width: 32px;
}

.bounce-out-on-hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.5s;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.5s;
}

.bounce-out-on-hover:hover, .bounce-out-on-hover:focus, .bounce-out-on-hover:active {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.footer-links {
  a {
    color: $white;
    text-decoration: none;

    h6 {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.footer-sponsor-logo-text {
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-sponsor-logo {
  border: solid $footer-dark-grey 1px;
  border-radius: 5px;
  width: 100%;
}

.footer-copyright-text {
  padding-top: 15px;

  p {
    font-size: 15px;
  }
}
