
//group details
.groupdetails-button-primary-editname {
  margin-bottom: 20px;
}

.groupdetails-heading-mentor {
  font-weight: normal;
}

.groupdetails-row {
  padding-top: 65px;
  justify-content: space-between;
}

.groupdetails-row-scroll {
  max-height: 525px;
  overflow-y: auto;
}

.groupdetails-button-primary-addmember {
  padding: 12px 35px;
}

.groupdetails-card-member {
  background-color: $lightgrey;
  border: 1px solid $teal;
  height: 90px;
  margin: 10px;
  max-width: 300px;
  padding: 15px;
}

.groupdetails-card-member-details-1 {
  padding-right: 0;
  text-align: left;

  i {
    margin-top: 0;
    margin-right: 3px;
  }
}

.groupdetails-card-member-details-2 {
  padding-top: 15px;
}

.groupdetails-card-member-name {
  color: $black;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.groupdetails-card-member-email {
  color: $black;
  font-size: 15px;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.groupdetails-button-mini-remove {
  background-color: $error-red-font;
  cursor: pointer;
  font-size: 15px;
  margin-left: 5px;
  padding: 4px 7px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

//to do
.assignment-view {
  background-color: $green;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding: 2px 12px;
  text-decoration: 0;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.assignment-edit-reopen {
  background-color: $mint-green;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding: 2px 12px;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.assignment-details {
  background-color: $mint-green;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding: 2px 12px;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.assignment-delete {
  background-color: $red;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding: 2px 12px;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}


.group-description-back {
  border-radius: 25px;
  color: $white;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 16px;
  padding: 12px 34px;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.assignment-table {
  border-collapse: collapse;
}

.assignment-rows {
  background-color: $gray-100;
  border: 1px solid $green-border;
}

.scroll-members-card {
  max-height: 125px;
  overflow-y: scroll;
}
//to do ends

//to be removed
.add-member {
  background-color: $green;
  border: 0;
  border-radius: 25px;
  color: $white;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 34px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.group-name-editlink {
  background-color: $teal;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  font-size: 18px;
  left: 4px;
  padding: 8px;
  position: relative;
  top: -7px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
