// Place all the styles related to the group_members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group-name-editlink {
  background-color: $teal;
  border: 0;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  left: 4px;
  padding: 8px;
  position: relative;
  top: -7px;

}

.card-member {
  background-color: $gray-100;
  border: 1px solid $green-border;
  margin: 2px;
  max-width: 18rem;

}

.group-name-editlink {
  &:hover {
    border: 0;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    left: 4px;
    position: relative;
    text-decoration: none;
    top: -7px;
    }

}

.add-member {
  background-color: $green;
  border: 0;
  border-radius: 15px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 12px;

}

.add-member {
  &:hover {
    border: 0;
    border-radius: 15px;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }

}

.assignment-view {
  background-color: $green;
  border: 0;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  text-decoration: 0;

}

.assignment-view {
  &:hover {
    color: $white;
    text-decoration: none;
  }

}

.assignment-edit-reopen {
  background-color: $mint-green;
  border: 0;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  text-decoration: 0;

}

.assignment-edit-reopen {
  &:hover {
    color: $white;
    text-decoration: none;
  }

}

.assignment-delete {
  background-color: $red;
  border: 0;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  text-decoration: 0;

}

.assignment-delete {
  &:hover {
    color: $white;
    text-decoration: none;
  }

}

.card-member-name {
  color: $black;
  font-size: 18px;

}

.card-member-name {
  &:hover {
    color: $black;
    font-size: 18px;
    text-decoration: none;
  }
}

.card-member-remove {
  background-color: $red;
  border: 0;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: right;
  font-size: 16px;
  overflow: hidden;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  position: relative;
  text-decoration: 0;

}

.card-member-remove {
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.group-discription-back {
  border: 0;
  border-radius: 15px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 12px;
  text-align: center;
  text-decoration: 0;

}

.group-discription-back {
  &:hover {
    border: 0;
    border-radius: 15px;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    padding-bottom: 12px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
  }
}

.assignment-table {
  border-collapse: collapse;
  border-spacing: 0 1em;
}

.assignment-rows {
  background-color: $gray-100;
  border-color: solid $green-border;
}
