//editgroup
.editgroup-image {
  margin-bottom: 15px;
  margin-top: 30px;
  max-height: 400px;
  max-width: 90%;
}

.editgroup-background-card {
  margin-top: 50px;
  max-width: 80%;
  padding-bottom: 70px;
  padding-top: 40px;
}

.editgroup-form-text {
  padding-left: 40px;
  text-align: left;
}

.editgroup-form-input {
  padding-left: 10px;
  width: 80%;
}

.editgroup-button-primary {
  margin-left: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.editgroup-anchor-text {
  margin-left: 10px;
}
//editgroup ends

//groups
.groups-button-primary {
  margin-top: 20px;
  padding: 10px 40px;
}

.groups-card {
  background-color: $card-grey;
  border-radius: 4px;
  box-shadow: 0 2px 7px $shadow-black;
  display: flex;
  margin: 15px 0;
  padding: 10px 0;
}

.groups-mentor-card {
  align-items: center;
  border-top: 10px solid $green;
  flex-direction: column;
  // justify-content: center;
}

.groups-mentor-card-name {
  font-size: 28px;
  font-weight: 500;
  padding-top: 15px;
}

.groups-mentor-card-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
}

.groups-mentor-card-button-edit {
  background: $seablue;
  transition: transform .2s ease-in;
  width: 75px;

  img {
    height: 20px;
    padding-bottom: 2px;
    width: 20px;
  }

  &:hover {
    color: $white;
    text-decoration: none;
    transform: translateY(-4px);
  }
}

.groups-mentor-card-button-delete {
  background: $error-red-font;
  transition: transform .2s ease-in;

  img {
    height: 20px;
    padding-bottom: 2px;
    width: 20px;
  }

  &:hover {
    color: $white;
    text-decoration: none;
    transform: translateY(-4px);
  }
}

.groups-mentor-card-button-view {
  background: $green;
  transition: transform .2s ease-in;
  width: 75px;

  img {
    height: 20px;
    padding-bottom: 2px;
    width: 20px;
  }

  &:hover {
    color: $white;
    text-decoration: none;
    transform: translateY(-4px);
  }
}

.groups-member-card {
  align-items: center;
  border-left: 10px solid $green;
  flex-direction: row;
  justify-content: space-around;
}

.groups-member-card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.groups-member-card-button {
  margin-top: 20px;
}
//groups ends

//breakpoints
@media (max-width: 1000px) {
  .editgroup-form-text {
    padding-left: 15px;
  }
}

@media (max-width: 400px) {
  .editgroup-anchor-text {
    margin-left: 2px;
  }
}

@media (max-width: 991px) and (min-width: 720px) {
  .editgroup-image {
    margin-top: 80px;
  }
}

@media (max-width:400px) {
  .editgroup-button-primary {
    padding-left: 10px;
    padding-right: 10px;
  }

  .editgroup-form-text {
    margin-left: 10px;
    padding-left: 20px;
  }

  .editgroup-background-card {
    margin-left: 0;
    padding-left: 10px;

  }
}

.card-group {
  background-color: $card-grey;
  border-radius: 4px;
  box-shadow: 0 2px 7px $shadow-black;
  display: flex;
  margin: 15px 0;
  padding: 10px;
}


.mentor-card-group {
  align-items: center;
  border-top: 10px solid $teal;
  flex-direction: column;
  justify-content: center;
}

.btn-card {
  align-items: center;
  border-radius: 2px;
  color: $black;
  display: flex;
  flex-direction: row;
  font-size: x-small;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  width: 75px;

  &:hover {
    text-decoration: none;
  }
}


.btn-mentor-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.btn-view {
  border: 2px solid $green;

  &:hover {
    background-color: $green;
    color: $white;
  }
}

.btn-edit {
  border: 2px solid $blue;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.btn-delete {
  border: 2px solid $danger;

  &:hover {
    background-color: $danger;
    color: $white;
  }
}

.in-card-group {
  align-items: center;
  border-left: 10px solid $teal;
  flex-direction: row;
  justify-content: space-around;
}



.in-card-view {
  background-color: $teal;
  border-radius: 2px;
  color: $white;
  margin: 10px;
  padding: 2px 15px;

  &:hover {
    background-color: $white;
    color: $teal;
    text-decoration: none;
  }
}

.group-name {
  font-size: 30px;
  font-weight: bold;
}

.group-member-count {
  font-size: 18px;
}

.group-input-name {
  border: 1px solid $green;
  border-radius: 0;
}

//breakpoints
@media (max-width: 1000px) {
  .editgroup-form-text {
    padding-left: 15px;
  }
}

@media (max-width: 400px) {
  .editgroup-anchor-text {
    margin-left: 2px;
  }
}

@media (max-width: 991px) and (min-width: 720px) {
  .editgroup-image {
    margin-top: 80px;
  }
}

@media (max-width:400px) {
  .editgroup-button-primary {
    padding-left: 10px;
    padding-right: 10px;
  }

  .editgroup-form-text {
    margin-left: 10px;
    padding-left: 20px;
  }

  .editgroup-background-card {
    margin-left: 0;
    padding-left: 10px;

  }
}
