// Place all the styles related to the group_members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-member {
  background-color: $gray-100;
  border: 1px solid $green-border;
  border-radius: 2px;
  margin-top: 8px;
  padding: 18px 14px;
}

.group-name-editlink {
  background-color: $teal;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  font-size: 18px;
  left: 4px;
  padding: 8px;
  position: relative;
  top: -7px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.add-member {
  background-color: $green;
  border: 0;
  border-radius: 25px;
  color: $white;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 34px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.assignment-view {
  background-color: $green;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding: 2px 12px;
  text-decoration: 0;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.assignment-edit-reopen {
  background-color: $mint-green;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding: 2px 12px;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.assignment-delete {
  background-color: $red;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding: 2px 12px;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.card-member-name {
  color: $black;
  font-size: 20px;
  max-width: 175px;
  word-wrap: break-word;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.card-member-email {
  color: $black;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 2px;
  max-width: 175px;
  word-wrap: break-word;
}

.card-member-remove {
  background-color: $red;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  overflow: hidden;
  padding: 2px 5px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.group-description-back {
  border-radius: 25px;
  color: $white;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 16px;
  padding: 12px 34px;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.assignment-table {
  border-collapse: collapse;
}

.assignment-rows {
  background-color: $gray-100;
  border: 1px solid $green-border;
}

.add-member-heading {
  display: inline;
}

.auto-scroll-members {
  max-height: 525px;
  overflow-y: auto;
}

.scroll-members-card {
  max-height: 125px;
  overflow-y: scroll;
}
