// Home page New UI
.btn-homepage {
  background-color: $green;
  border-radius: 36px;
  color: $white;
  margin-left: -2px;
  padding: 6px 19px 9px;
  text-align: center;
}

.a-homepage {
  color: $teal;
  margin-left: 15px;
  margin-top: 15px;
  text-decoration: underline;
}

.a-homepage:hover {
  color: $green;
  text-decoration: none;
}

.btn-homepage2 {
  border: 1.6px solid $teal;
  border-radius: 5px;
  margin: 0 7px;

  &:hover {
    background-color: $teal;
    box-shadow: 0 7px 7px $white;
    color: $white;
  }
}

.row-homepage-middle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}

.card-homepage {
  border: 0;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 350px;
}

.card-homepage-example {
  border: 1px solid $green;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card-img-homepage-example {
  max-height: 160px;
}

.homepage-example-p {
  display: inline-block;
  float: left;
  font-weight: 600;
  margin-top: 10px;
}

.homepage-example-button {
  float: right;
  margin-bottom: 15px;
}

.card-footer-homepage-example {
  background-color: $white;
}

.row-featured-examples {
  background-color: $green;
}

.btn-right {
  float: right;
}

.homepage-cover {
  margin-top: -60px;
  max-height: 700px;
  max-width: 100%;
}

.button-homepage {
  margin-bottom: 50px;
}

@media (max-width: 765px) {
  .button-homepage {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .homepage-cover {
    margin: 20px 0;
  }
}

@media (max-width: 1200px) and (min-width: 765px) {
  .button-homepage {
    margin-top: 100px;
  }
}
