// All the custom class styles
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 90px;
}

.custom-file-upload {
  background-color: $active-background;
  border: 1px solid $green;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  width: 155px;
}

.file-button {
  display: none;
}

.no-projects {
  padding-top: 20px;
  text-align: center;
}

.no-projects-here {
  color: $primary;
}

.simulator {
  border: 2px solid $green;
  font-weight: 500;
  &:hover {
    color: $color-hover;
    background: $active-background;
  }
}

.logo {
  height: 60px;
}

.logo-bottom {
  max-height: 80px;
}

.affix {
  box-shadow: 0 8px 6px -6px $shadow-grey;
}

.navbar {
  background-color: $active-background;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-nav {
  .active {
    a {
      color: $button-border-color !important;
      font-weight: bold;
    }
  }

  .nav-link {
    position: relative;
    &::before {
      background-color: $green;
      bottom: -2px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transition: 300ms;
      width: 0;
    }
    &:hover::before {
      opacity: 1;
      width: 100%;
    }
  }
}

.empty-div {
  height: 250px;
}

.footer-logo {
  width: 80%;
}

.footer-social-icon {
  margin-left: 15px;
  width: 32px;
}

.footer-social {
  margin-bottom: unset;
  margin-left: 15px;
}

.copyright {
  font-size: small;
  overflow: visible;
  white-space: nowrap;
}

.favblank {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
}

.dropdown-item {
  &:hover {
    background-color: $green;
    color: $white;
  }
}
