// All the custom class styles

.simulator {
  border: 2px solid $green;
  font-weight: 500;
  &:hover {
    color: $color-hover;
    background: $active-background;
  }
}

.logo {
  height: 25px;
}

#assignment_name, #party {
  width: 220px;
  height: 30px;
}

.navbar-light .navbar-nav {
  .nav-item {
    .nav-link {
      color: $primary;
      font-weight: 500;
    }

    &.active {
      border-bottom: 2px solid $green;
    }
  }
}

.footer-logo-iiitb {
  width: 85%;
}

.footer-logo-DO {
  width: 100%;
  padding-top: 8%;
}

.footer-logo-istudio {
  width: 75%;
}

.footer-logo-zense {
  width: 75%;
}
