// All the custom class styles

.simulator {
  border: 2px solid $green;
  font-weight: 500;
  &:hover {
    color: $color-hover;
    background: $active-background;
  }
}

.logo {
  height: 25px;
}

.navbar-light .navbar-nav {
  .nav-item {
    .nav-link {
      color: $primary;
      font-weight: 500;
    }

    &.active {
      border-bottom: 2px solid $green;
    }
  }
}

.empty-div {
  height: 250px;
}

.page-footer {
  background: #1c1c1c;
}

.footer-logo {
  width: 80%;
}

.footer-social-icon {
  width: 32px;
}

.footer-social {
  margin-bottom: unset;
}

.copyright {
  font-size: small;
  white-space: nowrap;
  overflow: visible;
}
