@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  [class*="display-4"] {
    padding-top:10px;
  }
}

p {
    text-align: justify;
}

/*  Style for jumbotron*/

.jumbotron1{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0px;
    padding:30px;
}

.jumbotron1 h1 {    
    font-size: 2.5em;
    font-weight: 500;
    color: #026E57;
    text-align: center;
}

.jumbotron1 p {    
    font-size: 20px;
    font-family: Open Sans;
    text-align: center;
}

.btn-lg11.grid{
    color: white;
    background-color: #42B983;
    border-radius: 4px;    
    font-size: .8em;
    padding-top:  5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-lg11.grid:hover{
    color: black;
}

#pp{
   position: absolute;
   top: 9px;
   right: 40px;
   padding:0;
   margin: 0;
}

/* Styling for buttons out of grid*/

.btn-lg1{
    color: white;
    background-color: #42B983;
    border-radius: 30px;
    margin-bottom: 50px;
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
}

.btn-lg1.white{
    background-color: #F9FFFC;
    color: black;
}

.btn-lg1.white:hover{
    background-color: #42B983;
    color: white;
}

/* Styling for grid*/

.contain{
    padding: 30px;
    padding-top: 50px;
    background-color: #F9FFFC ;
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto; 
    font-family: Open Sans;
}

.grid-cell{
    border: 1px solid #026E57;
    margin-top: 5px;
    position: relative;
    background-color: white;
    margin-bottom: 60px;
}

.grid_image{
    padding: 10px;    
    background-color: white;
}

.grid_content {
    font-size: 1.2em;
    position: relative;
}

.grid_content > .card-title{
    font-size: .8em;
    text-align: left;
    margin: 12px;
    margin-top: 8px;
}

.clearfix {
  overflow: auto;
}

.nav-search-form
{
    display:flex;
    position: relative;
    border:1px solid #026E57;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.nav-bar-search-input
{    
    border-radius:30px;
    outline:0;
    border:0;
    padding-left:.8rem;    
}

#nav-searcher{
    position: relative;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto; 
}

@media (max-width:376px)
{
    .nav-bar-search-input.nav1{
    width: 120px;
    font-size: .7em;

    }
}
.hg1{
    width: 39.6px;
    height: 33.2px;            
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9;
}

#search_type{
    height: 33.2;
    width: 39.6;
    border-radius: 30px;
    cursor:pointer;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:30px;
    /*background:url("/img/caret.jpg") 100%/25% no-repeat #ddd;*/
    background-color: white;
    font-size:.8rem;
    padding-right:1.6rem
}

.float{
    float: right;
}

.fa {
    text-align: center;
    position: relative;
    top:4px;
    left: 8px;
}

/* Utility Functions*/

.center{
   text-align: center;
}

.margin{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
} 

.margin-right{
    margin-right: 50px;
    border-radius:30px;
}

@media (max-width: 830px){
    #pp{
        position: absolute;
        margin-bottom: 30px;
        text-align: center;
        font-size: .8em;
    }
    .grid_content > .card-title{
        text-align: left;
        font-size: .5em;
        margin-right: 5px;
    }
}
@media (max-width: 767px){
    #pp{
        position: relative;
        margin-bottom: 30px;
        text-align: center;
        font-size: 1em;
        top:8px;
        left: 0px;
    }
    .grid_content > .card-title{
        text-align: center;
        font-size: 1em;
    }
}






.feature {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1.25rem;
    border-radius: 0.25em;
}

.gif-box {
    position: absolute;
    text-align: center;
    top: 50%;
}

img {
    max-width: 100%;
}

.noSelect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}
.pointerCursor {
    cursor: pointer;
}
.defaultCursor {
    cursor: default;
}

@media only screen and (max-width: 700px) {
    body {
        padding-bottom: 250px;
    }
    .foot {
        background-color: "transparent";
    }
}

#assignment-grade-form {
    display: inline-block;
    width: 100%;
}

#assignment-grade-grade {
    flex: 1;
}

#assignment-grade-remarks {
    flex: 1;
}

.error {
    color: red;
}

.grade-container {
    margin-top: 10px;
}

.bold {
    font-weight: 600;
}

.grade-show-container {
    margin-top: 17px;
}

.grade-form-help {
    margin-top: 5px;
    font-size: 12px;
}

.assignment-grade-inputs {
    display: flex;
    width: 100%;
}

a.btn.btn-outline-primary {
    margin-top: 10px;
}

a.btn.btn-outline-danger {
    margin-top: 10px;
}

#error_explanation {
    color: red;
    background: #f0f0f0;
    border: 1px solid #86181d;
    padding: 4px;
}

#error_explanation h2 {
    font-size: 1.25rem;
}

.pagination .page-link {
    white-space: nowrap;
}

@media (max-width: 992px) {
    .pagination-cont {
        overflow-x: auto;
        padding: 0;
    }

    .pagination {
        overflow-x: visible;
        max-width: none;
        display: block;
        padding: 0;
        white-space: nowrap;
    }

    .pagination > * {
        display: inline-block;
        margin: 0;
        margin-left: -4px;
    }
}
a.btn.btn-outline-primary {
    margin-top: 10px;
}

a.btn.btn-outline-danger {
    margin-top: 10px;
}