.feature {
  border: 1px solid $featurepostborder;
  border-radius: .25em;
  padding: 1.25rem;
}

.gif-box {
  position: absolute;
  text-align: center;
  top: 50%;
}

.label-field {
  align-items: center;
  display: flex;
  justify-content: center;
}

.noSelect {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.pointerCursor {
  cursor: pointer;
}

.defaultCursor {
  cursor: default;
}

#assignment-grade-form {
  display: inline-block;
  width: 100%;
}

#assignment-grade-grade {
  flex: 1;
}

#assignment-grade-remarks {
  flex: 1;
}

.error {
  color: $red;
}

.grade-container {
  margin-top: 10px;
}

.bold {
  font-weight: 600;
}

.grade-show-container {
  margin-top: 17px;
}

.grade-form-help {
  font-size: 12px;
  margin-top: 5px;
}

.assignment-grade-inputs {
  display: flex;
  width: 100%;
}

a.btn.btn-outline-primary {
  margin-top: 10px;
}

a.btn.btn-outline-danger {
  margin-top: 10px;
}

#error_explanation {
  background: #f0f0f0;
  border: 1px solid #86181d;
  color: $red;
  padding: 4px;

  h2 {
    font-size: 1.25rem;
  }
}

.pagination .page-link {
  white-space: nowrap;
}

@media (max-width: 992px) {
  .pagination-cont {
    overflow-x: auto;
    padding: 0;
  }

  .pagination {
    overflow-x: visible;
    max-width: none;
    display: block;
    padding: 0;
    white-space: nowrap;
  }

  .pagination > * {
    display: inline-block;
    margin: 0;
    margin-left: -4px;
  }
}

a.btn.btn-outline-primary {
  margin-top: 10px;
}

a.btn.btn-outline-danger {
  margin-top: 10px;
}

/* New UI */
.heading-profile {
  margin-bottom: 40px;
  margin-top: 40px;
}

#profile-details {
  padding-top: 30px;
}

#profile-details > p {
  font-size: 20px;
}

.profile-background {
  background-color: $slightblack;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 10px 0 25px;
}

.btn-favourite {
  display: inline;
  float: right;
}

.username {
  display: inline;
  margin-left: 10px;
}

.card-userprojects {
  border: 2px solid $green;
  border-radius: 0;
  margin-top: 2rem;
}

.card-header-userprojects {
  background-color: $green;
  color: $white;
}

.card-footer-userprojects {
  background-color: $white;
  border-top: 1.5px solid $green;
}

.cardname {
  display: inline;
}

.modal-header-userprojects {
  background-color: $green;
  color: $white;
}

.modal-footer-userprojects {
  border: 0px;
}

.close-modal {
  color: $white;
  opacity: 1;
}

.feature-preview {
  border: 2px solid $green;
  padding: 1.25rem;
  border-radius: .25em;
}

.btn-userprojects {
  background-color: $green;
  color: $white;
  margin: 2px;
}

.card-contribute {
  display: inline-block;
  width: 300px;
  border: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardimage-contribute {
  width: 150px;
  height: 150px;
}

.cardbody-contribute > h3 {
  text-align: center;
}

.cardbody-contribute > ul {
  text-align: left;
}

.contribute-pay {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.contribute-pay > p {
  font-weight: 550;
}

.patreon {
  border: 1.5px solid $black;
  border-radius: 8px;
  padding: 4px;
  box-shadow: 3px 3px 6px $shadow-black;
}

.patreon > img {
  width: 160px;
  height: 70px;
}

#teacher_heading {
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

#teacher_benefit {
  margin-bottom: 20px;
}

.container-fluid_teachers{
  padding-bottom: 40px;
  padding-top: 40px;
}

.container-fluid_teachersbackground{
  background-color: $gray-100;
  padding-bottom: 40px;
  padding-top: 40px;
}

.align-center {
  align-items: center;
}

.image_teachers {
  border: 1px solid $slight-gray;
  margin-left: 20px;
  max-height: 100%;
  max-width: 100%;
}

.subheading_teachers {
  text-align: left;
}

.name-group {
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  margin-right: 12px;
  margin-top: 10px;
  width: 220px;
}

.edit-name {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 50px;
}

.underline {
  display: inline-block;
  text-decoration: underline;
}

.feature-post {
  border: 1.5px solid $featurepostborder;
  margin-bottom: 10px;
  padding: .6rem .4rem;
}

.iframe-box {
  border: 1px solid $iframeborder;
  border-radius: .25rem;
  padding: .4rem;
}

.container-in {
  padding-top: 50px;
}

.card-body-post {
  border: 0;
  padding: 25px;
  text-decoration: none;
}

.btn-post {
  font-size: 13px;
  height: 28px;
  margin: 5px 5px 5px 0;
}

.fa-post {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 13px;
}

a {
  color: $link-color;
}

.btnself-post {
  background-color: $white;
  border: 1.5px solid $button-border-color;
  color: $black;
}

// New UI Example Page

.heading {
  color: $teal;
  margin-bottom: 10px;
  margin-top: 40px;
}

.row-examples {
  margin-left: auto;
  margin-right: auto;
  max-width: 1344px;
  text-align: center;
}

.btn-examples{
  background-color: $green;
  border-radius: 30px;
  color: $white;
  margin: 30px 10px;
  text-align: justify;
  transition: all .3s ease 0s;
}

.btn-examples-view{
  background-color: $green;
  color: $white;
  float: right;
  font-size: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  text-align: justify;
  transition: all .3s ease 0s;
}

.btn-examples:hover{
  background-color: $teal;
  box-shadow: 0px 8px 15px $shadow-black;
  color: $white;
  transform: translateY(-7px);
}

// Styling for grid

.container-examples{
  background-color: $gray-100;
  font-family: Open Sans;
  padding-top: 50px;
}

.grid-cell{
  background-color: $white;
  border: 1px solid $teal;
  margin-bottom: 60px;
  margin-top: 5px;
  max-width: 90%;
}

.grid-image{
  background-color: $white;
}

.grid-content{
  font-size: 1.2em;
}

.grid-title{
  font-family: Open Sans;
  font-size: .7em;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0px;
  text-align: left;

}

//styling for search

.nav-search-form{
  background-color: $white;
  border: 1px solid $teal;
  border-radius: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.nav-bar-search-input{
  border: 0;
  border-radius: 30px;
  outline: 0;
  padding-left: .8rem;
}

#ns {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.search-logo{
  background-color: $white;
  border-radius: 30px;
  height: 33.2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39.6px;
  z-index: 9;
}

#search_type {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  border-radius: 30px;
  cursor: pointer;
  font-size: .8rem;
  height: 33.2;
  padding-right: 1.6rem;
  width: 39.6;
}

.fa{
  left: 8px;
  position: relative;
  text-align: center;
  top: 4px;
}

.max-width {
  max-width: 100%;
}

