/*  Style for jumbotron*/
.jumbotron1{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0px;
    padding:30px;
    font-family: Open Sans;
}
.jumbotron1 h1{
    font-size: 2.5em;
    font-weight: 500;
    color: #026E57;
    text-align: center;    
}
.jumbotron1 p{
    font-size: 20px;
}
#pp{
   position: absolute;
   top: 9px;
   right: 40px;
   padding:0;
   margin: 0;
}
/* Styling for buttons*/
.styled_btn{
    color: white;
    background-color: #42B983;
    border-radius: 30px;
    margin-bottom: 50px;
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
}
.styled_btn.white{
    background-color: #F9FFFC;
    color: black;
}
.styled_btn.white:hover{
    background-color: #42B983;
    color: white;
}
.styled_btn1{
    color: white;
    background-color: #42B983;
    border-radius: 4px;
    font-size: .8em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.styled_btn1:hover{
    color: black;
}
/* Styling for grid*/
.contain{
    padding: 30px;
    padding-top: 50px;
    background-color: #F9FFFC;
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: Open Sans;
}
.grid-cell{
    border: 1px solid #026E57;
    margin-top: 5px;
    position: relative;
    background-color: white;
    margin-bottom: 60px;
}
.grid_image{
    padding: 10px;
    background-color: white;
}
.grid_content{
    font-size: 1.2em;
    position: relative;
}
.grid_content > .grid-title{
    font-size: .8em;
    text-align: left;
    margin: 12px;
    margin-top: 8px;
}
/*styling for search*/
.nav-search-form{
    display:flex;
    position: relative;
    border:1px solid #026E57;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.nav-bar-search-input{
    border-radius:30px;
    outline:0;
    border:0;
    padding-left:.8rem;
}
#ns{
    position: relative;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.search_logo{
    width: 39.6px;
    height: 33.2px;
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9;
}
#search_type{
    height: 33.2;
    width: 39.6;
    border-radius: 30px;
    cursor:pointer;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:30px;
    /*background:url("/img/caret.jpg") 100%/25% no-repeat #ddd;*/
    background-color: white;
    font-size:.8rem;
    padding-right:1.6rem;
}
.fa{
    text-align: center;
    position: relative;
    top:4px;
    left: 8px;
}
/* Utility Functions*/
.page_mid{
   text-align: center;
}
.margin{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.margin-right{
    margin-right: 50px;
    border-radius:30px;
}
@media (max-width: 830px){
    #pp{
        position: absolute;
        margin-bottom: 30px;
        text-align: center;
        font-size: .8em;
    }
    .grid_content > .grid-title{
        text-align: left;
        font-size: .5em;
        margin-right: 5px;
    }
}
@media (max-width: 767px){
    #pp{
        position: relative;
        margin-bottom: 30px;
        text-align: center;
        font-size: 1em;
        top:8px;
        left: 0px;
    }
    .grid_content > .grid-title{
        text-align: center;
        font-size: 1em;
    }
}
@media only screen and (max-width: 480px){
  /* For mobile phones: */
  [class*="display-4"]{
    padding-top:10px;
  }
}
@media (max-width:376px){
    .nav-bar-search-input.nav1{
    width: 120px;
    font-size: .7em;
    }
}