// Style-sheet for lti
.open_invc_container{
    display: flex !important;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.open_invc_container h4{
    margin-bottom: 2rem;
}
.open_invc_container h6{
    margin-bottom: 1rem;
}