@import 'theme';


.mailer-button {
  background-color: $primary-green;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  text-decoration: none;
  width: 220px;
}


.mailer-showcase-container {
  display: inline-block;
}

.mailer-showcase-card {
  display: inline-block;
  padding: 15px 20px;
  width: 250px;
}

.mailer-showcase-card-image {
  max-width: 80%;
}

.mailer-showcase-heading {
  margin-top: 0;
}

.mailer-showcase-text {
  font-size: 15px;
}

.mailer-showcase-card-button {
  width: 120px;
}


@media (max-width: 674px) {
  .mailer-logo { 
    width: 180px; 
  }
  .mailer-group-image { 
    width: 75%; 
  }
  .mailer-assignment-image { 
    width: 50%; 
  }
  .mailer-social-image { 
    width: 30px; 
  }
}

@media (min-width: 675px) {
  .mailer-logo { 
    width: 230px; 
  }
  .mailer-group-image { 
    width: 60%; 
  }
  .mailer-assignment-image { 
    width: 35%; 
  }
  .mailer-social-image { 
    width: 45px; 
  }
}
