.container-padding {
  padding-left: 30px;
}

.profile-text-feild {
  height: 50px;
  width: 100%;
}

@media (max-width: 568px) {
  .container-padding {
    padding-left: 0;
  }
  
  .profile-text-feild {
    height: 40px;
    width: 250px;
  }
}

@media (max-width: 576px) {
  .container-padding {
    padding-left: 0;
  }
  
  .profile-text-feild {
    height: 40px;
    width: 275px;
  }
}

@media (max-width: 767px) { 
  .container-padding {
    padding-left: 0;
  }
  
  .profile-text-feild {
    height: 40px;
    width: 275px;
  }
}

.edit-profile-page-astrikstyle {
  color: $danger;
  font-size: 10px;
}

.btn-secondary-profile-page {
  background-color: $green;
  color: $pure-white;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  padding: .5em 3em;
}

.btn-secondary-to-profile-page {
  color: $teal;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  padding: .5em 3em;
  text-decoration: underline;

  &:hover {
    color: $green;
    text-decoration: none;
  }
}

.edit-profile-page-bg {
  background-color: $slightblack;
}
