//newproject-editproject
.projects-new-container {
  border: 1px solid $form-border-grey;
  margin-top: 20px;
  max-width: 80%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.projects-primary-checkpoint {
  max-width: 260px;
}

.projects-tag-form-group {
  h6 {
    display: inline-block;
  }
}

.projects-type-field-heading {
  margin-bottom: 0;
}

.projects-type-field-warning {
  display: block;
  padding-bottom: 15px;
  padding-top: 0;
}

//breakpoints
@media (max-width: 400px) {
  .projects-new-container {
    max-width: 95%;
  }

  .projects-form-container {
    max-width: 90%;
  }
}
//newproject-editproject ends

//project details
.projects-iframe-container {
  border: 1.5px solid $primary-green;
  margin-bottom: 20px;
  padding: 10px;
}

.custom-container {
  max-height: 500px;
}

.projects-details {
  padding-left: 0;
  padding-right: 0;
}

.projects-details-heading {
  color: $black;
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: -2px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.simulator-copy-star-button {
  margin-top: -65px;
  text-align: right;
}

.edit-embed-delete-button {
  text-align: right;
}

.projects-views-count-container {
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: -35px;
  padding-right: 0;
  text-align: right;
}

.projects-star-count-icon {
  color: $star-yellow;
}

.projects-user-details-container {
  padding: 0;

  >p {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    width: 80%;
  }
}

.projects-search-tags-container {
  display: block;
  margin-bottom: 15px;
  margin-top: -38px;
  padding-left: 0;
  text-align: left;
  width: 60%;
}

.projects-details-description {
  height: 150px;
  margin-top: -8px;
  overflow-y: auto;
  padding-top: 5px;
  text-align: left;
  word-wrap: break-word;
}

.projects-horizontal-rule {
  width: 100%;
}

.projects-primary-button {
  margin-left: 0;
  padding: 3px 8px;
}

.projects-others-embed-button {

  &.active {
    background-color: $secondary-green;
  }
}

.projects-button-star-icon {
  height: 25px;
  padding-bottom: 25px;
  padding-top: 8px;
}

.projects-self-embed-button {

  &.active {
    background-color: $secondary-green;
    color: $white;
  }
}

.projects-embed-text-container {
  padding-left: 5px;
}

.projects-embed-text {
  border: 1.5px solid $secondary-green;
  font-size: 12px;
  text-align: left;
}

.projectshow-embed-text-confirmation {
  display: block;
  text-align: right;
}

.projects-collaborators-container {
  background-color: $project-card-grey;
}

.projects-collaborators-heading {
  background-color: $primary-green;
  color: $white;
  font-size: 25px;
  font-weight: 600;
  height: 55px;
  margin-bottom: 10px;
  padding: 10px;
}

.projects-collaborators-data {
  overflow: hidden;
  padding: 5px 15px;
  text-align: left;
  text-overflow: ellipsis;
}

.projects-collaborators-button-container {
  margin-top: -5px;
  padding: 0;
  text-align: center;
}

.projectshow-collaborator-button {
  background-color: $white;
  border: 0;
}

.projects-collaborators-horizontal-rule {
  width: 80%;
}

//breakpoints
@media (max-width: 575px) {
  .projects-collaborators-button-container {
    margin-top: 5px;
  }
}

@media screen and (max-width: 770px) {
  .simulator-copy-star-button {
    margin-top: 0;
    text-align: left;
  }

  .edit-embed-delete-button {
    margin-top: 45px;
    text-align: left;
  }

  .projects-search-tags-container {
    margin-top: -70px;
  }
}

@media screen and (max-width: 500px) {
  .projects-search-tags-container {
    margin-top: -110px;
  }

  .projects-views-count-container {
    text-align: left;
  }
}

@media screen and (max-width: 320px) {
  .edit-embed-delete-button {
    margin-top: 65px;
  }

  .projects-search-tags-container {
    margin-top: -170px;
  }
}

@media screen and (min-width: 500px)  {
  .hide-after-500 {
    display: none;
  }
}

//project details ends

// collaborators tags input
.bootstrap-tagsinput {
  border: 1px solid $secondary-green;
  cursor: text;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  max-height: 180px;
  min-height: 150px;
  overflow-y: scroll;
  padding: .5rem .75rem;
  transition: border-color .15s ease-in-out;
  width: 100%;

  .label-info {
    background-color: $primary-green;
    border-radius: .25rem;
    color: $white;
    display: inline-block;
    margin-bottom: .4em;
    padding: 0 .4em .15em;
	}

  input {
    border: 0;
  }
}

.tag [data-role="remove"]::after {
  content: '\00d7';
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
}

// collaborators tags input closes
