//new project page
.newproject-container {
  background: $slightblack;
  max-width: 80%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.newproject-form-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.newproject-checkbox {
  max-width: 260px;
}

.newproject-checkbox-label {
  h6 {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.newproject-tag-field {
  h6 {
    display: inline-block;
  }
}

.newproject-heading-no-margin {
  margin-bottom: 0;
}

.newproject-warning {
  display: block;
  padding-bottom: 15px;
  padding-top: 0;
}

//breakpoints
@media (max-width: 400px) {
  .newproject-container {
    max-width: 95%;
  }

  .newproject-form-container {
    max-width: 90%;
  }
}
