.projectshow-iframe-container {
  border: 1.5px solid $slight-gray;
  margin-bottom: 20px;
  padding: 10px;
}

.projectshow-iframe {
  border: 1px solid $shadow-black;
  border-radius: 4px;
  padding: 10px;
}

.projectshow-details {
  background-color: $lightgrey;
  padding-left: 0;
  padding-right: 0;
}

.projectshow-details-heading {
  background-color: $green;
  height: 55px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.projectshow-details-heading-container {
  color: $white;
  font-size: 25px;
  font-weight: 600;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectshow-search-tag-container {
  display: block;
  margin-bottom: 15px;
  padding-left: 0;
  text-align: left;
  width: 80%;
}

.projectshow-details-user {
  padding: 0 20px 15px;

  >p {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    width: 80%;
  }
}

.projectshow-details-description {
  height: 150px;
  margin-top: -8px;
  overflow-y: auto;
  padding-top: 0;
  text-align: left;
  word-wrap: break-word;
}

.projectshow-button-primary {
  margin-left: 0;
  padding: 3px 8px;
}

.projectshow-star-icon {
  height: 25px;
  padding-bottom: 25px;
  padding-top: 8px;
}

.projectshow-horizontal-rule {
  width: 100%;
}

.projectshow-embed-text-container {
  padding-left: 5px;
}

.projectshow-embed-text {
  border: 1.5px solid $teal;
  font-size: 12px;
  text-align: left;
}

.projectshow-view-star-count-container {
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-right: 0;
  margin-top: 5px;
  padding-right: 8px;
  text-align: right;
}

.projectshow-embed-text-confirm {
  display: block;
  text-align: right;
}

.projectshow-collaborators-heading {
  background-color: $green;
  color: $white;
  font-size: 25px;
  font-weight: 600;
  height: 55px;
  margin-bottom: 10px;
  padding: 10px;
}

.projectshow-button-embed-other {

  &.active {
    background-color: $teal;
  }
}

.projectshow-button-embed-self {

  &.active {
    background-color: $teal;
    color: $white;
  }
}

.projectshow-collaborator-button {
  background-color: $white;
  border: 0;
}

.projectshow-collaborators-userdata {
  overflow: hidden;
  padding: 5px 15px;
  text-align: left;
  text-overflow: ellipsis;
}

.projectshow-collaborators-userdata-button {
  margin-top: -5px;
  padding: 0;
  text-align: center;
}

.projectshow-collaborators-container {
  background-color: $lightgrey;
}

.projectshow-collaborators-horizontal-rule {
  width: 80%;
}

@media (max-width: 575px) {
  .projectshow-collaborators-userdata-button {
    margin-top: 5px;
  }
}
