
//newproject-editproject
.form-control {
    border-radius: 4px;
}

.projects-primary-checkpoint {
  max-width: 260px;
}

.projects-tag-form-group {
  h6 {
    display: inline-block;
  }
}

.projects-type-field-warning {
  display: block;
  padding-bottom: 15px;
  padding-top: 0;
}

//breakpoints
@media (max-width: 400px) {
  .projects-form-container {
    max-width: 90%;
  }
}
//newproject-editproject ends

//project details
.projects-views-count-container {
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-right: 0;
  margin-top: 5px;
  padding-right: 8px;
  text-align: right;
}

.projects-details-description {
  height: 150px;
  margin-top: -8px;
  overflow-y: auto;
  padding-top: 0;
  text-align: left;
  word-wrap: break-word;
}

.projects-primary-button {
  margin-left: 0;
  padding: 3px 8px;
}

.projects-others-embed-button {

  &.active {
    background-color: $secondary-green;
  }
}

.projects-button-star-icon {
  height: 25px;
  padding-bottom: 25px;
  padding-top: 8px;
}


.projects-embed-text-container {
  padding-left: 5px;
}

.projects-embed-text {
  border: 1.5px solid $secondary-green;
  font-size: 12px;
  outline-color: $secondary-green;
  text-align: left;
}

.embed-container {
  background-color: $slightblack;
}

.projectshow-embed-text-confirmation {
  display: none;
  text-align: right;
}

.embed-input-fields {
  display: flex;

  .col-form-label {
    padding-left: 0;
  }

  b {
    display: block;
    width: 100px;
  }
}

.embed-link-textarea {
  font-size: 12px;
  width: 100%;
}

.projects-collaborators-data {
  overflow: hidden;
  padding: 5px 15px;
  text-align: left;
  text-overflow: ellipsis;
}

.projects-collaborators-button-container {
  margin-top: -5px;
  padding: 0;
  text-align: center;
}

.projectshow-collaborator-button {
  background-color: $white;
  border: 0;
}

.char-counter {
  color: $tooltip-grey;
  font-size: 14px;
  margin: 5px 0 0 auto;
}

//breakpoints
@media (max-width: 575px) {
  .projects-collaborators-button-container {
    margin-top: 5px;
  }
}
//project details ends

