[dir="rtl"] {
  .btn-close {
    margin-right: auto;
    margin-left: 0;
  }

  .text-start {
    text-align: start !important;
  }

  .text-end {
    text-align: end !important;
  }

  .footer-social-icon-text {
    margin-right: 15px;
    margin-left: 0;
  }

  .anchor-text {
    margin-right: 9px;
  }
}