[dir="rtl"] {
  .btn-close {
    margin-right: auto;
    margin-left: 0;
  }

  .text-start {
    text-align: right !important;
  }

  .footer-social-icon-text {
    margin-right: 15px !important;
  }

  .anchor-text {
    margin-right: 9px !important;
  }
}