.results-head {
  margin: 2rem 1rem 0 1.60rem;
}

.no-results {
  margin-left: 1.6rem;
  margin-top: 2rem;
}

.hide {
  display: none;
}

.search-match {
  color: $error-red-font;
}

//navbar search
.navbar-search-bar-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.navbar-search-bar-input {
  border: 1px solid $green;
  margin: 5px;
  min-width: 150px;
  padding: 5px;
  width: 100%;
}

.navbar-search-bar-select {
  background-color: $card-green;
  cursor: pointer;
  margin-bottom: 5px;
}
//navbar search ends

//breakpoints
@media (max-width: 768px) {
  .navbar-search-bar-form {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .navbar-search-bar-form {
    width: 100%;
  }

  .navbar-search-bar-submit {
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar-search-bar-select {
    width: 50px;
  }
}

//to be removed
.button-primary {
  background-color: $green;
  border-radius: 4px;
  color: $white;
  margin: 5px;
  transition: all .3s ease 0s;

  &:hover {
    background-color: $teal;
    box-shadow: 0 8px 15px $shadow-black;
    color: $white;
    transform: translateY(-7px);
  }
}
