.select2-container span.select2-selection--multiple {
  min-height: 150px;
  min-width: 450px;
}

.select2-container ul.select2-selection__rendered li.select2-selection__choice {
  background-color: $green;
  border-radius: .25rem;
  color: $white;
  display: inline-block;
  margin-bottom: .4em;
  padding: 0 .4em .15em;
}

.select2-container ul.select2-selection__rendered span.select2-selection__choice__remove {
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
