/*login/signup css starts*/
.middle-block {
    display: table;
    margin:auto;
  }

   .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
   }

  .custom-submit {
    color: #FFFFFF;
    height: 51px;
    font-size: 22px !important;
    background: #42B983;
    border-radius: 36px !important;
    opacity: 1;
  }

  .password-icon {
    color: #42B983;
    font-size: 30px !important;
    background: transparent;
    opacity: 1;
  }

  .label-text {
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    color: #1C1C1C;
    opacity: 1;
  }

  .help-text {
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    color: #091C13;
  }

  .link-text {
    text-align: left;
    padding-top: 10px;
    text-decoration: underline;
    font-size: 20px;
    letter-spacing: 0;
    color: #42B983;
  }

  .link-text:hover {
    color: #42B983;
  }

  .welcome-text {
    margin-top: 20px;
    text-align: center;
    font-size:25px;
    letter-spacing: 0;
    color: #091C13;
    opacity: 1;
  }
/*login/signup css ends*/