$button-border-radius: 8px;
$post-body-border-radius: 8px;
$avatar-image-border-radius: 8px;
$link-inactive-color: #555;
$link-active-color: #000;
$brand-color: #4ddb9b;
$thread-opened-color: #f29d38;
$button-background-color: #fff;
$button-hover-shadow-color: rgba(77, 219, 155, .5);
$forum-thread-filter-btn-link-hover-background: #f3f4f6;

.simple_discussion {
  margin: 0 auto;
  width: 95%;

  // Primary button for Simple Discussion Forum
  // Background Color filled
  .green-btn {
    background-color: $brand-color;
    border-color: $brand-color;
    border-radius: $button-border-radius;
    color: $button-background-color;

    &:hover {
      // border shadow with blur
      box-shadow: 0 0 0 .2rem $button-hover-shadow-color;
    }
  }

  // Outline button for Simple Discussion Forum
  .green-outline-btn {
    background-color: $button-background-color;
    border-color: $brand-color;
    border-radius: $button-border-radius;
    color: $brand-color;

    &:hover {
      // border shadow with blur
      box-shadow: 0 0 0 .2rem $button-hover-shadow-color;
    }
  }

  .forum-thread-filters {
    // Div inside the forum thread filters link
    .btn-link {
      border-radius: $button-border-radius;
      color: $link-inactive-color;
      cursor: pointer;
      font-weight: 500;
      padding: 10px 12px;

      i {
        margin-right: 14px;
      }
    }

    .btn-link:hover {
      background-color: $forum-thread-filter-btn-link-hover-background;
      color: $link-active-color;
      font-weight: 500;
      text-decoration: none;
    }

    // Main links
    a {
      margin-bottom: 5px;
      text-decoration: none;
      
      .active .btn-link {
        background-color: $forum-thread-filter-btn-link-hover-background;
        color: $link-active-color;
      }
    }
  }

  .custom-select {
    border-radius: $button-border-radius;
  }

  .forum-thread {
    .avatar {
      border-radius: 50%;
    }

    .thread-container {
      text-decoration: none;
      width: 100%;

      .thread-header .thread-title {
        color: #171a1e!important;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1.025px;
        text-decoration: none;
      }

      .thread-header .icons {
        font-weight: 500;
        i {
          margin-right: 5px;
          font-size: 1.2rem;
        }

        .chat-icon {
          i{
            color: #D3DFE2;
          }
        }
        .solved-tag {
          i{
            color: $brand-color;
          }
        }
        .unsolved-tag {
          i{
            color: $thread-opened-color;
          }
        }
      }

      .thread-content{
        text-align: justify;
        color: $link-inactive-color;
        font-weight: 400;
      }

      .thread-author{
        font-weight: 600;
        color: $link-inactive-color;
        span{
          color: #1d1d1d;
        }
      }
    }
  }

  .category-chip{
    height: fit-content;
    padding: 2px 15px;
    font-size: 0.9rem;
    // background-color: #F3F4F6;
    font-weight: 600;
    border-radius: 20px;
    border-width: 0.1px;
    border-style: solid;
  }

  .solved-tag{
    font-weight: 500;
    i{
      color: $brand-color;
      margin-right: 3px;
      font-size: 1.4rem;
    }
  }


  .unsolved-tag{
    font-weight: 500;
    i{
      color: $thread-opened-color;
      margin-right: 3px;
      font-size: 1.4rem;
    }
  }

  .thread-details-custom{
    font-weight: 500;
    color: $link-inactive-color;
    span{
      font-weight: 600;
      color: #1d1d1d;
    }
  }

  .forum-post{
    padding: 10px;
    border-radius: $post-body-border-radius;

    &:hover{
      background-color: #F4F3F3;
    }
  }

  .forum-post .forum-post-header, .form-user-details{
    p{
      padding: 0;
      margin: 0;
    }
    .user-details{
      .user-avatar{
        border-radius: $avatar-image-border-radius;
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        img{
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }
      .details{
        font-weight: 600; 
        .title{
          color: $link-active-color;
        }
        .subtitle{
         color: $link-inactive-color;
         font-size: 0.9rem;
        }
      }
    }

  }

}
