// Place all the styles related to the simulator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap/scss/bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

.moduleProperty input {
  color: #fff;
}

.side {
  max-width: 350px;
  min-width: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 290px;
}
