// Place all the styles related to the simulator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'theme';

$gray-dark: #b9b9b9;
$blue: #337ab7;
$primary: $gray-dark;
$secondary: $blue;

@import 'bootstrap/scss/bootstrap';
@import 'layout';

.alert {
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
