// Place all the styles related to the simulator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'theme';
@import 'bootstrap/scss/bootstrap';
@import 'layout';

// #FIXME move these styles
.alert {
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
