// Bootstrap theming
// Ref: https://getbootstrap.com/docs/4.0/getting-started/theming/

$black: #000000;
$white: #fff;
$primary-green: #42b983;
$secondary-green: #026e57;
$primary-red: #ff5959;
$secondary-red: #c21d1d;
$card-green: #f9fffc;
$shadow-black: #00000029;
$card-grey: #fcfcfc;
$error-red: #fae3e3;
$navbar-dark-grey: #374151;
$footer-dark-grey: #1c1c1c;
$mini-button-blue: #42b9b6;
$form-border-grey: #f2f2f2;
$iframe-container-grey: #707070;
$project-card-grey: #fafafa;
$star-yellow: #ffb60a;
$search-yellow: #ffff00;
$shadow-grey: #d5d5d5;
$form-input-green: #9edcc0;
$form-input-focus-green: rgba(66, 185, 131, 0.25);
$fa-search-grey: #636c72;
$notification-icons: #509580;
$notification-container-boxshadow: #f4f4f4;
//to be removed
$slightblack: #fcfcfc;
$green: #42b983;
$featurepostborder: #cbcbcb;
$tooltip-grey: #333;

// contests
$contest-card-container: #f3f3f3;
$contest-container-status-live-bg: #001b0b;
$contest-container-status-dot-bg: #f4511e;
$contest-header-timer: #2d9cdb;
$contest-ended-button-bg: #e5e5e5;
$contest-ended-button-border-color: #c0c0c0;
$contest-ended-button-color: #afafaf;
$contest-page-line-border: #d9d9d9;
$contest-header-description-color: #4f4f4f;
$contest-danger-primary-button: #dc5656;
$contest-danger-primary-button-hover: #ae4141;