// Bootstrap theming
// Ref: https://getbootstrap.com/docs/4.0/getting-started/theming/

$green: #42B983;
$teal: #026E57;
$gray-100: #F9FFFC;
$primary: $green;
$secondary: $grey-100;
$border-radius: 0.3rem;
$font-familiy-sans-serif: "Open Sans", "Noto Sans";
$input-btn-focus-width: 0.2rem;
