// Bootstrap theming
// Ref: https://getbootstrap.com/docs/4.0/getting-started/theming/

$green: #42b983;
$teal: #026e57;
$gray-100: #f9fffc;
$lightgrey: #fafafa;
$slight-gray: #707070;
$slightblack: #fcfcfc;
$shadow-black: #00000029;
$black: #000000;
$white: #fff;
$primary: $green;
$secondary: $gray-100;
$border-radius: .3rem;
$font-familiy-sans-serif: 'Open Sans', 'Noto Sans';
$input-btn-focus-width: .2rem;
$color-hover: $green;
$active-background: white;
$active-border: $teal;
$button-border-color: #2f8875;
$link-color: #0082ff;
$iframeborder:  rgba(0, 0, 0, .125);
$featurepostborder: #cbcbcb;
$blue: #009dff;
$danger: #c21d1d;
$green-border: #bcdbd3;
$red: #ff5959;
$mint-green: #71cac8;
$pure-white: #fff;
$white-shadow: #e1e1e1;
$lite-shadow:rgba(180, 180, 180, .15);
$white-100:#fafafa;
$white-200: #f1f1f1;
$f-cyan:#2c768f;
$f-teal: #2c8f76;
$f-gray:#56565a ;
$f-blue: #221186;
$f-red: #a50000;
