// Bootstrap theming
// Ref: https://getbootstrap.com/docs/4.0/getting-started/theming/

$green: #42b983;
$teal: #026e57;
$gray-100: #f9fffc;
$lightgrey: #fafafa;
$shadow-black: #00000029;
$black: #000000;
$primary: $green;
$secondary: $gray-100;
$border-radius: .3rem;
$font-familiy-sans-serif: 'Open Sans', 'Noto Sans';
$input-btn-focus-width: .2rem;
$color-hover: $green;
$active-background: white;
$active-border: $teal;
