//to be removed
.primary-button {
  background-color: $primary-green;
  border-radius: 4px;
  color: $white;
  margin: 5px;
  transition: all .3s ease 0s;

  &:hover {
    background-color: $secondary-green;
    box-shadow: 0 8px 15px $shadow-black;
    color: $white;
    transform: translateY(-7px);
  }
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center-row {
  margin-left: auto;
  margin-right: auto;
  max-width: 1344px;
  text-align: center;
}

.form-input {
  background-color: $white;
  border: 1px solid $secondary-green;
  border-radius: 0;
  height: 40px;
}

.primary-checkpoint {
  background-color: $shadow-grey;
  bottom: 0;
  display: inline-block;
  height: 25px;
  margin-top: 15px;
  position: absolute;
  width: 25px;

  &::after {
    content: '';
    display: none;
    position: absolute;
  }
}

.primary-checkpoint-container {
  cursor: pointer;
  display: block;
  position: relative;

  input {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  input:checked ~ .primary-checkpoint {
    background-color: $primary-green;

    &::after {
      border: solid $white;
      border-width: 0 3px 3px 0;
      display: block;
      height: 12px;
      left: 9px;
      top: 5px;
      transform: rotate(45deg);
      width: 8px;
    }
  }
}

.newproject-checkbox-label {
  h6 {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  text-align: left;
}

.error-message {
  background: $error-red;
  border-radius: 4px;
  color: $primary-red;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;

  li {
    text-align: left;
  }
}
//to be removed ends

//passwords
.users-image {
  margin-bottom: 15px;
  margin-top: 30px;
  max-height: 400px;
  max-width: 80%;
}

.users-heading-main {
  margin-bottom: 30px;
}

.users-primary-button {
  padding: 8px 20px;
  margin-left: 0;
  margin-right: 15px;
}

.users-form-container {
  margin-left: 40px;
  margin-top: 30px;
  max-width: 80%;
}

.users-text {
  font-weight: 500;
  padding-right: 10px;
}

//breakpoints
@media (max-width: 768px) {
  .users-image,
  .users-image-text {
    display: none;
  }
}

@media (max-width: 400px) {
  .users-form-container {
    margin-left: 10px;
    margin-top: 15px;
    max-width: 90%;
  }
}
//passwords ends

//shared
.users-shared {
  margin-top: 40px;
}

.users-shared-row {
  width: 100%;
}

.users-social-links {
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
  width: 40px;

  &:hover {
    opacity: .7;
  }
}
//shared ends

//login
#loginModal,
#registerModal {
  .modal-dialog {
    max-width: 800px;
  }
}

.users-popup-row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
.users-remember-me-text {
  display: inline-block;
}

.fa-eye-slash,
.fa-eye {
  color: $secondary-green;
  height: 40px;
  width: 40px;
}

.users-login-password-input {
  border: 0;
}

.users-popup-image-background {
  background-color: $popup-purple;
  margin-left: 0;
  padding-left: 0;
}

.users-popup-image {
  margin-top: 100px;
  width: 100%;
}

.users-forgot-password-text {
  margin-left: auto;
  text-align: right;
}

.users-login-primary-button {
  padding: 8px 25px;
}

#usersLoginError,
#usersSignupError {
  display: none;
}

@media (max-width: 768px) {
  .users-popup-image-background {
    display: none;
  }
}
