<html>

<head>
<title> CircuitVerse - Digital Simulator </title>
<link rel="stylesheet" type="text/css" href="/css/embed.css"/>
</head>

<body onload="setup()">
<script>
    
    <% if @project&.assignment_id.present? %>
     
    <% else %>
     
    <% end %>
</script>
<div>

    <div class="simulation" id="simulation" style="height:100%;width:100%">

        <div id="tabsBar" class="noSelect pointerCursor" style="position: absolute; left: 0; top: 0; z-index: 2">
          <!-- <div> Circuits: </div> -->
        </div>
        <% if @project&.assignment_id.present? && @project&.assignment.elements_restricted? %>
          <div id="restrictedElementsDiv" class="alert alert-danger">
            <div> <span style="font-style: italic"> Restricted elements used: </span> <span id="restrictedElementsDiv--list"> </span></div>
          </div>
        <% end %>
        <div id="MessageDiv" >

        </div>


        <div class="canvasArea" id="canvasArea"  style="height:100%;width:100%">
            <canvas id="backgroundArea" style="position: absolute; left: 0; top: 0; z-index: 0"></canvas>
            <canvas id="simulationArea" style="position: absolute; left: 0; top: 0; z-index: 1; width:100%;height:100%"></canvas>
        </div>
      <div id="elementName">
      </div>

      <div style="position:absolute; right:20px; top:25px; z-index:100" class="noSelect">
        <button type="button" class="btn zoomButton" style="font-size: 25px;" onclick="changeScale(0.2,'zoomButton','zoomButton',2)">
          <span class="fa fa-search-plus" aria-hidden="true" title="Zoom In"></span>
        </button>
      </div>
      <div style="position:absolute; right:20px; top:52px; z-index:100" class="noSelect">
        <button type="button" class="btn zoomButton" style="font-size: 25px;" onclick="changeScale(-0.2,'zoomButton','zoomButton',2)">
          <span class="fa fa-search-minus" aria-hidden="true" title="Zoom Out"></span>
        </button>
      </div>
      <div style="position:absolute; right:60px; top:25px; z-index:100" class="clockPropertyHeader noSelect">

        <div id ="clockProperty" >
        </div>
      </div>
      <div class="sk-folding-cube loadingIcon" style="display:inline-block;position:absolute; right:50%; bottom:50%; z-index:100">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>

        <!-- <div id="plot" >
            <canvas id="plotArea" style="position: absolute; left: 0; top: 0; z-index: 1; width:100%"></canvas>
        </div> -->
      <% if @external_embed  == true %>
        <div id="bottom_right_watermark">

          <a style="text-decoration:none;
              position: fixed;
              bottom: 0px;
              right: 25px;
              padding: 8px;
              font-family: Verdana;
              font-size: 12px;
              color: grey;
              z-index: 2;"
             href= "/users/<%=@author%>/projects/<%=@logix_project_id%>"
             target="_blank">
            Made With CircuitVerse
          </a>

        </div>
      <% end %>


    </div>


</div>


<!-- <script src="/js/SAP_DATA.js"></script> -->
<script type="text/javascript">
    logix_project_id = '<%= @logix_project_id %>'
        embed=true;
        <% if @project&.assignment_id.present? %>
          restrictedElements = JSON.parse('<%= raw @project&.assignment.restrictions %>');
        <% else %>
          restrictedElements = [];
        <% end %>

 </script>
 <script src="/js/engine.js"></script>
 <script src="/js/logix.js"></script>
 <script src="/js/Node.js"></script>
 <script src="/js/wire.js"></script>
 <script src="/js/subcircuit.js"></script>
 <script src="/js/modules.js"></script>
 <script src="/js/RGBLedMatrix.js"></script>
 <script src="/js/sequential.js"></script>
 <script src="/js/ram.js"></script>
 <script src="/js/eeprom.js"></script>
 <script src="/js/Counter.js"></script>
 <script src="/js/canvasApi.js"></script>
 <script src="/js/data.js"></script>
 <script src="/js/embedListeners.js"></script>
 <script src="/js/embed.js"></script>
 <script src="/js/testBench.js"></script>
    <script src="/js/eventQueue.js"></script>
    <script src="/js/utils.js"> </script>
    <script type="text/javascript" src="/js/metadata.json"></script>



<!-- <script src="/js/canvas2svg.js"></script> -->


</body>

</html>
