.display--none {
  display: none;
}

.circuit-element-category {
  border-bottom: 1px solid #026e57;
  font-weight: 500;
  margin: 20px 0 5px;
  padding-bottom: 5px;
}

.restricted-elements-list {
  margin: 10px 0 25px;
}

.form-check-label {
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: 6px;
}
