<div class="row center-row">
  <div class="col col-sm col-md col-lg">
    <div class="contribute-pay-card-container">
      <p><%= @description %></p>
      <%= link_to @link, target: "_blank", rel: "noopener noreferrer" do %>
        <div class="contribute-pay-card">
          <%= image_tag @image_path, alt: @alt_text %>
        </div>
      <% end %>
    </div>
  </div>
</div>
