name: Simulator Testing

on:
  push:
    branches: [master]
    paths:
      - "simulator/**"
      - "package.json"
      - "yarn.lock"
      - "esbuild.config.js"
      - "jest.config.js"
  pull_request:
    branches: [master]
    paths:
      - "simulator/**"
      - "package.json"
      - "yarn.lock"
      - "esbuild.config.js"
      - "jest.config.js"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn

      - name: Run the tests
        run: yarn test
