name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: ' No activity on this issue for a prolonged duration, will be closed if no further activities in next 7 days'
        stale-pr-message: ' No activity on this PR for a prolonged duration, will be closed if no further activities in next 7 days'
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
        exempt-issue-labels: 'enhancement, Feature, good first issue, help wanted, pending-product-review'
        exempt-pr-labels: 'enhancement, Feature, help wanted, pending-product-review, Simulator, New_UI'
          