<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <img src="/assets/v2/CircuitVerse.png"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedNavbar"
    aria-controls="collapsedNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsedNavbar">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item px-1">
        <button class="btn btn-outline-success my-2 my-sm-0 rounded-0 simulator" type="submit">Simulator</button>
      </li>
      <li class="nav-item px-1 active">
        <a class="nav-link" href="#">Learn</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Documentation</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Examples</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Contribute</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Teachers</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>