<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <%= image_tag("CircuitVerse.png", class: "logo", alt: "CircuitVerse Logo") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedNavbar"
          aria-controls="collapsedNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsedNavbar">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item px-2">
        <button class="btn btn-outline-success my-2 my-sm-0 rounded-0 simulator text-dark" type="submit">Simulator</button>
      </li>
      <li class="nav-item px-2 active">
        <a class="nav-link text-dark" href="#">Learn</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link text-dark" href="#">Documentation</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link text-dark" href="#">Examples</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link text-dark" href="#">Contribute</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link text-dark" href="#">Teachers</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link text-dark" href="#">About</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item px-2">
          <a class="nav-link text-dark" href="<%= notifications_path(current_user) %>">
            Notifications
          </a>
        </li>
      <% else %>
        <li class="nav-item px-2">
          <a class="nav-link text-dark" href="/users/sign_in">Login</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
