<p><%= t("users.mailer.user_welcome_msg", email: @email) %></p>

<p><%= t("users.mailer.confirm_account_description") %></p>

<p><%= link_to t("users.mailer.link_to_confirm_account"), user_confirmation_url(confirmation_token: @token) %></p>
