<p><%= t("users.mailer.user_welcome_msg", email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("users.mailer.email_changed_msg", email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t("users.mailer.email_changed_msg", email: @resource.email) %></p>
<% end %>
